<li class="dropdown-item">
  <a class="task" href="#"
     data-href="{% url "document:detect-field-values" %}"
     data-btn-text="Process">
    <i class="fa fa-object-group"></i>
    Documents: Detect Field Values
  </a>
</li>
<li class="dropdown-item">
  <a class="task" href="#"
     data-href="{% url "document:train-document-field-detector-model" %}"
     data-btn-text="Process">
    <i class="fa fa-object-group"></i>
    Documents: Train Field Detector Model
  </a>
</li>
<li class="dropdown-item">
  <a class="task" href="#"
     data-href="{% url "document:train-document-field" %}"
     data-btn-text="Process">
    <i class="fa fa-object-group"></i>
    Documents: Train Field
  </a>
</li>
<li class="dropdown-item">
  <a class="task" href="#"
     data-href="{% url "document:cache-document-fields" %}"
     data-btn-text="Process">
    <i class="fa fa-object-group"></i>
    Documents: Cache Field Values
  </a>
</li>
