{% extends "base_list_ajax.html" %}
{% load static %}

{% block add_button %}
  {% if not user.is_reviewer %}
    <a class="btn-u btn-sm btn-s" href="{% url "project:project-add" %}">Create</a>
  {% endif %}
{% endblock %}

{% block js_extra %}
  {{ block.super }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      var datafields = [
        { name: 'pk', type: 'int' },
        { name: 'name', type: 'string' },
        { name: 'type__title', type: 'string' },
        { name: 'status__name', type: 'string' },
        { name: 'total_documents_count', type: 'int' },
        { name: 'completed_documents_count', type: 'int' },
        { name: 'progress', type: 'float' },
        { name: 'url', type: 'string' }
      ];
      var menu_renderer = function (row_number, event) {
        var grid = $(event.currentTarget).parents('.jqxgrid');
        var row = grid.jqxGrid('getrowdata', row_number);
        var menu_data = [
          { url: row.url,
            icon: 'fa fa-pencil',
            text: 'Update Project' }
        ];
        show_menu(menu_data, grid, row.pk);
      };
      var columns = [
        { text: 'Name', datafield: 'name', width: '30%',
          align: 'center', cellsalign: 'center',
          cellsrenderer: defaultLinkFormatter },
        { text: 'Type', datafield: 'type__title', width: 'auto',
          align: 'center', cellsalign: 'center' },
        { text: 'Status', datafield: 'status__name', width: 'auto',
          align: 'center', cellsalign: 'center' },
        { text: 'Documents', datafield: 'total_documents_count', width: 100,
          align: 'center', cellsalign: 'center' },
        { text: 'Progress', datafield: 'progress', width: 100,
          cellsrenderer: knob_cellsrenderer,
          align: 'center', cellsalign: 'center' },
        { text: 'Action', datafield: 'edit_url', width: 60,
          align: 'center', exportable: false,
          columntype: 'button',
          sortable: false, filterable: false, menu: false,
          cellsrenderer: function(){return 'Menu'},
          buttonclick: menu_renderer
        }
      ];

      var custom_grid_options = {
        rowsheight: 60,
        pageable: true
      };

      draw_grid(".jqxgrid", datafields, columns, true, null, custom_grid_options);
    })
  </script>
{% endblock %}
