{% extends "admin/change_form.html" %}

{% block content %}
    <div class="alert alert-block alert-warning">
        {% if adminform.form.instance.pk %}
            <b>To test the notification rendering leave it disabled
                and open one of the following links in separate browser tabs:</b>
            <ul>
                <li><a href="{% url 'notifications:render-notification' adminform.form.instance.pk 'html' %}">HTML
                    version</a></li>
                <li><a href="{% url 'notifications:render-notification' adminform.form.instance.pk 'txt' %}">text
                    version</a></li>
            </ul>

        {% else %}
            <b>To generate links for testing the notification rendering uncheck "enabled" and click "Save and continue".
            </b>
        {% endif %}
        <br/><b>Email templates and images are customizable via file-browser. See: <a href="{% url 'filebrowser:fb_browse' %}?dir=notification_templates">Tasks / Browse/Upload Documents /
        notification_templates</a></b>
    </div>
    {{ block.super }}
{% endblock %}


{% block extrajs %}
    {{ block.super }}
{% endblock %}
