cluster.name: docker_cluster
node.name: ${DOLLAR}{HOSTNAME}
node.master: true
node.data: true
node.ingest: true
node.max_local_storage_nodes: 1
path.data: /usr/share/elasticsearch/data
network.host: ${DOLLAR}{HOSTNAME}
network.bind_host: 0.0.0.0
transport.tcp.port: 9300
http.port: 9200
cluster.initial_master_nodes: ["${DOLLAR}{HOSTNAME}"]



