server.name: kibana
server.host: "0"
server.basePath: "${DOCKER_KIBANA_BASE_PATH}"
elasticsearch.hosts: [ "http://${DOCKER_HOST_NAME_ELASTICSEARCH}:${DOCKER_ELASTICSEARCH_PORT}" ]

elastalertKibanaPlugin.serverSsl: false
elastalertKibanaPlugin.serverHost: "${DOCKER_HOST_NAME_ELASTALERT_SERVER}"
elastalertKibanaPlugin.serverPort: "${DOCKER_ELASTALERT_SERVER_PORT}"
