server {

    server_name ${DOCKER_NGINX_SERVER_NAME};

    listen 8080;

    charset     utf-8;
    client_max_body_size 1024M;
    sendfile on;
    keepalive_timeout 0;

    # this is the internal Docker DNS
    resolver 127.0.0.11;

    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
    proxy_cookie_path / "/; HTTPOnly; Secure";

${NGINX_EXTERNAL_ROUTES}

    include /etc/nginx/server_include/*.conf;

    include /etc/nginx/nginx-customer.conf;

}
