server {

    server_name ${DOCKER_NGINX_SERVER_NAME};

    listen 80;

    charset     utf-8;
    client_max_body_size 5120M;
    sendfile on;
    keepalive_timeout 0;


    location /media/data/ {
        root /data;
        autoindex on;
        autoindex_format json;
    }

}
