# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*

# IPython Notebook
.ipynb_checkpoints
*.ipynb

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

**/.idea/*
**/samples

# deploy
*local_settings.py
*local.py
*base_fabricrc
*fabricrc
*.pem

# logs, pid files
celery_log
*.log
log.txt
*.pid

**/media/
staticfiles