{% extends "base_list_ajax.html" %}
{% load static %}

{% block js_extra %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function () {
      var datafields = [
        { name: 'pk', type: 'int' },
        { name: 'text_unit__document__name', type: 'string' },
        { name: 'text_unit__document__document_type', type: 'string' },
        { name: 'text_unit__document__description', type: 'string' },
        { name: 'court__name', type: 'string' },
        { name: 'court__abbreviation', type: 'string' },
        { name: 'count', type: 'int' },
        { name: 'text_unit__text', type: 'string' },
        { name: 'url', type: 'string' },
        { name: 'detail_url', type: 'string' }
      ];
      var menu_renderer = function(row, event) {
        var grid = $(event.currentTarget).parents('.jqxgrid');
        row = grid.jqxGrid('getrowdata', row);
        var menu_data = [
          {url: row.url,
            icon: 'fa fa-file-text-o',
            text: 'View Document'},
          {url: row.detail_url,
            icon: 'fa fa-info-circle',
            text: 'View Text Unit'}
        ];
        show_menu(menu_data, grid, row.pk);
      };
      var columns = [
        { text: 'Name', datafield: 'text_unit__document__name', width: 300,
          align: 'center', cellsalign: 'left', enabletooltips: true,
          cellsrenderer: defaultLinkFormatter, columngroup: 'Document' },
        { text: 'Type', datafield: 'text_unit__document__document_type', width: 100,
          align: 'center', cellsalign: 'center', columngroup: 'Document' },
        { text: 'Name', datafield: 'court__name', width: 200,
          align: 'center', cellsalign: 'center', columngroup: 'Court' },
        { text: 'Abbreviation', datafield: 'court__abbreviation', width: 100,
          align: 'center', cellsalign: 'center', columngroup: 'Court' },
        { text: 'Count', datafield: 'count', width: 80,
          align: 'center', cellsalign: 'center' },
        { text: 'Text Unit', datafield: 'text_unit__text', width: 'auto', minwidth: 300,
          align: 'center', cellsalign: 'center' },
        { text: 'Action', datafield: 'url', width: 60,
          align: 'center', exportable: false,
          columntype: 'button',
          sortable: false, filterable: false, menu: false,
          cellsrenderer: function(){return 'Menu'},
          buttonclick: menu_renderer }
      ];
      var custom_grid_options = {
        columngroups: [
          { text: 'Document', name: 'Document', align: 'center' },
          { text: 'Court', name: 'Court', align: 'center' }
        ]
      };
      draw_grid(".jqxgrid", datafields, columns, true, null, custom_grid_options);
    });
  </script>
{% endblock %}
