{% extends "base.html" %}
{% load static %}

{% block title %}Date Usage Calendar{% endblock %}

{% block page_header %}Date Usage Calendar{% endblock %}

{% block css_extra %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.min.css">
  <link rel="stylesheet" href="{% static "css/components/radio-checkbox.css" %}" type="text/css" />
{% endblock %}

{% block content %}
  <select name="document_id" data-placeholder="Filter by a document..." required="" id="document_id" class="doc_chosen">
    <option></option>
    <option value="">View data for all documents</option>
    {% for document in documents %}
      <option value="{{ document.pk }}">{{ document.name }}</option>
    {% endfor %}
  </select>

  <p></p>

  <div id="period-container">
    {% for period in periods %}
    <div>
      <input id="period-{{ forloop.counter }}" class="radio-style" name="period" value="{{ period.start }}-{{ period.end }}" type="radio" {% if period.checked %}checked="checked"{% endif %}>
      <label for="period-{{ forloop.counter }}" class="radio-style-2-label">{{ period.start }}-{{ period.end }}</label>
    </div>
    {% endfor %}
 </div>

{#  <select name="period" data-placeholder="Filter by period..." required="" id="period" class="chosen">#}
{#    <option></option>#}
{#    {% for period in periods %}#}
{#      <option value="{{ period.start }}-{{ period.end }}" checked="{% if period.checked %}checked{% endif %}">{{ period.start }}-{{ period.end }}</option>#}
{#    {% endfor %}#}
{#  </select>#}

  <div class="loader-container">
    <div class="loader"></div>
    <span>Loading...</span>
  </div>

  <div id="calendar" style="margin-top: 40px;"></div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $.ajaxSetup({ cache: false });

      $('select.doc_chosen:enabled')
          .chosen({width: "50%"})
          .change(function(ev) {
              draw_calendar();
          });

      $('[name="period"]').change(function(ev){
        draw_calendar()
      });
      var width = 960,
          height = 136,
          cellSize = 17;

      var color = d3.scaleQuantize()
          .domain([-0.05, 0.05])
          .range(["#a50026", "#d73027", "#f46d43", "#fdae61", "#fee08b", "#ffffbf", "#d9ef8b", "#a6d96a", "#66bd63", "#1a9850", "#006837"]);

      function pathMonth(t0) {
        var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
            d0 = t0.getDay(), w0 = d3.timeWeek.count(d3.timeYear(t0), t0),
            d1 = t1.getDay(), w1 = d3.timeWeek.count(d3.timeYear(t1), t1);
        return "M" + (w0 + 1) * cellSize + "," + d0 * cellSize
            + "H" + w0 * cellSize + "V" + 7 * cellSize
            + "H" + w1 * cellSize + "V" + (d1 + 1) * cellSize
            + "H" + (w1 + 1) * cellSize + "V" + 0
            + "H" + (w0 + 1) * cellSize + "Z";
      }

      var draw_calendar = function(){
       $('#calendar').empty();
        $('.loader-container').show();

        var document_id = $('#document_id').val();
        var period = $('[name="period"]:checked').val();

        if (document_id != ""){
          $('#period-container').hide()
        }
        else {
          $('#period-container').show()
        }

        d3.request('{% url 'extract:date-usage-calendar' %}?document_id=' + document_id + '&period=' + period)
            .header("X-Requested-With", "XMLHttpRequest")
            .header("Content-Type", "application/x-www-form-urlencoded")
            .response(function(xhr) { return JSON.parse(xhr.responseText); })
            .get('a=b', function(response) {
              if (!response){
                $('.loader-container').hide();
                $('#calendar').text('No data');
                return
              }
              var data = d3.nest()
                  .key(function (d) {
                    return d.date;
                  })
                  .rollup(function (d) {
                    return d[0]
                  })
                  .object(response.data);

              var svg = d3.select("#calendar")
                  .selectAll("svg")
                  .data(response.years)
                  .enter().append("svg")
                  .attr("width", width)
                  .attr("height", height)
                  .append("g")
                  .attr("transform", "translate(" + ((width - cellSize * 53) / 2) + "," + (height - cellSize * 7 - 1) + ")");

              svg.append("text")
                  .attr("transform", "translate(-6," + cellSize * 3.8 + ")rotate(-90)")
                  .attr("font-family", "sans-serif")
                  .attr("font-size", 15)
                  .attr("text-anchor", "middle")
                  .text(function(d) { return d; });

              var rect = svg.append("g")
                  .attr("fill", "none")
                  .attr("stroke", "#ccc")
                  .selectAll("rect")
                  .data(function(d) { return d3.timeDays(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
                  .enter().append("rect")
                  .attr("width", cellSize)
                  .attr("height", cellSize)
                  .attr("x", function(d) { return d3.timeWeek.count(d3.timeYear(d), d) * cellSize; })
                  .attr("y", function(d) { return d.getDay() * cellSize; })
                  .datum(d3.timeFormat("%Y-%m-%d"))
                  .on('click', function(d, i) {
                    window.location.href = data[d].url;
                  });

              svg.append("g")
                  .attr("fill", "none")
                  .attr("stroke", "#000")
                  .selectAll("path")
                  .data(function(d) { return d3.timeMonths(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
                  .enter().append("path")
                  .attr("d", pathMonth);

              rect.filter(function (d) {
                return d in data;
              })
                  .attr("fill", function (d) {
                    return color(data[d].weight);
                  })
                  .append("title")
                  .text(function (d) {
                    return d + ': ' + data[d].count;
                  });

              // hide the "loading..."
              $('.loader-container').hide();

            });

      };

      draw_calendar();
    })
  </script>
{% endblock %}
