{% extends "base_list_ajax.html" %}
{% load static %}

{% block js_extra %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function () {
      var datafields = [
        { name: 'pk', type: 'int' },
        { name: 'text_unit__document__project__name', type: 'string' },
        { name: 'text_unit__document__name', type: 'string' },
        { name: 'text_unit__document__document_type__title', type: 'string' },
        { name: 'text_unit__document__description', type: 'string' },
        { name: 'amount', type: 'int' },
        { name: 'amount_str', type: 'string' },
        { name: 'duration_type', type: 'string' },
        { name: 'duration_days', type: 'float' },
        { name: 'count', type: 'int' },
        { name: 'text_unit__textunittext__text', type: 'string' },
        { name: 'url', type: 'string' },
        { name: 'detail_url', type: 'string' }
      ];
      var menu_renderer = function(row, event) {
        var grid = $(event.currentTarget).parents('.jqxgrid');
        row = grid.jqxGrid('getrowdata', row);
        var menu_data = [
          {url: row.url,
            icon: 'fa fa-file-text-o',
            text: 'View Document'},
          {url: row.detail_url,
            icon: 'fa fa-info-circle',
            text: 'View Text Unit'}
        ];
        show_menu(menu_data, grid, row.pk);
      };
      var columns = [
        { text: 'Project', datafield: 'text_unit__document__project__name', width: 100,
          align: 'center', cellsalign: 'center', columngroup: 'Document' },
        { text: 'Name', datafield: 'text_unit__document__name', width: 300,
          align: 'center', cellsalign: 'left', enabletooltips: true,
          cellsrenderer: defaultLinkFormatter, columngroup: 'Document' },
        { text: 'Type', datafield: 'text_unit__document__document_type__title', width: 100,
          align: 'center', cellsalign: 'center', columngroup: 'Document' },
{#        { text: 'Description', datafield: 'text_unit__document__description',#}
{#          width: 200, enabletooltips: true, columngroup: 'Document',#}
{#          align: 'center', cellsalign: 'center' },#}
        { text: 'Value', datafield: 'amount', width: 70,
          align: 'center', cellsalign: 'center', columngroup: 'Duration' },
        { text: 'String', datafield: 'amount_str', width: 150,
          align: 'center', cellsalign: 'center', columngroup: 'Duration' },
        { text: 'Type', datafield: 'duration_type', width: 100,
          align: 'center', cellsalign: 'center', columngroup: 'Duration' },
        { text: 'Days', datafield: 'duration_days', width: 70,
          align: 'center', cellsalign: 'center', columngroup: 'Duration' },
        { text: 'Count', datafield: 'count', width: 70,
          align: 'center', cellsalign: 'center' },
        { text: 'Text Unit', datafield: 'text_unit__textunittext__text', sortable: false, width: 'auto',
          align: 'center', cellsalign: 'center' },
        { text: 'Action', datafield: 'url', width: 60,
          align: 'center', exportable: false,
          columntype: 'button',
          sortable: false, filterable: false, menu: false,
          cellsrenderer: function(){return 'Menu'},
          buttonclick: menu_renderer }
      ];
      var custom_grid_options = {
        columngroups: [
          { text: 'Document', name: 'Document', align: 'center' },
          { text: 'Duration', name: 'Duration', align: 'center' }
        ]
      };
      draw_grid(".jqxgrid", datafields, columns, true, null, custom_grid_options);
    });
  </script>
{% endblock %}
