{% extends "base.html" %}
{% load static %}

{% block title %}Party Network Chart{% endblock %}

{% block page_header %}Party Network Chart{% endblock %}

{% block css_extra %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.min.css">
  <style>
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }
    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }
  </style>
{% endblock %}

{% block content %}

  <select name="party_name" data-placeholder="Party name..." required="" id="party_name" class="chosen">
    <option></option>
    {% for party_name in parties %}
      <option value="{{ party_name }}" {% if forloop.first %}selected="selected"{% endif %}>{{ party_name }}</option>
    {% endfor %}
  </select>

  <div id="chart" style="margin-top: 40px;">
    <svg width="960" height="600"></svg>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $.ajaxSetup({ cache: false });

      $('select.chosen:enabled')
          .chosen({width: "50%"})
          .change(function(ev) {
              draw_chart();
          });

      var draw_chart = function(){

        $('#chart svg').empty();
        var party_name = $('#party_name').val();

        var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height");

        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(100))
            .force("center", d3.forceCenter(width / 2, height / 2))
            {#          .force("forceX", d3.forceX().strength(.1).x(width * .5))#}
            {#          .force("forceY", d3.forceY().strength(.1).y(height * .5))#}
            {#          .force("center", d3.forceCenter().x(width * .5).y(height * .5))#}
            .force("charge", d3.forceManyBody().strength(-10));

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.1).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }

        d3.request('{% url 'extract:party-network-chart' %}?party_name_iexact=' + party_name)
            .header("X-Requested-With", "XMLHttpRequest")
            .header("Content-Type", "application/x-www-form-urlencoded")
            .response(function(xhr) { return JSON.parse(xhr.responseText); })
            .get('', function(graph) {

              var link = svg.append("g")
                  .attr("class", "links")
                  .selectAll("line")
                  .data(graph.links)
                  .enter().append("line")
                  .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

              var node = svg.append("g")
                  .attr("class", "nodes")
                  .selectAll("circle")
                  .data(graph.nodes)
                  .enter().append("circle")
                  .attr("r", 5)
                  .attr("fill", function(d) { return color(d.group); })
                  .call(d3.drag()
                      .on("start", dragstarted)
                      .on("drag", dragged)
                      .on("end", dragended))
                  .on('click', function(d, i) {
                    window.location.href = d.url;
                  });

              node.append("title")
                  .text(function(d) { return d.id; });

              simulation
                  .nodes(graph.nodes)
                  .on("tick", ticked);

              simulation.force("link")
                  .links(graph.links);

              function ticked() {
                link
                    .attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

                node
                    .attr("cx", function(d) { return d.x; })
                    .attr("cy", function(d) { return d.y; });
              }
            });
      };

      draw_chart();
    })
  </script>
{% endblock %}
