{% extends "base_list_ajax.html" %}
{% load static project_tags %}

{% block title %}Top {{ model_name_plural|capwords }}{% endblock %}

{% block page_header %}Top {{ model_name|capwords }} List{% endblock %}

{% block js_extra %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function () {
      var datafields = [
        { name: 'duration', type: 'int' },
        { name: 'duration_str', type: 'string' },
        { name: 'count', type: 'int' },
        { name: 'url', type: 'string' }
      ];
      var columns = [
        { text: 'Duration (days)', datafield: 'duration', width: 'auto',
          align: 'center', cellsalign: 'center' },
        { text: 'Duration (value)', datafield: 'duration_str', width: 'auto',
          align: 'center', cellsalign: 'center',
          cellsrenderer: defaultLinkFormatter },
        { text: 'Count', datafield: 'count', width: 'auto',
          align: 'center', cellsalign: 'center' }
      ];
      draw_grid(".jqxgrid", datafields, columns, false);
    });
  </script>
{% endblock %}
