<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="border: 0; margin: 0; outline: 0; padding: 0; text-decoration: none;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
@media (-webkit-min-device-pixel-ratio: 1.25),
      (min-resolution: 120dpi),
      all and (max-width: 768px) {}
@media all and (max-width: 600px) {
  body[override] table.Wrapper,
body[override] table.Width.Width--mobile {
    min-width: 100% !important;
    width: 100% !important;
  }

  body[override] td.Spacer.Spacer--gutter {
    width: 32px !important;
  }

  body[override] td.Spacer.Spacer--emailEnd {
    height: 32px !important;
  }

  body[override] td.Font.Font--title,
body[override] td.Font.Font--title span,
body[override] td.Font.Font--title a {
    font-size: 28px !important;
    line-height: 36px !important;
  }

  body[override] td.Font.Font--header,
body[override] td.Font.Font--header span,
body[override] td.Font.Font--header a {
    font-size: 24px !important;
    line-height: 32px !important;
  }

  body[override] td.Font.Font--body,
body[override] td.Font.Font--body span,
body[override] td.Font.Font--body a {
    font-size: 18px !important;
    line-height: 28px !important;
  }

  body[override] td.Font.Font--caption,
body[override] td.Font.Font--caption span,
body[override] td.Font.Font--caption a {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  body[override] table.Header td.Header-background div.Header-area {
    margin: 0 auto !important;
    width: auto !important;
    background-position: 0 0 !important;
  }

  body[override] table.Header.Header--simplified td.Header-logo {
    width: auto !important;
  }

  body[override] table.Header.Header--simplified td.Header-spacing {
    width: 0 !important;
  }

  body[override] table.Divider td.Spacer.Spacer--gutter,
body[override] tr.Divider td.Spacer.Spacer--gutter {
    background-color: #e6ebf1;
  }

  body[override] table.Blocks table.Blocks-inner {
    border-radius: 0 !important;
  }

  body[override] table.Blocks table.Blocks-inner table.Blocks-item td.Blocks-item-cell {
    display: block !important;
  }

  body[override] table.Button {
    margin: 0 auto !important;
    width: 100% !important;
  }

  body[override] table.Button td.Button-area,
body[override] table.Button td.Button-area a.Button-link,
body[override] table.Button td.Button-area span.Button-internal {
    height: 44px !important;
    line-height: 44px !important;
    font-size: 18px !important;
    vertical-align: middle !important;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.25),
      (min-resolution: 120dpi),
      all and (max-width: 768px) {}
</style>
  </head>
  <body class="Email" bgcolor="ffffff" override="fix" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; border: 0; margin: 0; outline: 0; padding: 0; text-decoration: none;">
    <table class="Preheader Width Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px; display: none;">
      <tbody>
        <tr>
          <td align="center" height="0" style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
            <span class="Delink Delink--preheader" style="border: 0; margin: 0; outline: 0; padding: 0; text-decoration: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
              Reset your ContraxSuite password with the click of a button. 

              <!-- Prevents elements showing up in email client preheader text -->
‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌

              <!-- /Prevents elements showing up in email client preheader text -->
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="Background" bgcolor="f4f6f9" border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 0; margin: 0; padding: 0;">
      <tbody>
        <tr>
          <td style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
            <table class="Banner--wrapper" align="center" bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-bottom: 1px solid #d8dde6;">
                <tbody>
                  <tr>
                    <td style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                      <table class="Banner" align="center" bgcolor="#fff" width="600" style="margin: auto; height: 48px; padding: 0; display: flex; flex-direction: row; justify-content: space-between; align-items: center; background-color: #fff;" height="48">
                          <tr>
                            <td style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                              <table align="center" cellpadding="0" cellspacing="0" width="300">
                                  <a href="https://contraxsuite.com" style="border: 0; margin: 0; outline: 0; padding: 0; text-decoration: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                                    <span class="Banner--site-name" width="300" align="left" style="color: #16325c; font-size: 18px; font-weight: bold; border: 0; margin: 0; outline: 0; padding: 0; text-decoration: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                                      ContraxSuite
                                    </span>
                                  </a>
                              </table>
                            </td>
                            <td class="Banner--site-name" width="300" align="right" style="color: #16325c; font-size: 18px; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                              <a href="https://{{ domain }}" style="text-decoration: none; color: #16325c;"><strong>{{ domain }}</strong></a>
                            </td>
                          </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
            </table>
            <table class="Wrapper" align="center" bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" width="600" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; margin: 0 auto; min-width: 600px;">
              <tbody>
                <tr>
                  <td style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                    <table class="Header Header--simplified Width Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                      <tbody>
                        <tr>
                          <td colspan="4" height="36" bgcolor="f4f6f9" style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>

                        <tr>
                          <td class="Spacer Spacer--top" colspan="4" height="32" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: #d8dde6; border-top-left-radius: 3px; border-top-right-radius: 3px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="Copy Width Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                      <tbody>
                        <tr>
                          <td class="Spacer Spacer--gutter left" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                          <td class="Font Font--body" style="border: 0; margin: 0; padding: 0; font-size: 16px; line-height: 24px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #525F7f;">
                            Hello <a href="" style="text-decoration: none; color: #525F7f;"><strong>{{ email }}</strong></a>,
                          </td>
                          <td class="Spacer Spacer--gutter right" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="Spacer Spacer--stacked" colspan="3" height="12" style="margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="Copy Width Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                      <tbody>
                        <tr>
                          <td class="Spacer Spacer--gutter left" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                          <td class="Font Font--body" style="border: 0; margin: 0; padding: 0; font-size: 16px; line-height: 24px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #525F7f;">
                            You or someone else requested a password reset for your user account at <a href="https://{{ domain }}" style="text-decoration: none; color: #525F7f;"><strong>{{ domain }}</strong></a>.
                          </td>
                          <td class="Spacer Spacer--gutter right" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="Spacer Spacer--stacked" colspan="3" height="12" style="margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="Copy Width Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                      <tbody>
                        <tr>
                          <td class="Spacer Spacer--gutter left" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                          <td class="Font Font--body" style="border: 0; margin: 0; padding: 0; font-size: 16px; line-height: 24px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #525F7f;">
                            <table class="Button Button--fullWidth" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td align="center" class="Button-area" height="38" valign="middle" style="border: 0; margin: 0; padding: 0; background-color: #3661eb; border-radius: 3px; text-align: center; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;" bgcolor="#3661eb">
                                    <a class="Button-link" href="https://{{ domain }}/#/reset_password/?uid={{ uid }}&token={{ token }}" style="color: #ffffff; display: block; height: 38px; text-align: center; border: 0; margin: 0; outline: 0; padding: 0; text-decoration: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                                      <span class="Button-internal" style="color: #ffffff; font-size: 16px; font-weight: bold; height: 38px; line-height: 38px; mso-line-height-rule: exactly; vertical-align: middle; white-space: nowrap; width: 100%; border: 0; margin: 0; outline: 0; padding: 0; text-decoration: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                                        Reset<span class="Hyphen" style="font-size: 12px; color: #3661eb; border: 0; margin: 0; outline: 0; padding: 0; text-decoration: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">‑</span>your<span class="Hyphen" style="font-size: 12px; color: #3661eb; border: 0; margin: 0; outline: 0; padding: 0; text-decoration: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">‑</span>ContraxSuite<span class="Hyphen" style="font-size: 12px; color: #3661eb; border: 0; margin: 0; outline: 0; padding: 0; text-decoration: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">‑</span>password
                                      </span>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="Spacer Spacer--gutter right" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="Spacer Spacer--stacked" colspan="3" height="12" style="margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="Copy Width Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                      <tbody>
                        <tr>
                          <td class="Spacer Spacer--gutter left" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                          <td class="Font Font--body" style="border: 0; margin: 0; padding: 0; font-size: 16px; line-height: 24px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #525F7f;">
                            No changes have been made to your account yet. If you did not request a new password, please let us know immediately by replying to this email. 
                          </td>
                          <td class="Spacer Spacer--gutter right" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="Spacer Spacer--stacked" colspan="3" height="12" style="margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="Copy Width Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px; table-layout: fixed;">
                        <tbody>
                          <tr>
                            <td class="Spacer Spacer--gutter left" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                              <div class="Spacer Spacer--filler"> </div>
                            </td>
                            <td class="Font Font--body" style="border: 0; margin: 0; padding: 0; font-size: 16px; line-height: 24px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #525F7f;">
                              Unable to click the button? Copy and paste this link into your browser's address bar:
                            </td>
                            <td class="Spacer Spacer--gutter right" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                              <div class="Spacer Spacer--filler"> </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="Spacer Spacer--stacked" colspan="3" height="12" style="margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                              <div class="Spacer Spacer--filler"> </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="Spacer Spacer--gutter left" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                              <div class="Spacer Spacer--filler"> </div>
                            </td>
                            <td class="CodeBlock" style="margin: 0; padding: 12px; border: 1px solid #d8dde6; border-radius: 1px; background-color: #f4f6f9; font-family: monospace; font-size: 14px; line-height: 16px; mso-line-height-rule: exactly; -webkit-font-smoothing: antialiased; color: #525F7f;">
                              https://{{ domain }}/#/reset_password/?uid={{ uid }}&token={{ token }}
                            </td>
                            <td class="Spacer Spacer--gutter right" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                              <div class="Spacer Spacer--filler"> </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="Spacer Spacer--stacked" colspan="3" height="12" style="margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                              <div class="Spacer Spacer--filler"> </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>


                    <table class="Copy Width Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                      <tbody>
                        <tr>
                          <td class="Spacer Spacer--gutter left" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                          <td class="Font Font--body" style="border: 0; margin: 0; padding: 0; font-size: 16px; line-height: 24px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #525F7f;">
                            Please write to {{ support_email }} for additional assistance. 
                          </td>
                          <td class="Spacer Spacer--gutter right" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="Spacer Spacer--stacked" colspan="3" height="12" style="margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="Copy Width Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                      <tbody>
                        <tr>
                          <td class="Spacer Spacer--gutter left" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                          <td class="Font Font--body" style="border: 0; margin: 0; padding: 0; font-size: 16px; line-height: 24px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #525F7f;">
                            — The ContraxSuite Team
                          </td>
                          <td class="Spacer Spacer--gutter right" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="Spacer Spacer--stacked" colspan="3" height="12" style="margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="Footer Width Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px; border-width: 0 1px 1px 1px; border-style: solid; border-color: #d8dde6; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
                      <tbody>
                        <tr>
                          <td class="Spacer Spacer--divider" colspan="3" height="20" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                        <tr class="Divider" style="border-left: 1px solid #d8dde6; border-right: 1px solid #d8dde6;">
                          <td class="Spacer Spacer--gutter left" width="64" style="max-height: 1px; border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-left: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                          <td bgcolor="#e6ebf1" colspan="2" height="1" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                          <td class="Spacer Spacer--gutter right" width="64" style="max-height: 1px; border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; border-right: 1px solid #d8dde6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="Spacer Spacer--divider" colspan="3" height="31" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="Spacer Spacer--gutter" width="64" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                          <td class="Font Font--caption" style="border: 0; margin: 0; padding: 0; color: #8898aa; font-size: 12px; line-height: 16px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <table class="table-links" width="100%">
                                <tr>
                                  <td align="left" style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                                    <a class="Link" href="https://publicdocs.contraxsuite.com" style="border: 0; margin: 0; outline: 0; padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none; color: #334c70; opacity: 0.6;">
                                      ContraxSuite Documentation
                                    </a>
                                  </td>
                                  <td align="center" style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                                    <a class="Link" href="https://www.lexpredict.com/blog/" style="border: 0; margin: 0; outline: 0; padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none; color: #334c70; opacity: 0.6;">
                                      LexPredict Blog
                                    </a>
                                  </td>
                                  <td align="right" style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                                    <a class="Link" href="mailto:support@contraxsuite.com" style="border: 0; margin: 0; outline: 0; padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none; color: #334c70; opacity: 0.6;">
                                      support@contraxsuite.com
                                    </a>
                                  </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td class="Spacer Spacer--emailEnd" colspan="3" height="32" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                            <div class="Spacer Spacer--filler"> </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="Spacer Spacer--emailEnd" height="36" style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
            <div class="Spacer Spacer--filler">&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
            <table class="Banner--wrapper--bottom" align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 1px solid #d8dde6; background-color: #fff; fill: #fff;">
              <tbody>
                <tr>
                  <td height="48" style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                    <div class="Spacer Spacer--filler"> </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>