{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block header %}{% trans "Sign Out" %}{% endblock %}

{% block inner %}
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn-u btn-sm" type="submit">{% trans 'Sign Out' %}</button>
    <button class="btn-u btn-sm btn-l cancel" type="submit" name="action">{% trans "Cancel" %}</button>
  </form>
{% endblock %}
