{% extends "base.html" %}
{% load static project_tags i18n crispy_forms_tags account %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content_wrapper %}{% endblock %}
{% block css %}{% endblock %}
{% block css_extra %}
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" />
{% endblock %}

{% block content2 %}
<div class="login-page container">
  <div class="wrapper">
    <div class="login-form reset-password enter-new-password">
      <div class="logo">
        <img src="{% static "images/logo.png" %}" alt="Contraxsuite Logo" />
      </div>

      {% if token_fail %}
        <div class="input-group">
          <span class="login-description">
            The password reset link was invalid, possibly because it has already been used.
            Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
          </span>
          <a
            href="{% url 'account_login' %}"
            class="to-email"
          >
            Back to Sign in
          </a>
        </div>
      {% else %}
        {% if form %}
        <div class="input-group">
          <div class="login-state ">Change Password</div>
          <form id="loginForm" method="POST">
            {% csrf_token %}
            <div class="input-block {% if form.errors %}with-error{% endif %}">
              <span class="input-labels fade">
                <label class="input-name">New Password:</label>
              </span>
              <input
                class="login-input"
                name="password1"
                type="password"
                placeholder="Enter New Password"
                autocomplete="off"
                autofocus
                tabindex="1"
              />
              <span class="input-labels fade">
                <label class="input-name">New Password (again):</label>
              </span>
              <input
                class="login-input"
                name="password2"
                type="password"
                placeholder="Enter New Password (again)"
                autocomplete="off"
                tabindex="2"
              />
            </div>

            {% if form.errors %}
              <div class="error-message">
                {% for field in form %}
                  {{ field.errors }}
                {% endfor %}
              </div>
            {% endif %}

            <button
              class="login-button reset fade"
              onClick="document.getElementById('loginForm').submit();"
              tabindex="3"
            >
              {% trans 'Change Password' %}
            </button>
          </form>
        </div>
        {% else %}
        <p>{% trans 'Your password has been changed' %}</p>
        {% endif %}
      {% endif %}
      <div class="help">
        <p class="helper">Contact Us</p>
        <div class="version-block">
          <p class="support-info">{% app_var_value "support_email" %}</p>
          <p class="support-info">Version: {% settings_value "VERSION_NUMBER" %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/login.js' %}" style="text/javascrypt"></script>
{% endblock %}
