{% extends "base.html" %}
{% load static project_tags i18n crispy_forms_tags account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block css %}{% endblock %}
{% block css_extra %}
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" />
{% endblock %}

{% block content2 %}
<div class="login-page container">
    <div class="wrapper">
        <div class="login-form reset-password">
            <div class="logo">
                <img src="{{ logo_url }}" width="134px" alt="Elevate Logo" />
            </div>
            <div class="input-group">
                <div class="login-state">Forgot password?</div>
                <span class="login-description">Enter your email address below.</span>
                <form id="loginForm" method="POST" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    <div class="input-block {% if form.errors %}with-error{% endif %} e-mail">
                        <input
                            class="login-input"
                            name="email"
                            type="email"
                            placeholder="user@mail.com"
                            autocomplete="off"
                            autofocus
                            tabindex="1"
                        />
                        {% if form.errors %}
                        <div class="error-message">
                            Enter a valid email address.
                        </div>
                        {% endif %}
                    </div>
                </form>
                <button
                    class="login-button reset"
                    onClick="document.getElementById('loginForm').submit();"
                    tabindex="3"
                >
                    Request reset link
                </button>
                <a
                    href="{% url 'account_login' %}"
                    class="to-email"
                >
                    Back to Sign in
                </a>
            </div>
            <div class="help">
                <p class="helper">Contact Us</p>
                <div class="version-block">
                    <p class="support-info">{% app_var_value "support_email" %}</p>
                    <p class="support-info">Version: {% settings_value "VERSION_NUMBER" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/reset_password.js' %}" style="text/javascrypt"></script>
{% endblock %}
