{% extends "base.html" %}
{% load static project_tags i18n crispy_forms_tags account %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content_wrapper %}{% endblock %}
{% block css %}{% endblock %}

{% block css_extra %}
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" />
{% endblock %}

{% block content2 %}
<div class="login-page container">
  <div class="wrapper">
    <div class="login-form reset-password">
      <div class="logo">
        <img src="{{ logo_url }}" width="134px" alt="Elevate Logo" />
      </div>
      <div class="input-group">
        <div class="login-state">{% trans 'Your password has been changed' %}</div>
        <a
                href="{% url 'account_login' %}"
                class="to-email"
        >
          Back to Sign in
        </a>
      </div>
      <div class="help">
        <p class="helper">Contact Us</p>
        <div class="version-block">
          <p class="support-info">{% app_var_value "support_email" %}</p>
          <p class="support-info">Version: {% settings_value "VERSION_NUMBER" %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}{% endblock %}
