{% extends "account/base.html" %}
{% load i18n project_tags %}

{% block title %}{% trans "Account Unavailable" %}{% endblock %}

{% block header %}{% trans "Account Unavailable" %}{% endblock %}

{% block inner %}
  <p>{% trans 'Please contact ' %} {% admin_email %}</p>
  <br/>
  <button onclick="window.location.href='{% url 'login' %}';" class="btn-u btn-sm" type="button">
    {% trans 'Try Another Account' %}
  </button>
  <button class="btn-u btn-sm btn-l cancel" type="button">{% trans "Back" %}</button>
{% endblock %}
