{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div style="display: inline-block">
        <form action="delete_all_checked/" method="POST">
            {% csrf_token %}
            <button type="submit">Delete all marked</button>
        </form>
    </div>
    <div style="display: inline-block; padding-left: 50px">
        <a href="{% url 'admin:project_softdeleteproject_changelist' %}">switch to projects marked for deleting</a>
    </div>

    <br />
    {{ block.super }}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script>
    $(document).ready(function() {
        var newSearch = $('form.form-search.nav-quick-search');
        newSearch.hide();
        });
    </script>
{% endblock %}