{% extends "base_list_ajax.html" %}
{% load static %}

{% block js_extra %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function () {
      var datafields = [
        { name: 'pk', type: 'int' },
        { name: 'project__name', type: 'string' },
        { name: 'name', type: 'string' },
        { name: 'document_type__title', type: 'string' },
        { name: 'title', type: 'string' },
        { name: 'language', type: 'string' },
        { name: 'properties', type: 'int' },
        { name: 'relations', type: 'int' },
        { name: 'paragraphs', type: 'int' },
        { name: 'sentences', type: 'int' },
        { name: 'is_contract', type: 'bool' },
        { name: 'url', type: 'string' }
      ];
      var columns = [
        { text: 'ID', datafield: 'pk', width: 50,
          align: 'center', cellsalign: 'center' },
        { text: 'Project', datafield: 'project__name', width: 100,
          align: 'center', cellsalign: 'center' },
        { text: 'Name', datafield: 'name', width: 300,
          align: 'center', cellsalign: 'left',
          cellsrenderer: defaultLinkFormatter },
        { text: 'Type', datafield: 'document_type__title', width: 100,
          align: 'center', cellsalign: 'center' },
        { text: 'Title', datafield: 'title', width: 'auto',
          align: 'center', cellsalign: 'center' },
        { text: 'Lang', datafield: 'language', width: 60,
          align: 'center', cellsalign: 'center' },
        { text: 'Properties', datafield: 'properties', width: 100,
          align: 'center', cellsalign: 'center' },
        { text: 'Relations', datafield: 'relations', width: 100,
          align: 'center', cellsalign: 'center' },
        { text: 'Is Contract', datafield: 'is_contract', width: 100,
          align: 'center', cellsalign: 'center',
          cellsrenderer: bool_renderer },
        { text: 'Paragraphs', datafield: 'paragraphs', width: 100,
          align: 'center', cellsalign: 'center' },
        { text: 'Sentences', datafield: 'sentences', width: 100,
          align: 'center', cellsalign: 'center' }

      ];
      draw_grid(".jqxgrid", datafields, columns, true);
      $(".jqxgrid").bind("bindingcomplete", function(event) {
        console.log('bound');
        let hasContracts = false;
        let rows = $('.jqxgrid').jqxGrid('getdisplayrows');
        for (let i = 0; i < rows.length; i++) {
          if (rows[i] && rows[i].is_contract) {
            hasContracts = true;
            break;
          }
        }
        if (!hasContracts)
          $(".jqxgrid").jqxGrid('hidecolumn', 'is_contract');
        else
          $(".jqxgrid").jqxGrid('showcolumn', 'is_contract');
      });
    });
  </script>
{% endblock %}
