{% extends "base_list_ajax.html" %}
{% load static %}

{% block add_button %}
  <a class="btn-u btn-sm btn-s"
     href="{% url "document:document-property-add" %}?next={{ request.path }}">
    Create
  </a>
{% endblock %}

{% block js_extra %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function () {
      var datafields = [
        { name: 'pk', type: 'int' },
        { name: 'document__name', type: 'string' },
        { name: 'document__document_type', type: 'string' },
        { name: 'key', type: 'string' },
        { name: 'value', type: 'string' },
        { name: 'created_date', type: 'date' },
        { name: 'created_by__username', type: 'string' },
        { name: 'modified_date', type: 'date' },
        { name: 'modified_by__username', type: 'string' },
        { name: 'url', type: 'string' },
        { name: 'edit_url', type: 'string' },
        { name: 'delete_url', type: 'string' }
      ];
      var menu_renderer = function(row, event) {
        var grid = $(event.currentTarget).parents('.jqxgrid');
        row = grid.jqxGrid('getrowdata', row);
        var menu_data = [
          {url: row.edit_url + '?next={{ request.path }}',
           icon: 'fa fa-pencil',
           text: 'Edit'},
          {url: row.delete_url + '?next={{ request.path }}',
           icon: 'fa fa-remove',
           cls: 'remove',
           text: 'Remove'}
        ];
        show_menu(menu_data, grid, row.pk);
      };
      var columns = [
        { text: 'Name', datafield: 'document__name', width: 'auto',
          align: 'center', cellsalign: 'left', enabletooltips: true,
          cellsrenderer: defaultLinkFormatter, columngroup: 'Document' },
        { text: 'Type', datafield: 'document__document_type', width: 100,
          align: 'center', cellsalign: 'center', columngroup: 'Document' },
        { text: 'Property Name', datafield: 'key', width: 110,
          align: 'center', cellsalign: 'center' },
        { text: 'Property Value', datafield: 'value', width: 110,
          align: 'center', cellsalign: 'center' },
        { text: 'Created By', datafield: 'created_by__username', width: 110,
          align: 'center', cellsalign: 'center' },
        { text: 'Created Date', datafield: 'created_date', width: 120,
          filtertype: 'date', cellsformat: 'MM-dd-yyyy HH:mm',
          align: 'center', cellsalign: 'center' },
        { text: 'Modified By', datafield: 'modified_by__username', width: 110,
          align: 'center', cellsalign: 'center' },
        { text: 'Modified Date', datafield: 'modified_date', width: 120,
          filtertype: 'date', cellsformat: 'MM-dd-yyyy HH:mm',
          align: 'center', cellsalign: 'center' },
        { text: 'Action', datafield: 'edit_url', width: 60,
          align: 'center', exportable: false,
          columntype: 'button',
          sortable: false, filterable: false, menu: false,
          cellsrenderer: function(){return 'Menu'},
          buttonclick: menu_renderer }
      ];
      var custom_grid_options = {
        columngroups: [
          { text: 'Document', name: 'Document', align: 'center' }
        ]
      };
      draw_grid(".jqxgrid", datafields, columns, true, null, custom_grid_options);
    });
  </script>
{% endblock %}
