{% extends "base_list_ajax.html" %}
{% load static %}

{% block button_block %}
    {{ block.super }}
    <form id="changelist-search" action="" method="get" class="form-inline">
        <div class="search-container">
            <input id="quick-search" type="text" name="q" autocomplete="off"
                style="width: 100px"/>
            <input type="submit" value="Search" class="btn btn-info">
            &nbsp;
        </div>
    </form>
{% endblock %}

{% block js_extra %}
  {{ block.super }}
  {% include "_django_ql_searchbox.html" %}

  <script type="text/javascript">
    $(document).ready(function () {
      var datafields = [
        { name: 'pk', type: 'int' },
        { name: 'document__project__name', type: 'string' },
        { name: 'document__name', type: 'string' },
        { name: 'document__document_type__title', type: 'string' },
        { name: 'document__description', type: 'string' },
        { name: 'unit_type', type: 'string' },
        { name: 'language', type: 'string' },
        { name: 'textunittext__text', type: 'string' },
        { name: 'url', type: 'string' },
        { name: 'detail_url', type: 'string' }
      ];
      var menu_renderer = function(row, event) {
        var grid = $(event.currentTarget).parents('.jqxgrid');
        row = grid.jqxGrid('getrowdata', row);
        var menu_data = [
          { url: row.url,
            icon: 'fa fa-file-text-o',
            text: 'View Document'},
          { url: row.detail_url,
            icon: 'fa fa-info-circle',
            text: 'View Details'},
          { url: '#',
            icon: 'fa fa-tags',
            cls: 'tag-text-unit',
            text: 'Tag'},
          { url: '#',
            icon: 'fa fa-gavel',
            cls: 'classify-text-unit',
            text: 'Classify'}
        ];
        show_menu(menu_data, grid, row.pk);
      };
      var columns = [
        { text: 'Project', datafield: 'document__project__name', width: 100,
          align: 'center', cellsalign: 'center', columngroup: 'Document' },
        { text: 'Name', datafield: 'document__name', width: 300,
          align: 'center', cellsalign: 'left', enabletooltips: true,
          cellsrenderer: defaultLinkFormatter, columngroup: 'Document' },
        { text: 'Type', datafield: 'document__document_type__title', width: 100,
          align: 'center', cellsalign: 'center', columngroup: 'Document' },
        { text: 'Description', datafield: 'document__description',
          width: 200, enabletooltips: true, columngroup: 'Document',
          align: 'center', cellsalign: 'center' },
        { text: 'Unit Type', datafield: 'unit_type', width: 80,
          align: 'center', cellsalign: 'center' },
        { text: 'Language', datafield: 'language', width: 80,
          align: 'center', cellsalign: 'center' },
        { text: 'Text', datafield: 'textunittext__text', width: 'auto', minwidth: 300,
          align: 'center', cellsalign: 'center' },
        { text: 'Action', datafield: 'edit_url', width: 60,
          align: 'center', exportable: false,
          columntype: 'button',
          sortable: false, filterable: false, menu: false,
          cellsrenderer: function(){return 'Menu'},
          buttonclick: menu_renderer }
      ];
      var custom_grid_options = {
        columngroups: [
          { text: 'Document', name: 'Document', align: 'center' }
        ]
      };
      draw_grid(".jqxgrid", datafields, columns, true, null, custom_grid_options);
      window.setupDjangoQLSearch('div.pull-right', 'text unit');
    });
  </script>
{% endblock %}
