{% extends "base_list_ajax.html" %}
{% load static %}

{% block js_extra %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function () {
      var datafields = [
        { name: 'pk', type: 'int' },
        { name: 'document__name', type: 'string' },
        { name: 'unit_type', type: 'string' },
        { name: 'language', type: 'string' },
        { name: 'text', type: 'string' },
        { name: 'unit_refs', type: 'string' },
        { name: 'url', type: 'string' },
        { name: 'detail_url', type: 'string' }
      ];
      var columns = [
        { text: 'Document', datafield: 'document__name', width: 300,
          align: 'center', cellsalign: 'left', enabletooltips: true,
          cellsrenderer: defaultLinkFormatter, columngroup: 'Document' },
        { text: 'Type', datafield: 'unit_type', width: 80,
          align: 'center', cellsalign: 'center',
          cellsrenderer: function defaultLinkFormatter(index, columnfield, value, defaulthtml, columnproperties, row) {
            return linkFormatter(defaulthtml, row.detail_url, value);
          }},
        { text: 'Language', datafield: 'language', width: 80,
          align: 'center', cellsalign: 'center' },
        { text: 'Text', datafield: 'text', width: 'auto', minwidth: 300,
          align: 'center', cellsalign: 'center' },
        { text: '{{units_column_title}}', datafield: 'unit_refs', width: 'auto', minwidth: 150,
          align: 'center', cellsalign: 'center' }
      ];
      var custom_grid_options = {
      };
      draw_grid(".jqxgrid", datafields, columns, true, null, custom_grid_options);
    });
  </script>
{% endblock %}
