<i class="btn-u btn-xs btn-xl fa fa-refresh update-jqxgrid-data"
   title="Refresh data"></i>
<i class="btn-u btn-xs btn-xl fa fa-copy jqxgrid-select-mode"
   title="Select row/cell"></i>
<i class="btn-u btn-xs btn-xl fa fa-filter jqxgrid-filterrow"
   title="Switch filter row"></i>
{% if not hide_export_button %}
  <div class="dropdown gridExport" style="display: inline;">
    <button class="btn-u btn-sm btn-xl-p dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      Export <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" data-export-filename="{{ export_filename }}"
        style="min-width: 80px;">
      <li class="dropdown-item" data-export-to="csv"><a href="#">CSV</a></li>
      <li class="dropdown-item" data-export-to="xlsx"><a href="#">XLSX</a></li>
      <li class="dropdown-item" data-export-to="pdf"><a href="#">PDF</a></li>
    </ul>
  </div>
{% endif %}
