{% load i18n %}

<nav id="primary-menu" class="style-2">
  {% if user.is_authenticated %}
    <ul id="main_menu">

      {# custom menu item block #}
      {% if custom_main_menu_item_templates|length == 1 %}
        {% include custom_main_menu_item_templates.0 %}
      {% elif custom_main_menu_item_templates|length > 1 %}
        <li>
          <a href="#"><div><i class="fa fa-suitcase"></i><span>Contract Types</span></div></a>
          <ul>
            {% for template in custom_main_menu_item_templates %}
              {% include template %}
            {% endfor %}
          </ul>
        </li>
      {% endif %}
      {# end custom menu item block #}

      <li>
        <a href="#"><div><i class="fa fa-tasks"></i><span>Tasks</span></div></a>
        <ul>
          <li><a href="{% url "project:dashboard" %}"><div>Dashboard</div></a></li>
          <li class="divider"></li>
          <li><a href="{% url "project:project-list" %}"><div>Projects</div></a></li>
          <li><a href="{% url "project:task-queue-list" %}"><div>Task Queues</div></a></li>
          {% if not user.is_reviewer %}
            <li class="divider"></li>
            <li><a href="{% url "task:task-list" %}"><div>Admin Tasks</div></a></li>
            <li><a href="{% url "filebrowser:fb_browse" %}"><div>Browse/Upload Documents</div></a></li>
          {% endif %}
        </ul>
      </li>
      <li>
        <a href="#">
          <div><i class="fa fa-file-text-o"></i><span>Documents</span></div>
        </a>
        <ul>
          <li>
            <a href="{% url "document:document-list" %}">Documents</a>
            <ul>
              <li><a href="{% url "document:document-list" %}"><div>Document List</div></a></li>
              <li><a href="{% url "document:document-note-list" %}"><div>Document Notes</div></a></li>
              <li><a href="{% url "document:document-tag-list" %}"><div>Document Tags</div></a></li>
              <li><a href="{% url "document:document-property-list" %}"><div>Document Properties</div></a></li>
              <li><a href="{% url "document:document-relation-list" %}"><div>Document Relations</div></a></li>
              <li><a href="{% url "analyze:document-cluster-list" %}"><div>Document Clusters</div></a></li>
              <li><a href="{% url "analyze:document-similarity-list" %}"><div>Document Similarity</div></a></li>
              <li><a href="{% url "document:document-sentiment-chart" %}"><div>Document Sentiment Chart</div></a></li>
            </ul>
          </li>
          <li>
            <a href="{% url "document:text-unit-list" %}">Text Units</a>
            <ul>
              <li><a href="{% url "document:text-unit-list" %}"><div>Text Unit List</div></a></li>
              <li><a href="{% url "document:text-unit-note-list" %}"><div>Text Unit Notes</div></a></li>
              <li><a href="{% url "document:text-unit-tag-list" %}"><div>Text Unit Tags</div></a></li>
              <li><a href="{% url "document:text-unit-property-list" %}"><div>Text Unit Properties</div></a></li>
              <li><a href="{% url "analyze:text-unit-cluster-list" %}"><div>Text Unit Clusters</div></a></li>
              <li><a href="{% url "analyze:text-unit-similarity-list" %}"><div>Text Unit Similarity</div></a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <div><i class="fa fa-tags"></i><span>Extract</span></div>
        </a>
        <ul>
          <li>
            <a href="#">Terms</a>
            <ul>
              <li><a href="{% url "extract:term-usage-list" %}"><div>Term Usage</div></a></li>
              <li><a href="{% url "extract:top-term-usage-list" %}"><div>Top Term Usage</div></a></li>
            </ul>
          </li>
          <li>
            <a href="#">Parties</a>
            <ul>
              <li><a href="{% url "extract:party-usage-list" %}"><div>Party Usage</div></a></li>
              <li><a href="{% url "extract:top-party-usage-list" %}"><div>Top Party Usage</div></a></li>
              <li class="divider"></li>
              <li><a href="{% url "extract:party-network-chart" %}"><div>Party Network Chart</div></a></li>
            </ul>
          </li>
          <li>
            <a href="#">Geo Entities</a>
            <ul>
              <li><a href="{% url "extract:geo-entity-list" %}"><div>Geo Entities</div></a></li>
              <li><a href="{% url "extract:geo-entity-usage-list" %}"><div>Geo Entity Usage</div></a></li>
              <li><a href="{% url "extract:top-geo-entity-usage-list" %}"><div>Top Geo Entity Usage</div></a></li>
            </ul>
          </li>
          {% if 'amount' in available_locator_groups %}
            <li>
              <a href="#">Amounts</a>
              <ul>
                {% if 'amount' in available_locators %}
                  <li>
                    <a href="#">Amounts</a>
                    <ul>
                      <li><a href="{% url "extract:amount-usage-list" %}"><div>Amount Usage</div></a></li>
                      <li><a href="{% url "extract:top-amount-usage-list" %}"><div>Top Amount Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if 'currency' in available_locators %}
                  <li>
                    <a href="#">Currencies</a>
                    <ul>
                      <li><a href="{% url "extract:currency-usage-list" %}"><div>Currency Usage</div></a></li>
                      <li><a href="{% url "extract:top-currency-usage-list" %}"><div>Top Currency Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if 'distance' in available_locators %}
                  <li>
                    <a href="#">Distances</a>
                    <ul>
                      <li><a href="{% url "extract:distance-usage-list" %}"><div>Distance Usage</div></a></li>
                      <li><a href="{% url "extract:top-distance-usage-list" %}"><div>Top Distance Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if 'percent' in available_locators %}
                  <li>
                    <a href="#">Percents</a>
                    <ul>
                      <li><a href="{% url "extract:percent-usage-list" %}"><div>Percent Usage</div></a></li>
                      <li><a href="{% url "extract:top-percent-usage-list" %}"><div>Top Percent Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if 'ratio' in available_locators %}
                  <li>
                    <a href="#">Ratios</a>
                    <ul>
                      <li><a href="{% url "extract:ratio-usage-list" %}"><div>Ratio Usage</div></a></li>
                      <li><a href="{% url "extract:top-ratio-usage-list" %}"><div>Top Ratio Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
              </ul>
            </li>
            <li>
              <a href="#">Dates</a>
              <ul>
                <li><a href="{% url "extract:date-usage-list" %}"><div>Date Usage</div></a></li>
                <li><a href="{% url "extract:top-date-usage-list" %}"><div>Top Date Usage</div></a></li>
                <li><a href="{% url "extract:date-usage-timeline" %}"><div>Date Usage Timeline</div></a></li>
                <li><a href="{% url "extract:date-usage-calendar" %}"><div>Date Usage Calendar</div></a></li>
                {% if 'duration' in available_locators %}
                  <li class="divider"></li>
                  <li><a href="{% url "extract:date-duration-usage-list" %}"><div>Date Duration Usage</div></a></li>
                  <li><a href="{% url "extract:top-date-duration-usage-list" %}"><div>Top Date Duration Usage</div></a></li>
                {% endif %}
              </ul>
            </li>
          {% endif %}
          {% if 'court' in available_locators %}
            <li>
              <a href="#">Courts</a>
              <ul>
                <li><a href="{% url "extract:court-usage-list" %}"><div>Court Usage</div></a></li>
                <li><a href="{% url "extract:top-court-usage-list" %}"><div>Top Court Usage</div></a></li>
              </ul>
            </li>
          {% endif %}
          {% if 'other' in available_locator_groups %}
            <li>
              <a href="#">Other</a>
              <ul style="bottom: -2px !important; top: auto !important;">
                {% if 'court' in available_locators %}
                  <li>
                    <a href="#">Citations</a>
                    <ul>
                      <li><a href="{% url "extract:citation-usage-list" %}"><div>Citation Usage</div></a></li>
                      <li><a href="{% url "extract:top-citation-usage-list" %}"><div>Top Citation Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if 'definition' in available_locators %}
                  <li>
                    <a href="#">Definitions</a>
                    <ul>
                      <li><a href="{% url "extract:definition-usage-list" %}"><div>Definition Usage</div></a></li>
                      <li><a href="{% url "extract:top-definition-usage-list" %}"><div>Top Definition Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if 'regulation' in available_locators %}
                  <li>
                    <a href="#">Regulations</a>
                    <ul>
                      <li><a href="{% url "extract:regulation-usage-list" %}"><div>Regulation Usage</div></a></li>
                      <li><a href="{% url "extract:top-regulation-usage-list" %}"><div>Top Regulation Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if 'copyright' in available_locators %}
                  <li>
                    <a href="#"><div>Copyrights</div></a>
                    <ul>
                      <li><a href="{% url "extract:copyright-usage-list" %}"><div>Copyright Usage</div></a></li>
                      <li><a href="{% url "extract:top-copyright-usage-list" %}"><div>Top Copyright Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if 'trademark' in available_locators %}
                  <li>
                    <a href="#"><div>Trademarks</div></a>
                    <ul>
                      <li><a href="{% url "extract:trademark-usage-list" %}"><div>Trademark Usage</div></a></li>
                      <li><a href="{% url "extract:top-trademark-usage-list" %}"><div>Top Trademark Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if 'url' in available_locators %}
                  <li>
                    <a href="#"><div>Urls</div></a>
                    <ul>
                      <li><a href="{% url "extract:url-usage-list" %}"><div>Url Usage</div></a></li>
                      <li><a href="{% url "extract:top-url-usage-list" %}"><div>Top Url Usage</div></a></li>
                    </ul>
                  </li>
                {% endif %}
              </ul>
            </li>
          {% endif %}
        </ul>
      </li>
      <li>
        <a href="#"><div><i class="fa fa-bar-chart"></i><span>Reports</span></div></a>
        <ul>
          <li><a href="{% url "document:document-list" %}"><div>Document Clauses</div></a></li>
          <li><a href="{% url "extract:geo-entity-usage-chart" "country" %}"><div>Document Geography</div></a></li>
          <li><a href="{% url "document:document-property-list" %}"><div>Document Counterparties</div></a></li>
          <li class="divider"></li>
          <li><a href="{% url "extract:date-usage-timeline" %}"><div>Date Usage Timeline</div></a></li>
          <li><a href="{% url "extract:date-usage-calendar" %}"><div>Date Usage Calendar</div></a></li>
          <li><a href="{% url "document:document-property-list" %}"><div>Risk Summary</div></a></li>
        </ul>
      </li>
      <li>
        <a href="{% url "document:stats" %}"><div><i class="fa fa-tachometer"></i><span>Stats</span></div></a>
      </li>
      <li>
        <a href="#">
          <div><i class="fa fa-magic"></i><span>Assistant</span></div>
        </a>
        <ul>
          <li><a href="{% url "analyze:text-unit-classification-list" %}">
            <div>
              Text Unit Classification
            </div>
          </a></li>
          <li><a href="{% url "analyze:text-unit-classifier-suggestion-list" %}">
            <div>
              Text Unit Classification Suggestions
            </div>
          </a></li>
          <li class="divider"></li>
          <li><a href="{% url "analyze:text-unit-classifier-list" %}">
            <div>
              Classifiers
            </div>
          </a></li>
        </ul>
      </li>
    </ul>
  {% endif %}

  <ul id="account_menu" class="pull-right">
    {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
        <li>
          <a class="" href="{% url 'swagger' group_by='app' %}">
            <i class="i-circled i-dark i-small fa fa-exchange"
               data-toggle="tooltip" data-placement="bottom" data-delay='{"show": 1000, "hide":0}'
               data-original-title="{% trans "API" %}"></i>
            <span>{% trans "API" %}</span>
          </a>
        </li>
        <li>
          <a class="" href="{% url 'common:application-settings' %}">
            <i class="i-circled i-dark i-small icon-cogs"
               data-toggle="tooltip" data-placement="bottom" data-delay='{"show": 1000, "hide":0}'
               data-original-title="{% trans "Application Settings" %}"></i>
            <span>{% trans "Application Settings" %}</span>
          </a>
        </li>
      {% endif %}
      <li>
        <a class="" href="{% url 'users:user-detail' request.user.username %}">
          <i class="i-circled i-dark i-small icon-user"
             data-toggle="tooltip" data-placement="bottom" data-delay='{"show": 1000, "hide":0}'
             data-original-title="{% trans "My Profile" %}"></i>
          <span>{% trans "My Profile" %}</span>
        </a>
      </li>
      <li>
        <a class="" href="{% url 'account_logout' %}">
          <i class="i-circled i-dark i-small icon-signout"
             data-toggle="tooltip" data-placement="bottom" data-delay='{"show": 1000, "hide":0}'
             data-original-title="{% trans "Sign Out" %}"></i>
          <span>{% trans "Sign Out" %}</span>
        </a>
      </li>
    {% else %}
      <li>
        <a class="" href="{% url 'account_signup' %}">
          <i class="i-circled i-dark i-small icon-pencil"
             data-toggle="tooltip" data-placement="bottom" data-delay='{"show": 1000, "hide":0}'
             data-original-title="{% trans "Sign Up" %}"></i>
          <span>{% trans "Sign Up" %}</span>
        </a>
      </li>
      <li>
        <a class="" href="{% url 'account_login' %}">
          <i class="i-circled i-dark i-small icon-signin"
             data-toggle="tooltip" data-placement="bottom" data-delay='{"show": 1000, "hide":0}'
             data-original-title="{% trans "Sign In" %}"></i>
          <span>{% trans "Sign In" %}</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
