{% load static project_tags pipeline %}

{% include '_jq_imports_block.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.js"></script>
<script type="text/javascript">
  // variables for jqwidgets
  var login_url = "{% url 'account_login' %}?next={{ request.path }}";
  var doc_tag_url = '{% url "document:document-tag-submit" %}';
  var tu_tag_url = '{% url "document:text-unit-tag-submit" %}';
  var cl_doc_tag_url = '{% url "document:cluster-documents-tag-submit" %}';
  var tuc_submit_url = '{% url "analyze:text-unit-classification-submit" %}';
  var tuc_type_name_url = '{% url "analyze:text-unit-classification-name-complete" %}';
  var tuc_type_value_url = '{% url "analyze:text-unit-classification-value-complete" %}';
  var export_filename = '{% replace model_name_plural|default:"data"|lower|slugify "-" "_" %}';
  var is_jq_export = {{ settings.JQ_EXPORT|yesno:"true,false" }};
</script>
<script src="{% static "js/jqwidgets.js" %}" type="text/javascript"></script>