{% load static %}
<script src="{% static "vendor/jqwidgets/jqxcore.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxdata.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxbuttons.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxscrollbar.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxmenu.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxlistbox.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxdropdownlist.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxgrid.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxgrid.selection.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxgrid.columnsresize.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxgrid.filter.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxgrid.sort.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxgrid.pager.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxgrid.grouping.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxgrid.aggregates.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxcalendar.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxdatetimeinput.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxcheckbox.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/globalization/globalize.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxwindow.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxdata.export.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxgrid.export.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxdraw.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxchart.core.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxtabs.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxdatatable.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxtreegrid.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/jqwidgets/jqxchart.rangeselector.js" %}" type="text/javascript"></script>
