{% extends "base.html" %}
{% load static project_tags %}

{% block title %}{{ model_name|capwords }} {% if is_detail %}detail{% elif object %}update{% else %}create new{% endif %}{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.min.css">
  {{ block.super }}
{% endblock %}

{% block page_header %}{{ model_name|capwords }}{% endblock %}
{% block page_header_addon %}
  <small style="text-transform: none">{% if object %}update{% else %}create new{% endif %}</small>
{% endblock %}

{% block content %}
  <form class="form-horizontal col-md-offset-{% block form_offset %}0{% endblock %}"
        {% if not is_detail %}method="POST"{% endif %}>
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% block form_extra %}{% endblock %}
    {% block form_fields %}
      {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          {% include "_form_field.html" with is_detail=is_detail field=field only %}
        {% endif %}
      {% endfor %}
    {% endblock %}

    {% if formset %}
      {{ formset.management_form }}
      <legend>{{ formset.title }}</legend>
      {{ formset.help_text|linebreak_replace }}
      {{ formset.non_form_errors.as_ul }}
      <table class="table table-hover formset">
        {% for form in formset.forms %}
          {% if forloop.first %}
            <thead><tr>
              {% for field in form.visible_fields %}
                <th>{{ field.label|capfirst }}</th>
              {% endfor %}
            </tr></thead>
          {% endif %}
          <tr class="choice">
            {% for field in form.visible_fields %}
              <td>
                {# Include the hidden fields in the form #}
                {% if forloop.first %}
                  {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %}
                {% endif %}
                {{ field|add_class:'form-control' }}
                {{ field.errors.as_ul }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <span class="add-choice fa fa-plus btn-u btn-xs btn-l">&nbsp;&nbsp;Add Choice</span>
    {% endif %}

    {% block form_extra_below %}{% endblock %}
    <div class="col-md-4 col-md-offset-3">
      <p class="form-required-field"><i class="text-red">*</i> Indicates a required field</p>
    </div>

    <div class="form-group form-actions">
      <div class="col-md-4 col-md-offset-3">
        {% block buttons %}
          {% block action_btn-u %}
            <button class="btn-u btn-sm btn-s" type="submit">
              {% if object %}Update{% else %}Create{% endif %}
            </button>
          {% endblock %}
          {% block buttons_addon %}{% endblock %}
          {% if back_url %}
            <a class="btn-u btn-sm btn-l" href="{{ back_url }}">Back</a>
          {% else %}
            <button class="cancel btn-u btn-sm btn-l">Cancel</button>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </form>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      // enable chosen plugin for select
      $('select:enabled:not(.ui-multi, .not-chosen)').chosen();
      $('select[multiple=multiple]:enabled:not(.ui-multi, .not-chosen)')
          .parent().append(
            '<button type="button" class="chosen-toggle btn-u btn-xs select">Select all</button>' +
            '<button type="button" class="chosen-toggle btn-u btn-xs btn-l deselect">Deselect all</button>');
      $('.chosen-toggle').each(function() {
        $(this).on('click', function () {
          $(this).parent().find('option').prop('selected', $(this).hasClass('select')).parent().trigger('chosen:updated');
        });
      });
      // focus on first form input
      $('form input:text, form textarea').first().focus();
    })
  </script>
{% endblock %}
