{% load static i18n pipeline project_tags %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Contraxsuite Services,document,knowledge,management,analyze">
  <meta name="description" content="Contraxsuite Services allows to analyze documents content.">
  <meta name="author" content="ContraxSuite, LLC">

  {% block css %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<!--    <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" type="text/css" />
    {% stylesheet 'theme_css' %}
{#    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />#}
{#    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css" />#}
{#    <link rel="stylesheet" href="{% static "css/swiper.css" %}" type="text/css" />#}
{#    <link rel="stylesheet" href="{% static "css/dark.css" %}" type="text/css" />#}
{#    <link rel="stylesheet" href="{% static "css/font-icons.css" %}" type="text/css" />#}
{#    <link rel="stylesheet" href="{% static "css/animate.css" %}" type="text/css" />#}
{#    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" type="text/css" />#}
  {% endblock %}

  {% block css_extra %}
{#    {% stylesheet "custom_css" %}#}
    <link rel="stylesheet" href="{% static "css/project.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "vendor/tagsinput/bootstrap-tagsinput.css" %}" type="text/css" />
  {% endblock %}

  <title>Contraxsuite Services | {% block title %}Home{% endblock title %}</title>

</head>

<body class="stretched {% block bodyclass %}{% endblock %}">

{% if user.is_authenticated %}
<!-- Document Wrapper -->
<div id="wrapper" class="clearfix">

  {% block content_wrapper %}
   {% include "layout/header.html" %}
   {% include "layout/left_sidebar.html" %}

    <div class="main-container">
      {% if user.is_authenticated %}
      <div class="page-header">
        {% block breadcrumb %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/advanced">LexNLP Extracted Values</a></li>
            {% block page_header_wrapper %}
            <li class="breadcrumb-item active" aria-current="page">
              {% block page_header %}{% endblock %}{% block page_header_addon %}{% endblock %}
            </li>
            {% endblock %}
          </ol>
        </nav>
        {% endblock breadcrumb %}
      </div>
      {% endif %}

      <!-- Content -->
      <section id="content" class="content-container">
        <div class="content-wrap">
          <div class="container clearfix {% block additional-container-classes %}{% endblock %}">

            <!-- Global Search -->
            {% if user.is_authenticated %}
            <div class="well global-search">
              <div class="title">Global Search</div>
              <form class="form-inline" action="{% url "document:search" %}">
              <div class="form-group">
                <input type="text" class="typeahead form-control" id="name_search" name="name_search"
                       value="{{ name_search }}"
                       placeholder="Name">
              </div>
              <div class="form-group">
                <input type="text" class="typeahead form-control" id="description_search" name="description_search"
                       value="{{ description_search }}"
                       placeholder="Description">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="term_search" name="term_search"
                       data-role="tagsinput"
                       value="{{ term_search }}"
                       placeholder="Term">
              </div>
              <div class="form-group">
                <input type="text" class="typeahead form-control" id="entity_search" name="entity_search"
                       value="{{ entity_search }}"
                       placeholder="Geo Entity">
              </div>
              <div class="form-group">
                <input type="text" class="typeahead form-control" id="party_search" name="party_search"
                       value="{{ party_search }}"
                       placeholder="Party Name">
              </div>

              {% if is_text_unit_list_page %}
              <div class="form-group">
                <input type="search" class="form-control" id="elastic_search" name="elastic_search"
                       value="{{ elastic_search }}"
                       placeholder="Elastic Search by Text">
              </div>
              {% endif %}

              <button type="submit" class="btn-u btn-sm button-dark">
                <i class="fa fa-search"></i> Search
              </button>

              <i class="i-circled i-dark i-small icon-double-angle-right global-search-switch" data-toggle="tooltip" data-placement="bottom"
                 data-delay="{&quot;show&quot;: 1000, &quot;hide&quot;:0}"
                 data-original-title="Collapse"></i>
              </form>
            </div>
            {% endif %}
            <!-- end Global Search -->

            {% if messages %}
            {% for message in messages %}
            <span class="notification" data-notify-type="{{ message.tags }}" data-notify-msg="{{ message }}"></span>
            {% endfor %}
            {% endif %}

            {% block content %}{% endblock content %}

            {% if request.user.is_authenticated %}
            <span class="user-info">
          {{ user.username }}/{{ user.role.abbr }}
            {% if user.is_admin %}
              <a href="{% url "admin:index" %}"
                 class="fa fa-cog"
                 title="Admin site"></a>
              {% endif %}
        </span>
            {% endif %}
          </div> <!-- /container -->
        </div>
      </section><!-- #content end -->
    </div>

    <!-- /form to export xlsx from list view -->
    <form id="exportForm" method="GET">
      <input type='hidden' name='export' value='1'/>
      {% block export_params_inputs %}{% endblock %}
    </form>

    {% block modal %}{% endblock modal %}

    {% if user.is_authenticated %}
      <!-- Global Search switcher -->
      <div id="global_search_switch" class="global-search-bar">
        <div>Global Search</div>
        <i class="i-circled i-dark i-small icon-search global-search-switch"></i>
      </div><!-- end Global Search switcher -->
    {% endif %}

  {% endblock content_wrapper %}
</div><!-- #wrapper end -->
{% endif %}

{% block content2 %}{% endblock content2 %}

<!-- Go To Top -->
<div id="gotoTop" class="icon-angle-up"></div>


{% block js %}
  <script src="{% static 'js/jquery.js' %}" style="text/javascrypt"></script>
  <script src="{% static 'js/plugins.js' %}" style="text/javascrypt"></script>
  <script src="{% static "js/functions.js" %}" style="text/javascrypt"></script>

  {#  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"#}
  {#          integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"#}
  {#          crossorigin="anonymous"></script>#}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.4.0/mark.min.js"
          integrity="sha256-d4W6lnqRlQIXAoSYOnZCyDTDikGIxMs2EfQ4Qy7bgJQ=" crossorigin="anonymous"></script>

{#  {% javascript "custom_js" %}#}
  <script src="{% static 'vendor/tagsinput/bootstrap-tagsinput.js' %}" style="text/javascrypt"></script>
  <script src="{% static 'js/project.js' %}" style="text/javascrypt"></script>
{% endblock %}

{% csrf_token %}

{% block js_extra %}{% endblock %}

</body>
</html>
