/*---------------------------------------------------------
    2.1 Login Page
----------------------------------------------------------*/

@import 'fonts.css';

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.login-page {
  font-family: "Source Sans Pro", sans-serif;
}

.login-page.container {
  height: 100%;
  position: relative;
}

.login-page .wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
}

.greeting-block {
  background-image: url(../images/login_intro_bg.svg);
  box-shadow: 2px 0 15px 0 rgba(0, 0, 0, 0.09);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 500px;
  width: 61.8%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-intro {
  background-image: url(../images/login_intro.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 904px;
  width: 786px;
  margin-left: -15%;
}

.help {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

.helper {
  margin-bottom: 15px;
  color: #3661EB;
  font-size: 16px;
  line-height: 24px;
  margin: 3px 0;
}

.version-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.support-info {
  opacity: 0.6;
  color: #334C70;
  font-size: 14px;
  line-height: 18px;
  margin: 3px 0;
}

.login-form {
  box-shadow: 2px 0 15px 0 rgba(0, 0, 0, 0.09);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  left: 0;
  min-width: 430px;
  padding: 40px 50px;
  width: 38.2%;
  z-index: 2;
}

.login-form.login-animation {
  animation: slide 300ms reverse;
}

.login-form.reset-password {
  animation: none;
}

.login-form.reset-password .input-group p {
  color: #16325C;
}

.login-form.reset-password .login-description {
  margin-bottom: 30px
}

.login-form.reset-password .login-button.reset {
  margin-top: 10px;
}

.login-form.animation-slide {
}

.login-form.reset-password {
    left: 0;
    position: absolute;
    width: 100%;
}

.login-form.reset-password {
  width: 100%;
}

.login-form.reset-password .login-description {
  text-align: center;
}

.login-form.reset-password .login-description {
  text-align: center;
}

.login-form.reset-password,
.login-form.reset-password .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form.reset-password,
.login-form.reset-password .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  align-self: center;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.login-form .logo {
  align-self: flex-start;
}

.login-state {
  color: #16325C;
  font-size: 36px;
  font-weight: 300;
  line-height: 45px;
}

.enter-new-password .login-state {
  margin-bottom: 20px;
}

.login-description {
  display: inline-block;
  opacity: 0.7;
  color: #16325C;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 45px;
  width: 310px;
  max-width: 310px;
}

.login-animation .login-description.login {
  animation: fade, descript-login 0.3s;
}

.login-form.reset-password .login-description {
  margin-bottom: 25px;
}

/*.login-form.reset-password .login-description.fade {*/
/*  animation: fade, descript-recovery 0.3s;*/
/*  margin-bottom: 25px;*/
/*}*/

.error-message {
  color: red;
  margin-bottom: 10px;
}

.login-state.reset {
  line-height: 21px;
  margin: 0 60px 10px;
}

.input-name {
  color: #334C70;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.hidden {
  display: none;
}

.input-block {
  display: flex;
  flex-direction: column;
  max-width: 310px;
}

.to-email,
.to-reset {
  color: #334C70;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.6;
  cursor: pointer;
  text-decoration: none;
}

.input-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-block.with-error .input-name {
  color: #e63333;
}

.input-block.with-error .login-input {
  border: 1px solid #e63333;
}

.login-form.reset-password .error-message {
  margin-top: -13px;
  margin-bottom: 15px;
  max-width: 310px;
}

.login-input {
  border: 1px solid #D8DDE6;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #334C70;
  font-size: 14px;
  height: 40px;
  line-height: 18px;
  margin: 7px 0 20px;
  margin-bottom: 15px;
  max-width: 310px;
  padding: 0 15px;
  position: relative;
  transition: top 300ms;
  width: 310px;

}

.login-form input:focus {
  border: 1px solid #3661EB;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
}

.login-form .to-email {
  margin-bottom: -18px;
}

.login-button {
  transition: 300ms;
  border: none;
  border-radius: 3px;
  background-color: #3661EB;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  min-width: 140px;
  padding: 8px 0;
  position: relative;
  text-align: center;
  align-self: flex-start;
  margin-bottom: 15px;
}

.login-animation .login-button.login {
  animation: to-login, button 300ms;
}

.login-button.reset {
  align-self: center;
  padding: 8px 0;
  width: 200px;
}

.login-animation.login-button.reset {
  animation: to-recovery 300ms;
}

.login-button:disabled {
  opacity: 0.6;
}

.login-animation.fade {
  animation: fade 300ms;
}

@keyframes slide {
  0% {
    width: 38.2%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes to-recovery {
  0% {
    width: 140px;
    align-self: flex-start;
  }

  100% {
    width: 200px;
    align-self: center;
  }
}

@keyframes to-login {
  0% {
    width: 200px;
    margin-left: 20%;
  }

  100% {
    width: 140px;
    margin-left: 0;
  }
}

@keyframes descript-login {
  0% {
    margin-bottom: 25px;
  }

  100% {
    margin-bottom: 45px;
  }
}

@keyframes descript-recovery {
  0% {
    margin-bottom: 45px;
  }

  100% {
    margin-bottom: 25px;
  }
}


@keyframes button {
  0% {
    color: #3661EB;
  }
  100% {
    color: #FFFFFF;
  }
}

@media screen and (max-width: 1240px) {
  .greeting-block {
    background-size: 1280px 1274px;
  }
}

@media screen and (min-width: 1241px) {
  .greeting-block {
    background-size: 1440px 1274px;
  }
}

@media screen and (min-width: 1441px) {
  .greeting-block {
    background-size: 1680px 1274px;
  }
}

@media screen and (min-width: 1601px) {
  .greeting-block {
    background-size: 1920px 1800px;
  }
}

@media screen and (min-width: 1921px) {
  .greeting-block {
    background-size: 2880px 2160px;
  }
}

@media screen and (min-width: 2881px) {
  .greeting-block {
    background-size: 3840px 2160px;
  }
}