@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');


/* @media screen and (max-width: 1240px) {
  .greeting-block {
    background-size: 1280px  1274px;
  }
}

@media screen and (min-width: 1241px) {
  .greeting-block {
    background-size: 1440px 1274px;
  }
}

@media screen and (min-width: 1441px) {
  .greeting-block {
    background-size: 1680px 1274px;
  }
}

@media screen and (min-width: 1601px) {
 .greeting-block {
    background-size: 1920px 1800px;
  }
}

@media screen and (min-width: 1921px) {
  .greeting-block {
    background-size: 2880px 2160px;
  }
}

@media screen and (min-width: 2881px) {
  .greeting-block {
    background-size: 3840px 2160px;
  }
} */

.login-page {
  font-family: "Karla", sans-serif;
}

.login-page.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.login-page .wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
}

.wrapper {
  display: flex;
  font-family: 'Karla', sans-serif;
  flex-direction: row;
  height: 100%;
  /* justify-content: flex-end; */
}

.wrapper .logo-icon-block {
  min-height: 700px;
  width: 480px;
  background-color: #F1F3F8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  height: 220px;
}


.greeting-block {
  /* background-image: url('./../../../common/icons/login_intro_bg.svg'); */
  background-color: #F1F3F8;
  box-shadow: 2px 0 15px 0 rgba(0,0,0,0.09);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 500px;
  width: 61.8%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app .container  .greeting-block.greeting-block-loading {
  background-size: cover;
}

/***********/
.container .greeting-block-loading {
  width: 100%;
  height: 100%;
}

.container .greeting-block-loading .preloader {
  border: 4px solid #7A78CB;
  position: absolute;
  left: 50%;
  bottom: 47%;
  border-top: 4px solid #E2F0FD;
}
/***********/

/* .login-intro {
  background-image: url('./../../../common/icons/login_intro.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 904px;
  width: 786px;
  margin-left: -15%;
} */


.help {
  margin-top: auto;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

.helper {
  margin-bottom: 15px;
  color: #3661EB;
  font-family: "Karla";
  font-size: 16px;
  line-height: 24px;
  margin: 3px 0;
}

.version-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.support-info {
  opacity: 0.6;
  color: #334C70;
  font-family: "Karla";
  font-size: 14px;
  line-height: 18px;
  margin: 3px 0;
}

.login-form {
  /* animation: slide 300ms; */
  box-shadow: 2px 0 15px 0 rgba(0,0,0,0.09);
  background-color: #f8f9fb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: 700px;
  right: 0;
  min-width: 430px;
  padding: 0 50px;
  position: relative;
  width: calc(100% - 480px);
  z-index: 2;
}

.login-form.password-reset {
  animation: none;
}

.login-form.password-reset .login-description {
  margin-bottom: 30px
}

.login-form.password-reset .login-button.reset {
  margin-top: 10px;
}

.login-form.password-recovery {
  width: calc(100% - 480px);
  /* animation: slide 300ms; */
  position: absolute;
  right: 0;
}

.login-form.password-reset .login-description{
  text-align: center;
}

.login-form.password-recovery,
.login-form.password-recovery .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form.password-reset,
.login-form.password-reset .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  align-self: center;
  width: 304px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 87px;
}

.login-form .logo {
  align-self: flex-start;
}

.login-state {
  color: #000000;
  font-family: "Karla";
  font-size: 28px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 88px;
  margin-bottom: 32px;
}

.login-description {
  display: inline-block;
  font-family: "Karla";
  margin-bottom: 8px;
  max-width: 310px;
  color: #2E2E2E;
  font-size: 14px;
  line-height: 16px;
}

.login-description.login {
  animation: fade, descript-login 0.3s;
}

.login-form.password-recovery .login-description.fade {
  animation: fade, descript-recovery 0.3s;
  margin-bottom: 25px;
}

.error-message {
  color: red;
}

.login-state.reset{
  line-height: 21px;
  margin: 0 60px 10px;
}

.input-name {
  color: #334C70;
  font-family: "Karla";
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.hidden {
  display: none;
}

.login-state.fade {
  animation: fade, descript-recovery 0.3s;
}

.input-block.error .login-input {
  border: 1px solid rgba(225, 79, 20, 0.3);
  box-shadow: 0px 2px 10px rgba(225, 79, 20, 0.2);
}

.input-block-error-message {
  color: #E14F14;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 8px;
}

.input-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-input {
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #2E2E2E;
  font-family: "Karla";
  font-size: 14px;
  height: 32px;
  line-height: 16px;
  margin-top: 4px;
  margin-bottom: 8px;
  padding: 8px 12px;
  width: 100%;
  position: relative;
  transition: top 300ms;
}

.hid_prevent {
  display: none;
}

.login-form input:focus{
  border: 1px solid #3661EB;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
}

.to-email,
.to-reset {
  color: #434ABF;
  font-family: "Karla";
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.to-email:hover,
.to-reset:hover {
  color: #434ABF;
}

.password-recovery:visited,
  .to-email:visited {
    color: #334C70;
}

.login-form .to-email {
  margin-bottom: -18px;
}

.login-button {
  border: none;
  border-radius: 3px;
  background-color: #7A78CB;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Karla";
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  padding: 8px 0;
  position: relative;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.login-button:hover {
  background-color: #434ABF;
}

.login-button.login{
  animation: to-login, button 300ms;
}

.login-button.reset {
  align-self: center;
  padding: 8px 0;
}

.login-button:disabled {
  opacity: 0.6;
}

/* Change implementation of loader*/
.login-loader {
  border: 4px solid #ebedf3;
  border-top: 4px solid #7A78CB;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: flex;
  align-self: center;
  position: absolute;
  top: 45%;
}

.recovery-success{
  color: #54698D;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin: 0 59px 60px;
}

.fade {
  animation: fade 300ms;
}

.reset-status {
  font: 12px "Karla", sans-serif;
  margin: -20px 12px 5px;
  opacity: 0.8
}

.reset-status.error {
  color: red;
}

.reset-status.success {
  color: green;
}

.password-change-label {
  color: #16325C;
  opacity: .7;
}

.login-social-providers-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 24px;
}

.login-social-providers-list a {
  text-decoration: none;
  height: 32px;
  width: 304px;
  display: flex;
  align-items: center;
  border: 1px solid #D7D8DD;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 0 8px;
  margin-bottom: 8px;
}

.login-social-providers-list a span {
  flex: 1;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.login-social-providers-list a:hover {
  text-decoration: underline;
  color: #000000;
}

.login-social-providers-list a:visited {
  color: #334C70;
}

.sign-in-auth {
  position: absolute;
  width: 304px;
  bottom: 0;
  text-align: center;
}

.sign-via {
  color: #979797;
  font-family: "Karla";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@keyframes slide {
    0% {
      width: 38.2%;
    }
    100% {
      width: 100%;
    }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes to-recovery {
  0% {
    width: 140px;
    align-self: flex-start;
  }

  100% {
    width: 200px;
    align-self: center;
  }
}

@keyframes to-login {
  0% {
    width: 200px;
    margin-left: 20%;
  }

  100% {
    width: 140px;
    margin-left: 0;
  }
}

@keyframes descript-login {
  0% {
    margin-bottom: 25px;
  }

  100% {
    margin-bottom: 45px;
  }
}

@keyframes descript-recovery {
  0% {
    margin-bottom: 45px;
  }

  100% {
    margin-bottom: 25px;
  }
}


@keyframes button  {
  0% {
    color: #3661EB;
  }
  100% {
    color: #FFFFFF;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}
