/* ------------------------------------------------------------------------------

    1. Base styles
    2. Authorization
        2.1 Login Page
        2.2 Reset Password
    3. Layout
        3.1 Header
        3.2 Left Sidebar
        3.3 Main Container
            - Breadcrumbs

    4. Pages
        4.1 Home page

-------------------------------------------------------------------------------*/


/*@import "fonts.css";*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i,700');

/*---------------------------------------------------------
    1. Base styles
----------------------------------------------------------*/
body {
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
  /*font-family: 'Lato', sans-serif;*/
}

.no-select {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.cut-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*---------------------------------------------------------
    3.1 Header
----------------------------------------------------------*/
.header-container {
  position: fixed;
  height: 48px;
  width: 100%;
  min-width: 1280px;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 0 2px;
  z-index: 9999;
  background: white;
}

.header-container .left-block {
  /*margin-right: auto;*/
}

.header-container .document-reviewer-link {
  height: 28px;
  width: 144px;
  border-radius: 3px;
  background-color: rgba(21, 137, 238, 0.1);
  color: #1589EE;
  font-size: 13px;
  /*line-height: 12px;*/
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 260px;
  top: 10px;
  /*margin-right: auto;*/
}

.header-container .document-reviewer-link .fa {
  font-size: 22px;
  margin-right: 6px;
}

.header-container .site-name-block {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 22px;
  color: #16325C;
  margin-top: -4px;
}

.header-container .right-block {
  display: flex;
  /*margin-left: auto;*/
}

.header-container .logo {
  margin-top: -1px;
  margin-left: 12px;
}

.header-container .logo .standard-logo {
  display: block;
  text-decoration: none;
}

.header-container .user-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .user-menu form {
  margin: 0;
}

.header-container .user-menu .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  float: right;
  height: inherit;
  padding: 7px 12px 7px;
  min-width: 160px;
}

.header-container .user-menu:hover,
.header-container .user-menu[aria-expanded="true"] {
  background-color: #EDEFF3;
  cursor: pointer;
}

.header-container .user-menu .user img {
  display: inline-block;
  height: 33px;
  border: none;
  border-radius: 50%;
}

.header-container .user-name {
  display: block;
  justify-self: flex-start;
  color: #334C70;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  line-height: 17px;
  margin: 0 12px;
  max-width: 200px;
}

.content-container {
  height: calc(100vh - 88px);
  overflow: auto;
}

/*---------------------------------------------------------
    2.2 Left Sidebar
----------------------------------------------------------*/
.sidebar {
  color: #16325C;
  height: calc(100% - 48px);
  overflow: auto;
  position: fixed;
  width: 260px;
  z-index: 1000;
  margin-top: 48px;
  background-color: #F4F6F9;
  border-right: 1px solid #D8DDE6;
  box-shadow: inset 0 2px 2px #D8DDE6;
}

.sidebar .icon {
  display: inline-block;
}

.sidebar .icon.collapse {
  background-image: url(../images/icn_collapse.png);
  width: 16px;
  height: 12px;
}

.sidebar .fa {
  width: 13px;
}

.sidebar .blog-link .fa-external-link {
  margin-left: 5px;
  color: grey;
  font-size: 12px;
  margin-top: 2px;
}

.sidebar .blog-link:hover .fa-external-link {
  color: rgb(21, 137, 238);
}

.sidebar .accordion-arrow.accordion-default:after {
  -moz-transition: all 0.24s ease;
  -ms-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  -webkit-transition: all 0.24s ease;
  border-bottom: 2px solid #16325C;
  border-right: 2px solid #16325C;
  content: "";
  display: inline-block;
  float: right;
  height: 7px;
  margin-right: 9px;
  margin-top: 0;
  position: absolute;
  right: 7px;
  top: 15px;
  transition: all 0.24s ease;
  width: 7px;
}

.sidebar .accordion-arrow[aria-expanded="true"]:after {
  transform: rotate(45deg);
}

.sidebar .accordion-arrow:not([aria-expanded="true"]):after {
  transform: rotate(-45deg);
}

.sidebar a {
  text-decoration: none;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar .components {
  padding: 0;
}

.sidebar .components li a,
.sidebar .components li span {
  display: flex;
  text-decoration: none;
  color: #16325C;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  align-items: center;
  height: 41px;
  cursor: pointer;
}

.sidebar .components > li:first-child a {
  height: 39px;
}


.sidebar .components > li {
  border-bottom: 1px solid #D8DDE6;
}

.sidebar .components > li > a,
.sidebar .components > li > span {
  text-transform: uppercase;
  font-weight: 600;
}

.sidebar .components li.divider {
  height: 1px;
  margin: 0;
  background: #D8DDE6;
  width: 100%;
}

.sidebar .components li a .icon,
.sidebar .components li span .icon {
  margin: 0 15px 0 12px;
  color: rgb(21, 137, 238);
}

.sidebar .components li a:hover {
  color: #1589EE;
}
.sidebar .components .collapse:not(.icon), .sidebar .components .collapsing {
  padding: 0;
}

.sidebar .components > li > a.active {
  color: #1589EE;
}

.sidebar .components .collapse a:hover,
.sidebar .components .collapsing a:hover {
  color: #1589EE;
  background-color: #fff;
}

.sidebar .components .collapse .active {
  background-color: rgba(21, 137, 238, 0.2);
  border-left: 3px solid #1589EE;
  padding-left: 27px;
}

.sidebar .components .collapse a.active:hover {
  background-color: rgba(21, 137, 238, 0.2);
}

.sidebar .components .collapse a,
.sidebar .components .collapsing a {
  background: #fff;
  color: #334C70;
  padding: 5px 30px;
  height: auto;
}

.sidebar .components .collapse {
  background-color: #fff;
}

.sidebar .version,
.sidebar .copyright {
  border-bottom: none;
  font-size: 12px;
  padding: 5px 15px;
  color: #334C70;
  position: absolute;
  bottom: 3px;
  width: 100%;
  text-align: center;
  display: none;
  white-space: nowrap;
}

.sidebar .version {
  bottom: 20px;
}

.sidebar .version,
.sidebar .copyright {
  display: block;
}
/*---------------------------------------------------------
    2.3 Main Container
----------------------------------------------------------*/
.main-container {
  display: block;
  max-width: 100%;
  width: calc(100% - 260px);
  max-height: 100%;
  height: 100vh;
  margin-left: 260px;
  padding-top: 48px;
  overflow: hidden;
}

.main-container .page-header {
  height: 40px;
  flex: 1;
  box-sizing: border-box;
  width: auto;
  padding-left: 5px;
  background-color: #F4F6F9;
  border-bottom: 1px solid #D8DDE6;
  box-shadow: inset 0 2px 0 #D8DDE6;
  display: flex;
  flex-direction: row;
}

.main-container .page-header .breadcrumb a {
  color: #16325C;
}

.main-container .page-header .breadcrumb a:hover {
  color: #1589EE;
}

.content-wrap .container {
  margin: 0;
}



/*---------------------------------------------------------
    4.1. Home page
----------------------------------------------------------*/
.container.home-page {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 25px 15px 15px;
  max-width: 1700px !important;
}

.container.home-page > .col-md-6 {
  margin-bottom: 30px;
  min-width: 450px;
  padding-right: 12%;
}

.container.home-page .list-title {
  color: #16325C;
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
}

.container.home-page .list-subtitle {
  color: #334C70;
  font-size: 13px;
  line-height: 17px;
  margin: 5px 0 14px 0;
}

/*.container.home-page .list-subtitle.two-rows {
  height: 34px;
}*/

@media (max-width: 1470px) {
    .container.home-page > .col-md-6 {
        padding-right: 6%;
    }
}

@media (max-width: 1270px) {
    .container.home-page > .col-md-6 {
        padding-right: 3%;
    }
}

.container.home-page .list-group-item {
  box-sizing: border-box;
  height: 39px;
  /*width: 90%;*/
  border: 1px solid #D8DDE6;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.05);
  margin-bottom: 7px;
  color: #334C70;
  font-size: 15px;
  line-height: 19px;
  padding: 7px 14px;
  display: flex;
}

.container.home-page .list-group-item .fa {
  margin-left: auto;
  margin-top: 4px;
  color: #1589EE;
}



.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.navbar-toggleable-xs {
  padding-top: 4px;
}

/* This is a fix for the bootstrap4 alpha release */
@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    float: none;
    width: 100%;
    display: inline-block;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

/* Display django-debug-toolbar.
   See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
   and https://github.com/pydanny/cookiecutter-django/issues/317
*/
[hidden][style="display: block;"] {
  display: block !important;
}
.typeahead {
  background-color: #fff
}
.typeahead:focus {
  border: 2px solid #337ab7
}
.tt-hint {
  color: #999
}
.tt-menu {
  background-color: #fff;
}
.tt-suggestion {
  padding: 8px;
  border: 1px solid #333;
}
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf
}

table th {
  text-align: center !important;
}

table td {
  text-align: center !important;
}

mark {
  background: orange;
  color: black;
}

:target {
  background: #fcf8e3;
  padding: 16px;
  border: 2px dashed #eeeeee;
}

.document_raw_text {
  background-color: #ffffff;
  border: 2px solid #eeeeee;
  position: relative;
  height: 400px;
  margin-top: .5rem;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-indent: 8px;
  overflow: auto;
}

.document_raw_text p {
  text-indent: 16px;
  text-align: justify;
}

/*----------------------*/
/* Global search styles */
/*----------------------*/
.global-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
.global-search ::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
.global-search :-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
.global-search :-moz-placeholder { /* Firefox 18- */
  color: #999;
}
.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.global-search {
  display: none;
  position: relative;
  border-bottom: 1px solid #f4f6f9;
  padding: 0 0 15px 0;
  margin: 0 0 25px 0;
  width: 100%;
}
.global-search .form-control {
  background-color: #555;
  color: #eee;
}
.global-search .title {
  color: #16325b;
  font-size: 20px;
  font-weight: bold;
}
.global-search button {
  background-color: #1589EE;
  border: none;
  color: #FFFFFF;
  margin: 0 0 3px 20px;
}
.global-search button:hover {
  background-color: #44a1f1;
}
.global-search .bootstrap-tagsinput {
  background-color: transparent;
  padding: 0;
  line-height: initial;
  box-sizing: inherit;
  border-radius: 3px;
  height: 34px;
}
.global-search .bootstrap-tagsinput input {
  height: 32px !important;
}

.global-search form {
  margin-bottom: 0;
}
.global-search input:focus,
.global-search .form-group > .twitter-typeahead input:hover,
.global-search .bootstrap-tagsinput:hover,
.global-search .input-focus,
.global-search #elastic_search:hover {
  border: 1px solid #3288ee;
}
.global-search .form-group {
  margin-bottom: 3px;
}
.global-search input.tt-input,
.global-search input.non-typeahead,
.global-search .bootstrap-tagsinput input.tt-input {
  color: #385178;
  padding: 0 10px;
  line-height: 24px;
  font-size: 14px;
  height: 34px;
}
.global-search input.non-typeahead {
  background-color: transparent;
}
/*.global-search input.tt-input {*/
/*  height: 25px;*/
/*}*/


.bootstrap-tagsinput .tag {
  color: #555 !important;
  background-color: #ddd;
  border: 1px solid lightgrey;
  line-height: 20px;
  margin-left: 2px;
}
.bootstrap-tagsinput {
  box-shadow: none !important;
}
.bootstrap-tagsinput input.tt-input {
  line-height: 27px;
}
.twitter-typeahead .tt-hint {
  display: none;
}

.global-search .global-search-switch {
  position: absolute;
  bottom: 22px;
  right: 30px;
  margin: 0;
  background: #1589EE;
}

.global-search .global-search-switch:hover {
  background: #44a1f1;
}

.global-search .tt-menu.tt-open {
  z-index: 9999 !important;
}

#global_search_switch {
  position: fixed;
  right: 0;
  top: 100px;
  background-color: #3288ee;
  color: #ddd;
  border: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 8px;
  line-height: 18px;
  z-index: 99999;
}
#global_search_switch i {
  margin: 0;
  background-color: #63bcf9;
}
#global_search_switch div {
  float: left;
  width: 0;
  display: none;
}
#global_search_switch:hover i {
  margin: 4px 0;
  background-color: #17356b;
}
#global_search_switch:hover div {
  width: 50px;
  display: block;
}

/*---------------------*/
/*     Form styles     */
/*---------------------*/
.form-horizontal {
  margin-top: 40px;
}
.form-horizontal .form-group {
  float: left;
  width: 100%;
  color: #454545;
  margin-bottom: 20px;
}
.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding: .45rem
}
.required .control-label:after {
  content: '*';
  font-weight: normal;
  font-size: 85%;
  color: red;
  padding-left: 3px;
}
.chosen-container>.chosen-single {
  padding: 4px 0 0 8px;
  height: 35px;
}
.chosen-container>.chosen-single>div {
  padding: 4px 0;
}
.chosen-container>.chosen-choices {
  padding: 4px;
  min-height: 35px;
}
.chosen-choices {
  border-radius: .25rem;
}

/*----------------------------*/
/*  Styles for Detail view    */
/*----------------------------*/
.table.details td:first-child {
  text-align: right !important;
  width: 30%;
  font-weight: bold;
}
.table.details td:nth-child(2) {
  text-align: left !important;
}

/*-----------*/
/*   Common  */
/*-----------*/
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}

.user-info {
  position: fixed;
  bottom: 0;
  right: 10px;
  color: #666;
  font-size: 12px;
  z-index: 1000;
}

.table.table-striped-extra>tbody>.primary-row.odd {
  background-color: rgba(0,0,0,.05);
}

/*--------------------*/
/* Filebrowser styles */
/*--------------------*/
.filebrowser #result_list>thead>tr>th {
  text-align: center;
}
.filebrowser #result_list>thead>tr>th:nth-child(2),
.filebrowser #result_list>tbody>tr>td:nth-child(2) {
  display: none;
}
.filebrowser .change-list .filtered .results,
.filebrowser .change-list .filtered .paginator,
.filebrowser .filtered .results,
.filebrowser .filtered #toolbar,
.filebrowser .filtered div.xfull {
  margin-right: 140px;
}
.filebrowser .filtered .paginator {
  margin-right: 140px;
  background-color: #f8f8f8;
}
.filebrowser #changelist-filter {
  width: 120px;
}
.filebrowser #changelist #toolbar {
  background-color: inherit;
  padding: 0;
  border: none;
}
.filebrowser #changelist #toolbar form #searchbar {
  height: inherit;
  margin-right: 3px;
  font-size: 14px !important;
  line-height: 20px !important;
  padding: 6px 12px !important;
}
.filebrowser #changelist table thead th {
  padding: 12px;
}
.filebrowser #changelist table thead th a {
  color: #5bc0de;
}
.filebrowser #changelist-filter {
  z-index: 100;
}
.filebrowser .breadcrumbs {
  font-size: 14px;
  padding: 12px 15px 12px 10px;
  margin: 5px 140px 15px 0;
  background-color: #f8f8f8;
}
.filebrowser .form-control.fb-form-control {
  width: auto;
  min-width: 300px;
}
.filebrowser .help {
  font-size: 80%;
  font-weight: 400;
}
.filebrowser .paginator a:link, .paginator a:visited {
  margin: 1px;
}

/*-----*/
/* Map */
/*-----*/
#map-canvas {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid lightgrey;
}
.map-label {
  padding: 2px;
  background-color: white;
  border: 1px solid darkblue;
  color: red;
}
.loader-container {
  margin: 30px;
}
.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#regions_div {
  height: 512px;
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid lightgrey;
}

/*--------------------------*/
/* Styles for minified html */
/*--------------------------*/
.btn + .btn,
.btn-group + .btn,
.form-inline .form-group + .form-group,
.form-inline .form-group + .btn {
  margin-left: 3px;
}
.card .btn {
  display: initial;
}

/*---------------------*/
/* Theme custom styles */
/*---------------------*/
#content {
  overflow: auto;
}

/*#header, #header-wrap {*/
/*  z-index: 99999 !important;*/
/*}*/

#page-title {
  padding: 10px 0;
}
#page-title h1 {
  float: left;
}
.content-wrap {
  padding: 10px 0;
}
#copyrights {
  padding: 10px 0;
}
section h2,
section h3 {
  margin-bottom: 10px;
}

.dark #header.semi-transparent,
.dark #header.semi-transparent.floating-header .container,
#header.dark.semi-transparent,
#header.dark.semi-transparent.floating-header .container {
  background-color: #555;
}
.dark #header-wrap:not(.not-dark) #primary-menu > ul > li:hover > a,
.dark #header-wrap:not(.not-dark) #primary-menu > ul > li.current > a,
.dark #header-wrap:not(.not-dark) #primary-menu > .container > ul > li:hover > a,
.dark #header-wrap:not(.not-dark) #primary-menu > .container > ul > li.current > a {
  color: #1ABC9C;
}
#primary-menu #main_menu li > a span {
  display: inline;
}
#primary-menu > #main_menu > li > a i {
  padding-top: 4px;
}
#primary-menu > #main_menu > li > ul li.divider {
  border-bottom: 1px solid #555;
}
#header:not(.sticky-header) #logo img {
  height: 70px;
  margin: 14px 0;
}
#header #logo a.standard-logo {
  display: block !important;
}
#header:not(.sticky-header) #account_menu a {
  padding: 39px 10px 30px 10px;
}
#primary-menu #account_menu li > a i {
  margin: 0;
}
#header.full-header #primary-menu > #account_menu {
  border-right: none;
  padding-right: 0;
}
@media (min-width:1530px) {
  #header:not(.sticky-header) #account_menu a {
    padding: 39px 15px;
  }
}
@media (max-width:1360px) and (min-width:1220px) {
  #header #main_menu i {
    display: none;
  }
}
@media (max-width:1200px) and (min-width:980px) {
  #header #primary-menu > #main_menu > li > a {
    padding: 25px 15px;
  }
  #header.sticky-header #primary-menu > #main_menu > li > a {
    padding: 5px 15px;
  }
  #header #primary-menu > #main_menu > li > a i {
    display: block;
    font-size: 22px;
    margin: auto;
    padding-top: 5px;
    padding-right: 25px;
  }
  #header #primary-menu > #main_menu > li > a span {
    font-size: 8px;
  }
}
@media (max-width: 991px) {
  #primary-menu > #account_menu > li > a span {
    display: inline;
    padding-left: 10px;
  }
}


.thead-inverse th {
  background-color: #f4f6f9;
  color: #17356b;
}
.table-inverse {
  color: #fff;
  background-color: #bbb;
}

.document_raw_text .well li {
  list-style: none;
}

/* table dropdown menu styles */
.dropdown-menu li > a:hover {
  color: #1ABC9C;
  cursor: pointer;
}
.dropdown-menu li > a > i {
  margin-right: 5px;
}

/* search form on document property list page, text unit tag list */
.header-search-form {
  width: 250px;
  margin: 0;
}
.header-search-form .input-group .twitter-typeahead {
  display: inline !important;
}
.header-search-form .input-group .typeahead {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.header-search-form .input-group {
  margin: 5px 0;
}
.header-search-form button {
  height: 34px;
  padding: 6px 7px 6px 10px;
}
.header-search-form .tt-menu.tt-open {
  left: -215px !important;
  top: 33px !important;
  z-index: 9999 !important;
}
.header-search-form.highlight-container {
  border-radius: 0 0 4px 4px !important;
}
.header-search-form.highlight-container input {
    height: 34px;
}
.header-search-form.highlight-container input:focus {
  border: 1px solid #f0ad4e;
}
td p {
  margin-bottom: 0;
}
footer .counter-block a .counter {
  color: #fff;
}

.table.table-inner {
  margin-bottom: 0
}
.table.table-inner tbody > tr:last-child {
  background-color: #f0f0f0;
}
.table thead.thead-semi-inverse {
  background-color: #7f7f7f;
  color: #fff;
}
.table.table-inner.dashboard-projects tbody > tr > td:last-child {
  padding: 2px 0 0 0;
}

/*---------------*/
/*  Tabs styles  */
/*---------------*/
.tabs.page-tabs .tab-nav a,
.page-tabs .nav-tabs a {
  text-transform: uppercase;
  color: #444;
  font-weight: 600;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding: 10px;
}
.tabs.page-tabs .tab-nav li:not(.ui-state-active) a,
.page-tabs .nav-tabs li a:not(.active) {
  opacity: 0.5;
}
.tabs.page-tabs .tab-nav li:not(.ui-state-active) a:hover,
.page-tabs .nav-tabs li a:not(.active):hover {
  opacity: 1;
}
.page-tabs > .nav > li > a:hover,
.page-tabs > .nav > li > a:focus {
  background-color: inherit;
  border: inherit;
}
.nav-tabs > li > a.active,
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a.active:focus {
  color: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #1ABC9C;
}
.page-tabs .tab-pane:target {
  background: transparent;
  padding: 0;
  border: none;
}

#exportForm {
  margin: 0;
}
label {
  text-transform: none;
}

/*---------------*/
/*  Error pages  */
/*---------------*/
.error-page .content-wrap {
  text-align: center;
}

.error-page .content-wrap h1 {
  margin: 15px 0 7px 0;
}

/*body.error-page {*/
/*  background: url(../images/background.jpg) no-repeat center center fixed;*/
/*}*/
/*body.error-page #wrapper {*/
/*  background-color: transparent;*/
/*}*/
/*body.error-page #content {*/
/*  color: #eee;*/
/*  height: 400px;*/
/*  background-color: transparent;*/
/*}*/
/*body.error-page #content .content-wrap {*/
/*  position: fixed;*/
/*  top: 150px;*/
/*  left: 150px;*/
/*}*/
/*body.error-page #content h1 {*/
/*  color: #eee;*/
/*}*/
/*body.error-page #page-title {*/
/*  display: none;*/
/*}*/
/*body.error-page .global-search,*/
/*body.error-page .global-search-bar {*/
/*  display: none;*/
/*}*/
/*---------------*/
/* Account pages */
/*---------------*/
body.account {
  background: url(../images/background.jpg) no-repeat center center fixed;
}
body.account #wrapper {
  background-color: transparent;
}
body.account #page-title {
  display: none;
}
body.account #content {
  min-height: 400px;
  background-color: transparent;
}
body.account #content .divcenter {
  width: 400px;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: rgba(238, 238, 238, 0.74);
}
body.account #content .divcenter form {
  margin-bottom: 0;
}

/*--------------------------*/
/* extra styles for buttons */
/*--------------------------*/
.btn-u {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  margin: 5px 2px;
  padding: 0 22px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  background-color: #1a8fbc;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
body:not(.device-touch) .btn-u {
  transition: all .2s ease-in-out;
}
.btn-u.btn-xl,
.btn-u.btn-xl-s,
.btn-u.btn-xl-p {
  background-color: #fff;
  color: #555;
  border: 1px solid #eee;
  text-shadow: none;
}
.btn-u.btn-l {
  background-color: #eee;
  color: #555;
  text-shadow: none;
}
.btn-u.btn-s {
  background-color: #1ABC9C;
}
.btn-u.btn-xl-s:hover {
  background-color: #1ABC9C;
  color: #eee;
}
.btn-u.btn-xl-p:hover {
  background-color: #1a8fbc;
  color: #eee;
}
.btn-u.btn-p {
  background-color: #1a8fbc;
}
.btn-u.btn-w {
  background-color: #e69d19;
}
.btn-u.btn-d {
  background-color: #d16747;
}
.btn-u.btn-i {
  background-color: #46ced5;
}
.btn-u.btn-sm {
  padding: 0 17px;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
}
.btn-u.btn-xs {
  padding: 0 10px;
  font-size: 10px;
  height: 25px;
  line-height: 25px;
  margin: 2px;
}
.btn-u.btn-xxs {
  padding: 0 7px;
  font-size: 9px;
  height: 20px;
  line-height: 20px;
  margin: 1px;
}
.btn-u.btn-e {
  background-color: #fff;
  color: #1ABC9C;
  border: 1px solid #ddd;
  text-shadow: none;
}
.btn-u.btn-e:hover {
  background-color: #1ABC9C;
  color: #eee;
  border: 1px solid #1ABC9C;
}
.btn-u:hover {
  background-color: #444;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.btn-u.btn-nu {
  text-transform: none;
}
.btn-group > .btn-u {
  margin: 0;
  float: left;
}
.btn-group > .btn-u:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn-u:first-child {
  margin-left: 0;
}
.btn-group > .btn-u:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn-u:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/*------------------------*/
/* jqxGrid custom styles  */
/*------------------------*/

.jqx-grid-cell[role=gridcell] > div {
  margin: 0 5px;
}
.jqx-widget-header {
  background-color: #f4f6f9;
  color: #17356b;
  font-weight: 600;
}
.jqx-rc-all {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.jqx-grid-column-header:hover {
  color: #1ABC9C;
}
.jqx-grid-pager-input {
  color: #555;
}
.jqx-widget .jqx-grid-cell,
.jqx-widget .jqx-grid-column-header,
.jqx-widget .jqx-grid-group-cell {
  border-color: #ddd;
}
.jqx-grid-column-menubutton-custom,
.jqx-grid-column-sortdescbutton-custom {
  background-image: url(../vendor/jqwidgets/styles/images/metro-icon-down-white.png);
}
.jqx-grid-pager .jqx-icon-arrow-down,
.jqx-grid-column-header .jqx-icon-arrow-down,
.jqx-grid-pager .jqx-icon-arrow-down-hover,
.jqx-grid-pager .jqx-icon-arrow-down-selected,
.jqx-icon-arrow-down,
.jqx-icon-arrow-down-hover,
.jqx-icon-arrow-down-selected {
  background-image: url(../vendor/jqwidgets/styles/images/metro-icon-down-white.png);
}
.jqx-icon-arrow-up,
.jqx-icon-arrow-up-hover,
.jqx-icon-arrow-up-selected {
  background-image: url(../vendor/jqwidgets/styles/images/metro-icon-up-white.png);
}

.jqxgrid.jqx-grid .jqx-icon-arrow-up {
  background-image: url(../vendor/jqwidgets/styles/images/metro-icon-up.png);
}

.jqxgrid.jqx-grid .jqx-icon-arrow-down {
  background-image: url(../vendor/jqwidgets/styles/images/metro-icon-down.png);
}

.jqx-widget .jqx-grid-column-menubutton,
.jqx-widget .jqx-grid-column-sortascbutton,
.jqx-widget .jqx-grid-column-sortdescbutton,
.jqx-widget .jqx-grid-column-filterbutton {
  border-color: #eee;
}
.jqx-grid-pager .jqx-dropdownlist-state-normal.jqx-fill-state-normal {
  /* background-color: #555; */
  /* color: #eee; */
  color: #16325C;
}
.jqx-grid-pager .jqx-dropdownlist-state-normal.jqx-fill-state-pressed {
  border-color: #aaa;
}

.jqx-grid-pager .jqx-button {
  background-color: #1589ee;
}
/* .jqx-grid-pager .jqx-button:hover,
.jqx-grid-pager .jqx-dropdownlist-state-normal.jqx-fill-state-normal:hover {
  background-color: #333;
} */
.jqx-grid-pager .jqx-icon-arrow-left,
.jqx-grid-pager .jqx-icon-arrow-left-selected {
  background-image: url(../vendor/jqwidgets/styles/images/metro-icon-left-white.png);
}
.jqx-grid-pager .jqx-icon-arrow-right,
.jqx-grid-pager .jqx-icon-arrow-right-selected,
.jqx-icon-arrow-right,
.jqx-icon-arrow-right-hover,
.jqx-icon-arrow-right-selected {
  background-image: url(../vendor/jqwidgets/styles/images/metro-icon-right-white.png);
}

.jqx-calendar-title-navigation.jqx-icon-arrow-right {
    background-image: url(../vendor/jqwidgets/styles/images/icon-right.png);
}

div[id^="calendarjqxWidget"] {
    margin-left: -90px;
}

/* sub-grid */
.jqx-enableselect.jqx-widget-content {
  background-color: #e1e1eb;
}
.sub-grid-title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 10px 0 15px;
}
.sub-grid {
  margin: 5px 10px 10px 10px;
}

/* .jqx-grid-cell-pinned-alt,
.jqx-grid-cell-pinned {
  background-color: #555;
} */
/* Popup menu on "acton" button click in jqxgrid */
.popup-menu {
  margin-top: 5px;
}
.popup-menu li {
  padding: 1px 0;
  list-style: none;
  font-size: 14px;
}
.popup-menu li a {
  display: block;
  padding: 5px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #555;
  white-space: nowrap;
  /*text-align: center;*/
}
.popup-menu li a i {
  margin-right: 10px;
}
.popup-menu li>a:hover {
  color: #1abc9c;
  cursor: pointer;
  background-color: #f5f5f5;
}
.jconfirm .twitter-typeahead {
  width: 100%;
  margin-bottom: 5px;
}
.jconfirm .twitter-typeahead:last-child {
  margin-bottom: 50px;
}
.jconfirm .twitter-typeahead .tt-suggestion {
  padding: 2px 4px;
}

/* badges */
.badge-s {
  background-color: #1ABC9C;
  color: #fff;
}
.badge {
  vertical-align: top;
}
.dropdown-menu .badge {
  float: right;
  margin-top: 10px;
}

footer .footer-slider {
  background: url(../images/contrax-demo-site.png);
  background-size: cover;
  opacity: 0.9;
  height: 150px;
}
footer .footer-slider .slider-text {
  opacity: 0.8 !important;
  top: inherit !important;
  margin-top: 50px !important;
}
footer a {
  color: #fff;
}
footer .footer-slider .t-rotate {
  color: #1ABC9C;
}
#gotoTop {
  z-index: 9999;
}
.table > tbody > tr.tr-with-knob > td:not(.knob) {
  padding: 20px 8px;
}

/*--------------------------*/
/* Popup form for task view */
/*--------------------------*/
.center-form {
  width: 400px;
  margin: 20px auto;
  border: 1px solid lightgrey;
  padding: 20px;
}
.popup-form p.header {
  font-size: 1.5rem;
}
.popup-form p.error {
  font-size: 15px;
  color: darkred;
  background-color: #ffe7eb;
  margin-bottom: 0;
  padding-left: 5px;
  float: left;
  width: 95%;
  /*text-align: right;*/
}
.popup-form .helptext {
  font-size: 10px;
  display: block;
  text-align: right;
  width: 95%;
}
.popup-form:not(.ltr) p:not(.checkbox-ltr-full-width) > label {
  width: 40%;
  text-align: right;
}
.popup-form:not(.ltr) .checkbox-ltr-full-width .helptext {
  text-align: left;
  margin-left: 40px;
}
.popup-form .checkbox-style:checked + .checkbox-style-3-label:before {
  content: "\e116";
  font-family: 'lined-icons';
  background: #1ABC9C;
  color: #FFF;
}
.popup-form input:not([type=checkbox]),
.popup-form textarea,
.popup-form select {
  width: 55%;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  box-shadow: none;
}
.popup-form textarea {
  height: 70px;
  padding-bottom: 20px;
}
.popup-form .btn {
  float: right;
  margin: 10px 34px 10px 0;
}
.popup-form .btn+p {
  clear: both;
}
.popup-form .chosen-results {
  height: 80px;
}
.popup-form:not(.ltr) > p:not(.header) {
  margin-bottom: 2px;
}
.popup-form .main-label {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.jconfirm .text-warning {
  color: #e69d19;
}
.cke.cke_panel {
  z-index: 99999999 !important;
}

/* ---------------------------------- */
/* Date Usage Timeline Tooltip styles */
/* ---------------------------------- */
.timeline-tooltip {
  max-width: 800px;
  font-size: 12px;
  background-color: #ddd;
  color: #555;
}
.timeline-tooltip p {
  margin-bottom: 2px;
  padding: 5px;
  text-align: left;
  word-break: break-all;
  white-space: normal;
  line-height: 1.2 !important;
}
.timeline-tooltip p:nth-child(odd){
  background-color: #555;
  color: #eee;
  font-weight: bold;
}
.vis-item-content {
  padding: 0 !important;
}
.vis-item-content a {
  padding: 5px;
  color: #555;
  box-shadow: 5px 5px 15px #888;
}
.vis-item-content a:hover {
  font-weight: bold;
  box-shadow: 10px 10px 15px #555;
}

.editor_holder .form-control label {
  float: left;
  width: 50%;
}

.editor_holder .form-control input {
  float: right;
  width: 50%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #888;
}

.editor_holder .row {
  margin: 0;
}

.swagger-section .hljs {
  text-align: left;
}
li.dropdown-item>a {
  color: #212529;
}

/*body {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*}*/

/*#wrapper {*/
/*  display: table;*/
/*  height: 100%;*/
/*}*/

/*#wrapper #content {*/
/*  display: table-row;*/
/*  height: 100%;*/
/*}*/

/*#wrapper #footer {*/
/*  margin-top: 10px !important;*/
/*}*/

/* Styles for "Project Selection block */
.project_selection {
  position: absolute;
  float: right;
  right: 5px;
  padding: 1px;
  z-index: 999;
}
.project_selection ul.chosen-choices {
  max-height: 38px;
  overflow: auto;
}
.project_selection ul.chosen-choices:hover {
  max-height: 95px;
}
.project_selection label {
  vertical-align: top;
  padding-top: 12px;
}