{% extends "base_list_ajax.html" %}
{% load static %}

{% block css_extra %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "theme/css/components/radio-checkbox.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "theme/css/components/bs-switches.css" %}" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.min.css">
  <style>
    .load-form-template, .cluster-form-template {
      display: none
    }
    .dropdown-submenu {
      position: relative;
    }
    .dropdown-submenu>.dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
      -webkit-border-radius: 0 6px 6px 6px;
      -moz-border-radius: 0 6px 6px;
      border-radius: 0 6px 6px 6px;
    }
    .dropdown-submenu:hover>.dropdown-menu {
      display: block;
    }
    .dropdown-submenu>a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #ccc;
      margin-top: 5px;
      margin-right: -10px;
    }
    .dropdown-submenu:hover>a:after {
      border-left-color: #fff;
    }
    .dropdown-submenu.pull-left {
      float: none;
    }
    .dropdown-submenu.pull-left>.dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }

    li.divider {
      margin: 5px 0 !important;
      border-top: 1px solid;
    }

    .level-1, .level-2 {
      margin-left: 40px;
    }
    .load-form p {
      margin-bottom: 0;
    }
    .load-form label.checkbox-style-3-label {
      margin-left: 0;
    }
    .load-form .fancy-title {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .load-form .fancy-title h4 {
      padding-bottom: 3px;
    }
    input.as-btn {
      display: none;
    }
    input.as-btn + label {
      line-height: normal;
      cursor:pointer;
      padding: 0 4px;
      background-color: #EFEFEF;
      border-radius: 2px;
      border: 1px solid #D0D0D0;
      margin: 4px;
    }
    input.as-btn + label:hover {
      border-color: #555;
      background-color: #eee;
      color: #555;
    }
    input.as-btn:checked + label {
      border-color: #555;
      background-color: #1ABC9C;
      color: #fff;
    }
    .chosen-single {
      height: 34px;
      padding-top: 3px;
    }
    .checkbox-parent {
      width: 30%;
      display: inline-block;
    }
    .checkbox-child {
      width: 60%;
      display: inline-block;
    }
    .checkbox-child label {
      margin-left: 5px;
    }
    .locate-form .helptext {
      text-align: left;
      margin-left: 43px;
    }
    .disabled {
      opacity: 0.3
    }
    input[type="file"] {
      height: 100% !important;
    }
  </style>
{% endblock %}

{% block button_block %}
  {{ block.super }}
  <div class="dropdown btn-group pull-left">
    <a href="#" class="btn-u btn-sm"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Run Task<span class="caret"></span>
    </a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" style="transform:none !important">
      <li class="dropdown-submenu">
        <a class="dropdown-item" href="#" tabindex="-1">
          <i class="fa fa-file-text-o"></i> Load Data</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a class="task" href="#" tabindex="-1"
               data-href="{% url "task:load-documents" %}"
               data-btn-text="Load">
              <i class="fa fa-file-text-o"></i>
              Load Documents</a>
          </li>
          <li class="dropdown-item">
            <a class="task" href="#" tabindex="-1"
               data-href="{% url "document:load-document-with-fields" %}"
               data-btn-text="Load">
              <i class="fa fa-file-text-o"></i>
              Load Document With Fields</a>
          </li>
          <li class="dropdown-item">
            <a class="task-load" href="#"
               data-href="{% url "task:load" %}"
               data-btn-text="Load">
              <i class="fa fa-bars"></i>
              Load Dictionary Data</a>
          </li>
        </ul>
      </li>

      {% if custom_task_menu_item_templates|length > 0 %}
        <li class="dropdown-submenu">
          <a class="dropdown-item" href="#" tabindex="-1">
            <i class="fa fa-file-text-o"></i> Applications Tasks</a>
          <ul class="dropdown-menu">

              {% for template in custom_task_menu_item_templates %}
                <li class="divider"></li>
                {% include template %}
              {% endfor %}
          </ul>
        </li>
      {% endif %}

      <li class="divider"></li>
      <li class="dropdown-item">
        <a class="task" href="#"
           data-href="{% url "task:locate" %}"
           data-btn-text="Locate">
          <i class="fa fa-search"></i>
          Locate</a>
      </li>
      <li class="divider"></li>

      <li class="dropdown-submenu">
        <a class="dropdown-item" href="#" tabindex="-1">
          <i class="fa fa-object-group"></i> Analyze</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a class="task-cluster" href="#"
               data-href="{% url "task:cluster" %}"
               data-btn-text="Cluster">
              <i class="fa fa-object-group"></i>
              Cluster Documents/Text Units</a>
          </li>
          {% if active_classifiers %}
            <li class="dropdown-item">
              <a class="task" href="#"
                 data-href="{% url "task:existed-classifier-classify" %}"
                 data-btn-text="Classify">
                <i class="fa fa-object-group"></i>
                Classify Text Units (Use Existing Classifier)</a>
            </li>
          {% endif %}
          <li class="dropdown-item">
            <a class="task" href="#"
               data-href="{% url "task:create-classifier-classify" %}"
               data-btn-text="Classify">
              <i class="fa fa-object-group"></i>
              Classify Text Units (Create New Classifier)</a>
          </li>
          <li class="dropdown-item">
            <a class="task" href="#"
               data-href="{% url "task:similarity" %}"
               data-btn-text="Search">
              <i class="fa fa-copy"></i>
              Identify Similar Documents/Text Units</a>
          </li>
          <li class="dropdown-item">
            <a class="task" href="#"
               data-href="{% url "task:party-similarity" %}"
               data-btn-text="Search">
              <i class="fa fa-copy"></i>
              Identify Similar Parties</a>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="dropdown-item">
        <a class="task" href="#"
           data-href="{% url "task:update-elasticsearch-index" %}"
           data-btn-text="Update Index">
          <i class="fa fa-refresh"></i>
          Update Elasticsearch Index</a>
      </li>
      <li class="divider"></li>
      <li class="dropdown-submenu">
        <a class="dropdown-item" href="#" tabindex="-1">
          <i class="fa fa-database"></i>Export and Import</a>
        <ul class="dropdown-menu">

          <li class="dropdown-item">
            <a class="task" href="#"
               data-href="{% url "task:load-fixtures" %}"
               data-btn-text="Go">
              <i class="fa fa-upload"></i>
              Load Fixtures from file</a>
          </li>
          <li class="dropdown-item">
            <a class="task" href="#"
               data-href="{% url "task:dump-fixtures" %}"
               data-btn-text="Go">
              <i class="fa fa-download"></i>
              Dump Fixtures to file</a>
          </li>
          <li class="dropdown-item">
            <a class="task" href="#"
               data-href="{% url "document:import-document-type" %}"
               data-btn-text="Go">
              <i class="fa fa-upload"></i>
              Import document type</a>
          </li>
          <li class="dropdown-item">
            <a class="task" href="#"
               data-href="{% url "document:export-document-type" %}"
               data-btn-text="Go">
              <i class="fa fa-download"></i>
              Export document type</a>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="dropdown-submenu">
        <a class="dropdown-item" href="#" tabindex="-1">
          <i class="fa fa-database"></i> Cleanup</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a class="task" href="#"
               data-href="{% url "task:clean-project" %}"
               data-btn-text="Go">
              <i class="fa fa-trash"></i>
              Clean Project</a>
          </li>
          <li class="dropdown-item">
            <a class="task" href="#"
               data-href="{% url "task:total-cleanup" %}"
               data-btn-text="Go">
              <i class="fa fa-trash"></i>
              Total Cleanup</a>
          </li>
          <li class="dropdown-item">
            <a class="task" href="#"
               data-href="{% url "task:clean-tasks" %}"
               data-btn-text="Clean"
               data-type="red"
               data-btn-class="btn-u btn-sm btn-d"
               data-content="Clean tasks with <span class='tag tag-success'>SUCCESS</span> or <span class='tag tag-danger'>FAILURE</span> statuses?<br />
                             Note: this task scheduled on Mondays.">
              <i class="fa fa-trash"></i>
              Clean Task List</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
{% endblock %}

{% block js_extra %}
  
  <form class="popup-form cluster-form-template">
    <p class="header">Clustering Documents and/or Text Units by Terms, Entities or Parties.</p>
    <p class="checkbox-ltr-full-width">
      <input checked="checked" class="checkbox-style min-one-of" id="_id_do_cluster_documents" name="do_cluster_documents" type="checkbox">
      <label for="_id_do_cluster_documents" class="checkbox-style-3-label "> Cluster Documents</label>
    </p>
    <p class="checkbox-ltr-full-width">
      <input class="checkbox-style min-one-of" id="_id_do_cluster_text_units" name="do_cluster_text_units" type="checkbox">
      <label for="_id_do_cluster_text_units" class="checkbox-style-3-label "> Cluster Text Units</label>
    </p>
    <p>
      <label for="_id_cluster_by">Cluster by:</label>
      <select name="cluster_by" id="_id_cluster_by" multiple="multiple" class="chosen" required="">
        <option value="date">Dates</option>
        <option value="duration">Date Durations</option>
        <option value="term">Terms</option>
        <option value="party">Parties</option>
        <option value="entity">Geo Entities</option>
        <option value="court">Courts</option>
        <option value="currency_name">Currency Name</option>
        <option value="currency_value">Currency Value</option>
        <option value="metadata">Document Metadata</option>
        <option value="document_type">Document Type</option>
        <option value="source_type">Document Source Type</option>
      </select>
      <span class="helptext">Cluster by terms, parties or other fields.</span></p>
    <p>
      <label for="_id_using">Algorithm:</label>
      <select name="using" id="_id_using">
        <option value="MiniBatchKMeans" selected="">MiniBatchKMeans</option>
        <option value="KMeans">KMeans</option>
        <option value="Birch">Birch</option>
        <option value="DBSCAN">DBSCAN</option>
        <option value="LabelSpreading">LabelSpreading</option>
      </select>
      <span class="helptext">Clustering algorithm model name.</span>
    </p>
    <p>
      <label for="_id_name">Name:</label>
      <input type="text" name="name" id="_id_name" maxlength="100" required="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
    </p>
    <p>
      <label for="_id_description">Description:</label>
      <input type="text" name="description" id="_id_description" maxlength="200">
    </p>

    <p>
      <label for="_id_options">Options:</label>
      <input type="checkbox" name="options" data-on-color="info" data-off-text="Advanced" data-off-color="success" id="_id_options" checked data-on-text="Default" class="bt-switch" data-size="small" />
      <span class="helptext">Show advanced options.</span>
    </p>

    <p>
      <label for="_id_n_clusters">n_clusters:</label>
      <input type="number" name="n_clusters" value="3" id="_id_n_clusters" min="1" required="">
      <span class="helptext">Number of clusters.</span>
    </p>
    <p style="display: none;">
      <label for="_id_kmeans_max_iter">max_iter:</label>
      <input type="number" name="kmeans_max_iter" value="100" id="_id_kmeans_max_iter" min="1" required="">
      <span class="helptext">Maximum number of iterations for a single run.</span>
    </p>
    <p style="display: none;"><label for="_id_kmeans_n_init">n_init:</label>
      <input type="number" name="kmeans_n_init" value="10" id="_id_kmeans_n_init" min="1" required="">
      <span class="helptext">Number of time the k-means algorithm will be run with different centroid seeds. The final results will be the best output of n_init consecutive runs in terms of inertia.</span>
    </p>
    <p style="display: none;"><label for="_id_mb_kmeans_batch_size">batch_size:</label>
      <input type="number" name="mb_kmeans_batch_size" value="100" id="_id_mb_kmeans_batch_size" min="1" required="">
      <span class="helptext">Size of the mini batches.</span>
    </p>
    <p style="display: none;"><label for="_id_birch_threshold">threshold:</label>
      <input type="number" name="birch_threshold" value="0.5" id="_id_birch_threshold" min="0" required="" step="any">
      <span class="helptext">The radius of the subcluster obtained by merging a new sample and the closest subcluster should be lesser than the threshold. Otherwise a new subcluster is started.</span>
    </p>
    <p style="display: none;"><label for="_id_birch_branching_factor">branching_factor:</label>
      <input type="number" name="birch_branching_factor" value="50" id="_id_birch_branching_factor" min="1" required="">
      <span class="helptext">Maximum number of CF subclusters in each node.</span>
    </p>
    <p style="display: none;">
      <label for="_id_dbscan_eps">eps:</label>
      <input type="number" name="dbscan_eps" value="0.5" id="_id_dbscan_eps" min="0" required="" step="any">
      <span class="helptext">The maximum distance between two samples for them to be considered as in the same neighborhood.</span>
    </p>
    <p style="display: none;">
      <label for="_id_dbscan_leaf_size">leaf_size:</label>
      <input type="number" name="dbscan_leaf_size" value="30" id="_id_dbscan_leaf_size" min="1" required=""> <span class="helptext">Leaf size passed to BallTree or cKDTree. This can affect the speed of the construction and query, as well as the memory required to store the tree.</span>
    </p>
    <p style="display: none;">
      <label for="_id_dbscan_p">p:</label>
      <input type="number" name="dbscan_p" id="_id_dbscan_p" min="0" step="any">
      <span class="helptext">Leaf size passed to BallTree or cKDTree. This can affect the speed of the construction and query, as well as the memory required to store the tree.</span>
    </p>
    <p style="">
      <label for="_id_ls_documents_property">Document Property Name:</label>
      <select name="ls_documents_property" id="_id_ls_documents_property" class="chosen">
        {% for prop in ls_document_properties %}
          <option value="{{ prop }}" selected="">{{ prop }}</option>
        {% endfor %}
      </select>
    </p>
    <p style="">
      <label for="_id_ls_text_units_property">Text Unit Property Name:</label>
      <select name="ls_text_units_property" id="_id_ls_text_units_property" class="chosen">
        {% for prop in ls_text_unit_properties %}
          <option value="{{ prop }}" selected="">{{ prop }}</option>
        {% endfor %}
      </select>
    </p>
    <p style="display: none;"><label for="_id_ls_max_iter">max_iter:</label>
      <input type="number" name="ls_max_iter" value="5" id="_id_ls_max_iter" min="1" required="">
      <span class="helptext">Maximum number of iterations allowed.</span>
    </p>
    <p class="checkbox-ltr-full-width">
      <input class="checkbox-style max-one-of" id="_id_delete_type" name="delete_type" type="checkbox">
      <label for="_id_delete_type" class="checkbox-style-3-label "> Delete existed Clusters of the "Cluster By" and "Algorithm" specified above</label>
    </p>
    <p class="checkbox-ltr-full-width">
      <input class="checkbox-style max-one-of" id="_id_delete" name="delete" type="checkbox">
      <label for="_id_delete" class="checkbox-style-3-label "> Delete all existed Clusters</label>
    </p>
  </form>

  <form class="popup-form ltr load-form-template">

    <div class="fancy-title title-bottom-border">
      <h4>Load Terms</h4>
    </div>

    <div class="level-1">
      <input class="checkbox-style" id="_id_terms_accounting" name="terms_accounting" type="checkbox">
      <label for="_id_terms_accounting" class="checkbox-style-3-label">Accounting</label>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_accounting_1" name="terms_accounting_1" type="checkbox">
        <label for="_id_terms_accounting_1" class="checkbox-style-3-label checkbox-small">IFRS FASB</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_accounting_1_locale_en" name="terms_accounting_1_locale_en" type="checkbox">
          <label for="_id_terms_accounting_1_locale_en">en</label>
        </span>
      </p>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_accounting_2" name="terms_accounting_2" type="checkbox">
        <label for="_id_terms_accounting_2" class="checkbox-style-3-label checkbox-small">UK GAAP</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_accounting_2_locale_en" name="terms_accounting_2_locale_en" type="checkbox">
          <label for="_id_terms_accounting_2_locale_en">en</label>
        </span>
      </p>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_accounting_3" name="terms_accounting_3" type="checkbox">
        <label for="_id_terms_accounting_3" class="checkbox-style-3-label checkbox-small">US FASB</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_accounting_3_locale_en" name="terms_accounting_3_locale_en" type="checkbox">
          <label for="_id_terms_accounting_3_locale_en">en</label>
        </span>
      </p>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_accounting_4" name="terms_accounting_4" type="checkbox">
        <label for="_id_terms_accounting_4" class="checkbox-style-3-label checkbox-small">US GAAP</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_accounting_4_locale_en" name="terms_accounting_4_locale_en" type="checkbox">
          <label for="_id_terms_accounting_4_locale_en">en</label>
        </span>
      </p>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_accounting_5" name="terms_accounting_5" type="checkbox">
        <label for="_id_terms_accounting_5" class="checkbox-style-3-label checkbox-small">US GASB</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_accounting_5_locale_en" name="terms_accounting_5_locale_en" type="checkbox">
          <label for="_id_terms_accounting_5_locale_en">en</label>
        </span>
      </p>
    </div>

    <div class="level-1">
      <input class="checkbox-style" id="_id_terms_scientific" name="terms_scientific" type="checkbox">
      <label for="_id_terms_scientific" class="checkbox-style-3-label">Scientific</label>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_scientific_1" name="terms_scientific_1" type="checkbox">
        <label for="_id_terms_scientific_1" class="checkbox-style-3-label checkbox-small">US Federal Hazardous Waste</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_scientific_1_locale_en" name="terms_scientific_1_locale_en" type="checkbox">
          <label for="_id_terms_scientific_1_locale_en">en</label>
        </span>
      </p>
    </div>

    <div class="level-1">
      <input class="checkbox-style" id="_id_terms_financial" name="terms_financial" type="checkbox">
      <label for="_id_terms_financial" class="checkbox-style-3-label">Financial</label>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_financial_1" name="terms_financial_1" type="checkbox">
        <label for="_id_terms_financial_1" class="checkbox-style-3-label checkbox-small">Common Financial Terms</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_financial_1_locale_en" name="terms_financial_1_locale_en" type="checkbox">
          <label for="_id_terms_financial_1_locale_en">en</label>
        </span>
      </p>
    </div>

    <div class="level-1">
      <input class="checkbox-style" id="_id_terms_legal" name="terms_legal" type="checkbox">
      <label for="_id_terms_legal" class="checkbox-style-3-label">Legal</label>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_legal_1" name="terms_legal_1" type="checkbox">
        <label for="_id_terms_legal_1" class="checkbox-style-3-label checkbox-small">Common Law (Black's 1910 Law Dictionary)</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_legal_1_locale_en" name="terms_legal_1_locale_en" type="checkbox">
          <label for="_id_terms_legal_1_locale_en">en</label>
        </span>
      </p>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_legal_2" name="terms_legal_2" type="checkbox">
        <label for="_id_terms_legal_2" class="checkbox-style-3-label checkbox-small">US Code of Federal Regulations</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_legal_2_locale_en" name="terms_legal_2_locale_en" type="checkbox">
          <label for="_id_terms_legal_2_locale_en">en</label>
        </span>
      </p>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_legal_3" name="terms_legal_3" type="checkbox">
        <label for="_id_terms_legal_3" class="checkbox-style-3-label checkbox-small">United States Code</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_legal_3_locale_en" name="terms_legal_3_locale_en" type="checkbox">
          <label for="_id_terms_legal_3_locale_en">en</label>
        </span>
      </p>
      <p class="level-2">
        <input class="checkbox-style" id="_id_terms_legal_4" name="terms_legal_4" type="checkbox">
        <label for="_id_terms_legal_4" class="checkbox-style-3-label checkbox-small">Common Law (top 1000)</label>
        <span class="level-3">
          <input class="as-btn" id="_id_terms_legal_4_locale_en" name="terms_legal_4_locale_en" type="checkbox">
          <label for="_id_terms_legal_4_locale_en">en</label>
        </span>
      </p>
    </div>

    <div class="level-1">
      <label for="_id_terms_file_path">Custom file path:</label>
      <input id="_id_terms_file_path" name="terms_file_path" maxlength="1000" type="text"><br />
      <small>Relative path to a data file. A file should be in "&lt;ROOT_DIR&gt;/data/" or "&lt;APPS_DIR&gt;/media/data/documents/" folder.</small>
    </div>

    <div class="level-1">
      <input class="checkbox-style" id="_id_terms_delete" name="terms_delete" type="checkbox">
      <label for="_id_terms_delete" class="checkbox-style-3-label">Delete existing Terms</label>
    </div>

    {% if 'court' in available_locators %}
      <div class="fancy-title title-bottom-border">
        <h4>Load Courts</h4>
      </div>

      <div class="level-1">
        <input class="checkbox-style" id="_id_courts" name="courts" type="checkbox">
        <label for="_id_courts" class="checkbox-style-3-label">Courts</label>
        <p class="level-2">
          <input class="checkbox-style" id="_id_courts_1" name="courts_1" type="checkbox">
          <label for="_id_courts_1" class="checkbox-style-3-label checkbox-small">Canadian Courts</label>
        <span class="level-3">
          <input class="as-btn" id="_id_courts_1_locale_en" name="courts_1_locale_en" type="checkbox">
          <label for="_id_courts_1_locale_en">en</label>
        </span>
        </p>
        <p class="level-2">
          <input class="checkbox-style" id="_id_courts_2" name="courts_2" type="checkbox">
          <label for="_id_courts_2" class="checkbox-style-3-label checkbox-small">US Courts</label>
        <span class="level-3">
          <input class="as-btn" id="_id_courts_2_locale_en" name="courts_2_locale_en" type="checkbox">
          <label for="_id_courts_2_locale_en">en</label>
        </span>
        </p>
      </div>
      <p class="level-1">
        <label for="_id_courts_file_path">Custom file path:</label>
        <input id="_id_courts_file_path" name="courts_file_path" maxlength="1000" type="text"><br />
        <small>Relative path to a data file. A file should be in "&lt;ROOT_DIR&gt;/data/" or "&lt;APPS_DIR&gt;/media/data/documents/" folder.</small>
      </p>
      <p class="level-1">
        <input class="checkbox-style" id="_id_courts_delete" name="courts_delete" type="checkbox">
        <label for="_id_courts_delete" class="checkbox-style-3-label">Delete existing Courts</label>
      </p>
    {% endif %}

    <div class="fancy-title title-bottom-border">
      <h4>Load Geo Entities</h4>
    </div>

    <div class="level-1">
      <input class="checkbox-style" id="_id_geoentities" name="geoentities" type="checkbox">
      <label for="_id_geoentities" class="checkbox-style-3-label">Geo Entities</label>
      <p class="level-2">
        <input class="checkbox-style" id="_id_geoentities_1" name="geoentities_1" type="checkbox">
        <label for="_id_geoentities_1" class="checkbox-style-3-label checkbox-small">Geopolitical Divisions</label>
        <span class="level-3">
          <input class="as-btn" id="_id_geoentities_1_locale_multi" name="geoentities_1_locale_multi" type="checkbox">
          <label for="_id_geoentities_1_locale_multi">multi</label>
        </span>
      </p>
    </div>
    <p class="level-1">
      <label for="_id_geoentities_file_path">Custom file path:</label>
      <input id="_id_geoentities_file_path" name="geoentities_file_path" maxlength="1000" type="text"><br />
      <small>Relative path to a data file. A file should be in "&lt;ROOT_DIR&gt;/data/" or "&lt;APPS_DIR&gt;/media/data/documents/" folder.</small>
    </p>
    <p class="level-1">
      <input class="checkbox-style" id="_id_geoentities_delete" name="geoentities_delete" type="checkbox">
      <label for="_id_geoentities_delete" class="checkbox-style-3-label">Delete existing Geo Entities, Geo Aliases and Geo Relations</label>
    </p>
    <br />

  </form>

  {{ block.super }}
  <script src="{% static 'moment-with-locales.min.js' %}"></script>
  <script src="{% static 'moment-duration-format.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>
  <script type="text/javascript" src="{% static "theme/js/components/bs-switches.js" %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>
  <script type="text/javascript">
    var show_options = function($form){
      {# clustering form #}
      if ($('.cluster-form').length) {
        $form.find('[name="do_cluster_documents"], [name="do_cluster_text_units"]').parent('p').show();
        var using =  $form.find('select[name="using"]').val();
        var is_simple =  $form.find('input[name="options"]').is(':checked');
        if (using == 'MiniBatchKMeans') {
          var advanced = ', [name="kmeans_max_iter"], [name^="mb_kmeans_"]';
          var hidden_advanced = is_simple ? advanced : '';
          var visible_advanced = is_simple ? '' : advanced;
          $form.find('[name="n_clusters"]' + visible_advanced).parent('p').show();
          $form.find('[name^="kmeans_n_init"], [name^="birch_"], [name^="dbscan_"], [name^="ls_"]' + hidden_advanced).parent('p').hide()
        }
        else if (using == 'KMeans') {
          advanced = ', [name^="kmeans_"]';
          hidden_advanced = is_simple ? advanced : '';
          visible_advanced = is_simple ? '' : advanced;
          $form.find('[name="n_clusters"]' + visible_advanced).parent('p').show();
          $form.find('[name^="mb_kmeans_"], [name^="birch_"], [name^="dbscan_"], [name^="ls_"]' + hidden_advanced).parent('p').hide()
        }
        else if (using == 'Birch') {
          advanced = ', [name^="birch_"]';
          hidden_advanced = is_simple ? advanced : '';
          visible_advanced = is_simple ? '' : advanced;
          $form.find('[name="n_clusters"]' + visible_advanced).parent('p').show();
          $form.find('[name^="kmeans_"], [name^="mb_kmeans_"], [name^="dbscan_"], [name^="ls_"]' + hidden_advanced).parent('p').hide()
        }
        else if (using == 'DBSCAN') {
          advanced = ', [name^="dbscan_"]';
          hidden_advanced = is_simple ? advanced : '';
          if (!is_simple) {
            $form.find('[name^="dbscan_"]').parent('p').show();
          }
          $form.find('[name="n_clusters"], [name^="kmeans_"], [name^="mb_kmeans_"], [name^="birch_"], [name^="ls_"]' + hidden_advanced).parent('p').hide()
        }
        else if (using == 'LabelSpreading') {
          advanced = '[name="ls_max_iter"]';
          hidden_advanced = is_simple ? advanced : '';
          visible_advanced = is_simple ? '' : advanced;
          var cluster_docs = $form.find('[name="do_cluster_documents"]').is(':checked');
          var visible_doc_props = cluster_docs ? '[name="ls_documents_property"]' : '';
          var hidden_doc_props = cluster_docs ? '' : '[name="ls_documents_property"]';
          var cluster_tus = $form.find('[name="do_cluster_text_units"]').is(':checked');
          var visible_tu_props = cluster_tus ? '[name="ls_text_units_property"]' : '';
          var hidden_tu_props = cluster_tus ? '' : '[name="ls_text_units_property"]';
          var visible = $.grep([visible_advanced, visible_doc_props, visible_tu_props], function(n){ return (n!==''); });
          visible = visible.join(', ');
          $form.find(visible).parent('p').show();
          var hidden = $.grep([hidden_advanced, hidden_doc_props, hidden_tu_props], function(n){ return (n!==''); });
          hidden = hidden ? ', ' + hidden.join(', ') : '';
          $form.find(
              '[name="n_clusters"], [name^="kmeans_"], [name^="mb_kmeans_"], [name^="dbscan_"]' +
              hidden).parent('p').hide();
          if (!$form.find('[name="ls_documents_property"]').length){
            $form.find('[name="do_cluster_documents"]').parent('p').hide()
          }
          else if (!$form.find('[name="ls_text_units_property"]').length){
            $form.find('[name="do_cluster_text_units"]').parent('p').hide()
          }
        }
      }
          {# classify form #}
      else if ($('.classify-form').length){
        var algorithm = $('select[name="algorithm"]').val();
        is_simple = $('input[name="options"]').is(':checked');
        if (algorithm == 'SVC') {
          hidden_advanced = is_simple ? ', [name^="svc_"]' : '';
          if (!is_simple) {
            $form.find('[name^="svc_"]').parent('p').show();
          }
          $form.find('[name^="mnb_"], [name^="rfc_etc_"], [name^="lrcv_"]' + hidden_advanced).parent('p').hide()
        }
        else if (algorithm == 'MultinomialNB') {
          hidden_advanced = is_simple ? ', [name^="mnb_"]' : '';
          if (!is_simple) {
            $form.find('[name^="mnb_"]').parent('p').show();
          }
          $form.find('[name^="svc_"], [name^="rfc_etc_"], [name^="lrcv_"]' + hidden_advanced).parent('p').hide()
        }
        else if (algorithm == 'ExtraTreesClassifier' || algorithm == 'RandomForestClassifier') {
          hidden_advanced = is_simple ? ', [name^="rfc_etc_"]' : '';
          if (!is_simple) {
            $form.find('[name^="rfc_etc_"]').parent('p').show();
          }
          $form.find('[name^="svc_"], [name^="mnb_"], [name^="lrcv_"]' + hidden_advanced).parent('p').hide()
        }
        else if (algorithm == 'LogisticRegressionCV') {
          hidden_advanced = is_simple ? ', [name^="lrcv_"]' : '';
          if (!is_simple) {
            $form.find('[name^="lrcv_"]').parent('p').show();
          }
          $form.find('[name^="svc_"], [name^="mnb_"], [name^="rfc_etc_"]' + hidden_advanced).parent('p').hide()
        }
      }
    };
    var onLoadJC = function(jc){
      var $form = jc.$content;
      {# activate chosen plugin #}
      $form.find('select.chosen:enabled').chosen();
      $form.find('form > p:visible:last:has(select)').css('height', '80px');
      $form.find('.chosen-single').css({'height': '34px', 'padding-top': '3px'});
      {# activate bt-switch plugin #}
      $form.find(".bt-switch").bootstrapSwitch();
      {# activate max-one-of class #}
      $form.find('input[class*="max-one-of"]').change(function () {
        var cls = $(this).attr('class').split(' ');
        if (this.checked) {
          $('.' + cls.join('.')).not(this).prop("checked", false)
        }
      });
      {# activate min-one-of class #}
      $form.find('input[class*="min-one-of"]').change(function () {
        var cls = $(this).attr('class').split(' ');
        if (!$('input[class*="min-one-of"]:checked').length) {
          $('.' + cls.join('.')).not(this).first().prop("checked", true)
        }
      });
      {# activate switcher class #}
      $form.find('.switcher-off').parent('p').toggle();
      $form.find('.switcher').change(function () {
        $form.find('[class*="switcher-"]').parent('p').toggle()
      });
      {# activate locate-all checkbox #}
      $form.find('[name="locate_all"]').click(function () {
        var checkBoxes = $form.find('[id$="_locate"]');
        checkBoxes.trigger("click");
      });
      {# locate form #}
      if ($form.find('form.locate-form').length){
        {# remove if locate #}
        $form.find('[name$="_locate"]').change(function(){
          $form.find('[name$="' + $(this).prop('name').replace('locate', 'delete') + '"]')
              .prop("checked", $(this).is(':checked'))
        });
        {# uncheck locate if not remove #}
        $form.find('[name$="_delete"]').change(function(){
          if (!$(this).is(':checked')){
            $form.find('[name$="' + $(this).prop('name').replace('delete', 'locate') + '"]')
                .prop("checked", false)
          }
        });
        {# LocateGeoEntities: locate if priority checked #}
        $form.find('[name="LocateGeoEntities_priority"]').change(function(){
          if ($(this).is(':checked')){
            $form.find('[name="LocateGeoEntities_locate"]').prop("checked", true)
          }
        });
        {# LocateGeoEntities: uncheck priority if locate unchecked #}
        $form.find('[name="LocateGeoEntities_locate"]').change(function(){
          if (!$(this).is(':checked')){
            $form.find('[name="LocateGeoEntities_priority"]').prop("checked", false)
          }
        });
        {# LocateCurrencies: check all "use .." if locate checked #}
        $form.find('[name="LocateCurrencies_locate"]').change(function(){
          $form.find('[name^="LocateCurrencies_use_"]')
              .prop("checked", $(this).is(':checked'))
        });
        {# LocateCurrencies: check locate if one of "use .." checked #}
        $form.find('[name^="LocateCurrencies_use_"]').change(function(){
          $form.find('[name^="LocateCurrencies_locate"]')
              .prop("checked", true)
        });
        {# LocateCurrencies: uncheck all if delete unchecked #}
        $form.find('[name="LocateCurrencies_delete"]').change(function(){
          if (!$(this).is(':checked')){
            $form.find('[name^="LocateCurrencies_use_"]')
                .prop("checked", false)
          }
        });
      }
      {# clustering / classify #}
      $form.find('[name="do_cluster_documents"], ' +
          '[name="do_cluster_text_units"], ' +
          'select[name="using"], select[name="algorithm"], ' +
          'input[name="options"]').on('change switchChange.bootstrapSwitch', function () {
        show_options($form)
      });
      show_options($form);
      // activate form using small delay to enable all plugins !!!
      $form.find('input[type="checkbox"]').prop("disabled", false);
      $form.find('form').animate({opacity: 1}, 400);
    };

    $('.task').click(function(){
      var $that = $(this);
      var jc = $.confirm({
        title: 'Are you sure?',
        backgroundDismiss: true,
        content: $that.data('content') || function(){
          var self = this;
          $.get($that.data('href')).done(function(data){
            var content = '<form class="' + data.form_class + '" enctype="multipart/form-data">' +
                '<p class="header">' + data.header + '</p>' +
                data.form_data + '</form>';
            var $content = $(content);
            $content.find('input.checkbox-style').each(function(){
              $(this).parent().addClass('checkbox-ltr-full-width');
            });
            $content.find('input.checkbox-parent').each(function(){
              $(this).parent().addClass('checkbox-parent');
            });
            $content.find('input.checkbox-child').each(function(){
              $(this).parent().addClass('checkbox-child');
            });
            self.setContent($content);
            // disable form checkboxes for 1 s to allow to activate all handlers firstly
            $content.find('input[type="checkbox"]:not(.bt-switch)').prop("disabled", true);
            $content.addClass('disabled');
          }).fail(function(xhr) {
            jc.close();
            $.alert({
              icon: 'fa fa-warning text-danger',
              title: xhr.responseText,
              type: 'red',
              content: '',
              columnClass: 'col-md-6',
              onClose: function () {
                $('.jqxgrid').jqxGrid('updatebounddata')
              }
            })
          })
        },
        onContentReady: function(){
          setTimeout(function() {
            onLoadJC(jc);
          }, 1000);
        },
        columnClass: 'col-md-8',
        type: $that.data('type') || 'blue',
        icon: 'fa fa-warning text-warning',
        buttons: {
          confirm: {
            text: $that.data('btn-text'),
            btnClass: $that.data('btn-class') || 'btn-u btn-sm',
            action: function(){
              var jc = this;
              var form = jc.$content.find('form');
              form.find('.error').remove();
              var formdata = false;
              if (window.FormData){
                formdata = new FormData(form[0]);
              }
              $.ajax({
                url: $that.data('href'),
                type: 'POST',
                data: formdata ? formdata : form.serialize(),
                contentType: false,
                processData: false,
                success: function(data, status, xhr){
                  console.log(xhr);
                  //window.xxhr = xhr;
                  jc.close();

                  if (xhr.getResponseHeader('content-disposition') && xhr.getResponseHeader('content-disposition').startsWith('attachment')){
                    data = JSON.stringify(data);
                    var blob = new Blob([data], {type: xhr.getResponseHeader('content-type')});
                    var url  = URL.createObjectURL(blob);
                    var a = document.createElement('a');
                    a.download = xhr.getResponseHeader('filename');
                    a.href = url;
                    a.click();
                    URL.revokeObjectURL(url);
                    data = 'Downloaded ' + xhr.getResponseHeader('filename') + ' file'
                  }
                  if ($.isPlainObject(data)){
                    data = data.result
                  }

                  $.alert({
                    icon: 'fa fa-spinner fa-spin text-warning',
                    title: 'Working!',
                    type: 'orange',
                    content: data,
                    columnClass: 'col-md-4',
                    onClose: function(){
                      $('.jqxgrid').jqxGrid('updatebounddata')
                    }

                  });
                },
                error: function(data){
                  if ('status' in data.responseJSON){
                    $.alert({
                      icon: 'fa fa-warning text-danger',
                      title: 'Something went wrong',
                      type: 'red',
                      content: data.statusText,
                      columnClass: 'col-md-4',
                      onClose: function(){
                        $('.jqxgrid').jqxGrid('updatebounddata')
                      }
                    });
                    return false
                  }
                  $.each(data.responseJSON, function(field, error){
                    var error_p = '<p class="error">' + error[0] + '</p>';
                    form.find('[name=' + field + ']').parent().prepend(error_p)
                  })
                }})
              return false
            }
          },
          cancel: {
            btnClass: 'btn-u btn-sm btn-l'
          }
        }
      });
    });

    $('.task-cluster').click(function(){
      var $that = $(this);
      var jc = $.confirm({
        title: 'Are you sure?',
        backgroundDismiss: true,
        content: function(){
          var $form = $('.cluster-form-template').clone().toggleClass('cluster-form-template cluster-form');
          $form.find('input').each(function(n, el){
            $(el).attr('id', $(el).attr('id').replace('_id', 'id'))
          });
          $form.find('select').each(function(n, el){
            $(el).attr('id', $(el).attr('id').replace('_id', 'id'))
          });
          $form.find('label').each(function(n, el){
            $(el).attr('for', $(el).attr('for').replace('_id', 'id'))
          });
          $form.find('input[type="checkbox"]:not(.bt-switch)').prop("disabled", true);
          $form.addClass('disabled');
          return $form[0].outerHTML;
        },
        onContentReady: function(){
          setTimeout(function() {
            onLoadJC(jc);
          }, 1000);
        },
        columnClass: 'col-md-8',
        type: $that.data('type') || 'blue',
        icon: 'fa fa-warning text-warning',
        buttons: {
          confirm: {
            text: $that.data('btn-text'),
            btnClass: $that.data('btn-class') || 'btn-u btn-sm',
            action: function(){
              var jc = this;
              var form = jc.$content.find('form');
              form.find('.error').remove();
              $.post($that.data('href'), form.serialize())
                  .done(function(data){
                    jc.close();
                    $.alert({
                      icon: 'fa fa-spinner fa-spin text-warning',
                      title: 'Working!',
                      type: 'orange',
                      content: data,
                      columnClass: 'col-md-4',
                      onClose: function(){
                        $('.jqxgrid').jqxGrid('updatebounddata')
                      }
                    });
                  })
                  .fail(function(data){
                    $.each(data.responseJSON, function(field, error){
                      var error_p = '<p class="error">' + error[0] + '</p>';
                      form.find('[name=' + field + ']').parent().prepend(error_p)
                    })
                  });
              return false
            }
          },
          cancel: {
            btnClass: 'btn-u btn-sm btn-l'
          }
        }
      });
    });

    $('.task-load').click(function(){
      var $that = $(this);
      $.confirm({
        title: 'Load data from github repository or from filesystem.',
        backgroundDismiss: true,
        content: function(){
          var $form = $('.load-form-template').clone().toggleClass('load-form-template load-form');
          $form.find('input').each(function(n, el){
            $(el).attr('id', $(el).attr('id').replace('_id', 'id'))
          });
          $form.find('label').each(function(n, el){
            $(el).attr('for', $(el).attr('for').replace('_id', 'id'))
          });
          return $form[0].outerHTML;
        },
        onContentReady: function(){
          $('.level-1>input').change(function() {
            $(this).parent().find('.level-2>input').prop('checked', $(this).is(':checked'));
          });
          $('.level-1>input, .level-2>input').change(function() {
            if ($(this).is(':checked')){
              $(this).parent().find('label+.level-3>input').prop('checked', true);
            }
            else {
              $(this).parent().find('label+.level-3>input').prop('checked', false);
            }
          });
          $('.level-2>input').change(function(){
            var level_id = $(this).prop('id').replace(/_\d+$/,'');
            $(this).parents('.level-1').find('input').first().prop('checked', $('[id^="' + level_id + '_"]:checked').length > 0);
          });
          $('.level-3>input').change(function(){
            var level_id = $(this).prop('id').replace(/_[^_]+$/,'');
            var $parent = $(this).parents('.level-2').find('input').first();
            $parent.prop('checked', $('[id^="' + level_id + '_"]:checked').length > 0);
            var parent_id = $parent.prop('id').replace(/_\d+$/,'');
            $(this).parents('.level-1').find('input').first().prop('checked', $('[id^="' + parent_id + '_"]:checked').length > 0);
          });
        },
        columnClass: 'col-md-8',
        type: 'blue',
        icon: 'fa fa-download text-info',
        buttons: {
          confirm: {
            text: $that.data('btn-text'),
            btnClass: $that.data('btn-class') || 'btn-u btn-sm',
            action: function(){
              var jc = this;
              var form = jc.$content.find('form');
              var any_input = $(".load-form input[type='text']").filter(function() {
                return this.value.length !== 0;
              }).length;
              var any_checkbox = $('.load-form input:checked').length;
              if (any_input == 0 && any_checkbox == 0){
                return false
              }
              $.post($that.data('href'), form.serialize())
                  .done(function(data){
                    jc.close();
                    $.alert({
                      icon: 'fa fa-spinner fa-spin text-warning',
                      title: 'Working!',
                      type: 'orange',
                      content: data,
                      columnClass: 'col-md-4',
                      onClose: function(){
                        $('.jqxgrid').jqxGrid('updatebounddata')
                      }
                    });
                  })
                  .fail(function(data){
                    console.log(data)
                  });
              return false
            }
          },
          cancel: {
            btnClass: 'btn-u btn-sm btn-l'
          }
        }
      });
    });

    $(document).ready(function () {
      var datafields = [
        { name: 'pk', type: 'string' },
        { name: 'name', type: 'string' },
        { name: 'description', type: 'string' },
        { name: 'username', type: 'string' },
        { name: 'date_start', type: 'date' },
        { name: 'date_work_start', type: 'date' },
        { name: 'date_done', type: 'date' },
        { name: 'time', type: 'string' },
        { name: 'work_time', type: 'string' },
        { name: 'worker', type: 'string' },
        { name: 'progress', type: 'float' },
        { name: 'status', type: 'string' },
        { name: 'url', type: 'string' },
        { name: 'purge_url', type: 'string' },
        { name: 'result_links' }
      ];
      var menu_renderer = function(row, event) {
        var grid = $(event.currentTarget).parents('.jqxgrid');
        row = grid.jqxGrid('getrowdata', row);
        var menu_data = [
          { url: row.url,
            icon: 'fa fa-info-circle',
            text: 'View Details'},
          { url: row.purge_url,
            cls: 'purge-task',
            icon: 'fa fa-eraser',
            text: 'Purge Task'}
        ];
        $.each(row.result_links, function(n, i){
          menu_data.push(
              { url: i.link,
                icon: 'fa fa-bars',
                text: i.name}
          )
        });
        show_menu(menu_data, grid, row.pk, 300);
      };
      var status_renderer = function(index, columnfield, value, defaulthtml, columnproperties, row){
        var cls = row.status === 'SUCCESS' ? 'success'
                : row.status === 'PENDING' ? 'warning'
                : row.status === 'FAILURE' ? 'danger'
                : 'warning';
        value = row.status || 'PENDING';
        var new_value = '<span class="badge badge-' + cls + '">' + value + '</span>';
        return renderCell(defaulthtml, new_value);
      };
      var columns = [
        { text: 'Task Name', datafield: 'name', width: 'auto',
          align: 'center', cellsalign: 'left',
          cellsrenderer: defaultLinkFormatter },
        { text: 'Description', datafield: 'description', width: 80,
          align: 'center', cellsalign: 'left' },
        { text: 'User', datafield: 'username', width: 100,
          align: 'center', cellsalign: 'center' },
        { text: 'Scheduled', datafield: 'date_start', width: 90,
          filtertype: 'date', cellsformat: 'MM/dd HH:mm',
          align: 'center', cellsalign: 'center' },
        { text: 'Done', datafield: 'date_done', width: 90,
          filtertype: 'date', cellsformat: 'MM/dd HH:mm',
          align: 'center', cellsalign: 'center' },
        { text: 'Total Time', datafield: 'time', width: 90, filterable: false, sortable: true,
          align: 'center', cellsalign: 'center',
          cellsrenderer: function(row_num, row_type, v, defaulthtml, columnproperties, row) {
            var d = moment.duration(v);
            if (d._milliseconds < 1000){
              var valueStr = Math.round(d._milliseconds) + " ms";
            }
            else {
              valueStr = d.format();
            }
            return renderCell(defaulthtml, valueStr)
          }
        },
        { text: 'Worker', datafield: 'worker', width: 100,
          align: 'center', cellsalign: 'center' },
        { text: 'Started', datafield: 'date_work_start', width: 90,
          filtertype: 'date', cellsformat: 'MM/dd HH:mm',
          align: 'center', cellsalign: 'center' },
        { text: 'Work Time', datafield: 'work_time', width: 90, filterable: false, sortable: true,
          align: 'center', cellsalign: 'center',
          cellsrenderer: function(row_num, row_type, v, defaulthtml, columnproperties, row) {
            var d = moment.duration(v);
            if (d._milliseconds < 1000){
              var valueStr = Math.round(d._milliseconds) + " ms";
            }
            else {
              valueStr = d.format();
            }
            return renderCell(defaulthtml, valueStr)
          }
        },
        { text: 'Progress', datafield: 'progress', width: 90,
          cellsrenderer: knob_cellsrenderer,
          align: 'center', cellsalign: 'center' },
        { text: 'Status', datafield: 'status', width: 80,
          cellsrenderer: status_renderer,
          align: 'center', cellsalign: 'center' },
        { text: 'Action', datafield: 'url', width: 60,
          align: 'center', exportable: false,
          columntype: 'button',
          sortable: false, filterable: false, menu: false,
          cellsrenderer: function(){return 'Menu'},
          buttonclick: menu_renderer }
      ];
      var custom_grid_options = { rowsheight: 60 };
      draw_grid(".jqxgrid", datafields, columns, true, null, custom_grid_options);
    });
  </script>
{% endblock %}
