{% extends "admin/delete_confirmation.html" %}
{% load i18n admin_urls %}
{% load url from suit_compat %}
{% load project_tags %}

{% block content %}

  {%  include "admin/document/users_tasks_warning.html" %}

  {% if perms_lacking or protected %}
    {% if perms_lacking %}
      <div class="alert alert-error">
        {% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}
        <ul>
          {% for obj in perms_lacking %}
            <li>{{ obj }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if protected %}
      <div class="alert alert-error">
        {% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktrans %}
        <ul>
          {% for obj in protected %}
            <li>{{ obj }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% else %}

    {% block delete_form %}
      <form action="" method="post">{% csrf_token %}
        <div class="alert alert-block alert-error">
          <h4 class="alert-heading">{% trans 'Delete' %} {% trans opts.verbose_name %}?</h4>
          <p>
             <b>{% blocktrans with escaped_object=object %}Deleting this Document Type will delete all objects related
               to this Document Type. You will be deleting:{% endblocktrans %}</b></p>
          {% if model_count.projects_delete_pending or model_count.projects %}
              <p>Project(s): {{ model_count.projects }} {% if model_count.projects_delete_pending %}({{ model_count.projects_delete_pending }} project(s) are pending delete){% endif %}</p>
          {% endif %}
          {% if model_count.documents or model_count.documents_delete_pending %}
            <p>Document(s): {{ model_count.documents }} {% if model_count.documents_delete_pending %}({{ model_count.documents_delete_pending }} document(s) are pending delete){% endif %}</p>
          {% endif %}
          <p>Field(s): {{ model_count.document_fields }}</p>
          <p>Field Detectors(s): {{ model_count.document_field_detectors }}</p>
          <br>
          <p>
            Note that deleting a Document Type may take a lot of time, depending on how many Fields
            and Field Detectors are associated with it.
          </p>

          <div>
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
            <input type="hidden" name="post" value="yes"/>
            <input type="submit" value="{% trans "Yes, I'm sure" %}" class="btn btn-danger"/>
          </div>
        </div>
      </form>
    {% endblock %}
  {% endif %}
{% endblock %}