{% extends "base.html" %}
{% load static %}

{% block css_extra %}
  {{ block.super }}
  <link href='{% static "rest_framework_swagger/css/typography.css" %}' media='screen' rel='stylesheet' type='text/css'/>
  <link href='{% static "rest_framework_swagger/css/reset.css" %}' media='screen' rel='stylesheet' type='text/css'/>
  <link href='{% static "rest_framework_swagger/css/screen.css" %}' media='screen' rel='stylesheet' type='text/css'/>
  <link href='{% static "rest_framework_swagger/css/reset.css" %}' media='print' rel='stylesheet' type='text/css'/>
  <link href='{% static "rest_framework_swagger/css/print.css" %}' media='print' rel='stylesheet' type='text/css'/>
  <style>
    .swagger-section .swagger-ui-wrap {
      line-height: 1;
      font-family: "Droid Sans", sans-serif;
      min-width: inherit;
      max-width: inherit;
      margin-left: auto;
      margin-right: auto;
    }
    .editor_holder .form-control {
      flex-wrap: wrap;
      display: flex;
      margin: 0;
    }
    .editor_holder .row>div {
      width: 100%;
    }
    input.parameter {
      line-height: 24px;
    }
    #api-help {
      margin-top: 20px;
    }
    #api-help .btn-link:hover,
    #api-help .btn-link:focus{
      color: #1ABC9C;
      text-decoration: none;
    }
    #api-help table th {
      font-weight: bold;
    }
    #api-help table tr td:first-child,
    #api-help table tr td:last-child {
      text-align: left !important;
    }

  </style>
{% endblock %}

{% block bodyclass %}{% endblock %}
{% block page_header %}Contraxsuite API{% endblock %}

{% block content %}
  <div class="pull-right">
    <span class="btn-group">
      <a class="btn btn-u btn-xs btn-s" href="{% url "swagger" group_by="app" %}">App</a>
      <a class="btn btn-u btn-xs btn-p" href="{% url "swagger" group_by="version" %}">Ver</a>
    </span>
    <a class="btn btn-u btn-xs btn-i" href="{% url "swagger" %}?download=">Download</a>
  </div>
  <div class="swagger-section">
    <div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
    <div id="api-help" class="container">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              API Help
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div>
              <table class="table table-bordered table-striped">
                <tr>
                  <th>Parameter</th>
                  <th>Type</th>
                  <th>Default</th>
                  <th>Notes</th>
                </tr>
                <tr>
                  <th colspan="4">Pagination</th>
                </tr>
                <tr>
                  <td>enable_pagination</td>
                  <td>bool</td>
                  <td>false</td>
                  <td>You can skip it if disable pagination</td>
                </tr>
                <tr>
                  <td>pagesize</td>
                  <td>int</td>
                  <td></td>
                  <td>You can skip it if enable_pagination=false</td>
                </tr>
                <tr>
                  <td>pagenum</td>
                  <td>int</td>
                  <td></td>
                  <td>Starts with 0. You can skip it if enable_pagination=false</td>
                </tr>
                <tr>
                  <th colspan="4">Sorting</th>
                </tr>
                <tr>
                  <td>sortdatafield</td>
                  <td>str</td>
                  <td></td>
                  <td>Column name</td>
                </tr>
                <tr>
                  <td>sortdatafield</td>
                  <td>str</td>
                  <td></td>
                  <td>Column name. Sort by 2 or more columns is not implemented. Skip sort params to not sort at all.</td>
                </tr>
                <tr>
                  <td>sortorder</td>
                  <td>asc/desc</td>
                  <td></td>
                  <td>Sort order</td>
                </tr>
                <tr>
                  <th colspan="4">Filtering</th>
                </tr>
                <tr>
                  <td>filterscount</td>
                  <td>int</td>
                  <td></td>
                  <td>Number of filters to apply.
                    For each filter params below you should add filter number starting with 0
                    i.e. if you have two filters, parameters should be filterscount=2,
                    filterdatafield0, filtervalue0, filtercondition0, filteroperator0 for first filter
                    and filterdatafield1, filtervalue1, filtercondition1, filteroperator1 for second filter.
                  </td>
                </tr>
                <tr>
                  <td>filterdatafield</td>
                  <td>str</td>
                  <td></td>
                  <td>Column Name to apply filter. One field can have 2 conditions maximum.</td>
                </tr>
                <tr>
                  <td>filtervalue</td>
                  <td>str/int/float</td>
                  <td></td>
                  <td>Value to filter on</td>
                </tr>
                <tr>
                  <td>filteroperator</td>
                  <td>0/1</td>
                  <td>0</td>
                  <td>0 - AND, 1 - OR</td>
                </tr>
                <tr>
                  <td>filtercondition</td>
                  <td>str</td>
                  <td></td>
                  <td>
                    <pre>
                    EQUAL - for all data types
                    EQUAL_CASE_SENSITIVE - for string
                    CONTAINS - for string
                    CONTAINS_CASE_SENSITIVE - for string
                    LESS_THAN - for date, int, float
                    LESS_THAN_OR_EQUAL - for date, int, float
                    GREATER_THAN - for date, int, float
                    GREATER_THAN_OR_EQUAL - for date, int, float
                    STARTS_WITH - for string
                    ENDS_WITH - for string
                    STARTS_WITH_CASE_SENSITIVE - for string
                    ENDS_WITH_CASE_SENSITIVE - for string
                    EMPTY - for strings, x == "", filtervalue doesn't matter
                    NULL - nulls, filtervalue doesn't matter
                    NOT_NULL - not nulls, filtervalue doesn't matter
                    DOES_NOT_CONTAIN - for string
                    DOES_NOT_CONTAIN_CASE_SENSITIVE - for string
                    NOT_EQUAL - for all data types
                    </pre>
                  </td>
                </tr>
                <tr>
                  <th colspan="4">Others</th>
                </tr>
                <tr>
                  <td>total_records</td>
                  <td>bool</td>
                  <td>false</td>
                  <td>Return total records like {data: [...], total_records: N}</td>
                </tr>
                <tr>
                  <td>URL Example</td>
                  <td colspan="3">
                    <pre>
                    https://dev.alpha.contraxsuite.com/api/v1/document/project/582/documents/
                    ?enable_pagination=true
                    &pagesize=10
                    &pagenum=0
                    &sortdatafield=df250888_2ec8_4d8c_a291_5b75185e1b60
                    &sortorder=desc
                    &filterscount=2
                    &filterdatafield0=4dafbc9d-cf81-47d7-8b31-9a4ab292e58f
                    &filtervalue0=1997-09-17
                    &filteroperator0=0
                    &filtercondition0=LESS_THAN_OR_EQUAL
                    &filterdatafield1=4dafbc9d-cf81-47d7-8b31-9a4ab292e58f
                    &filteroperator1=0
                    &filtercondition1=NOT_NULL
                    &total_records=true
                    </pre>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
  </div>
{% endblock %}

{% block js %}
  <script src='{% static "rest_framework_swagger/lib/object-assign-pollyfill.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/jquery-1.8.0.min.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/jquery.slideto.min.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/jquery.wiggle.min.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/jquery.ba-bbq.min.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/handlebars-2.0.0.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/js-yaml.min.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/lodash.min.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/backbone-min.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/swagger-ui.min.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/highlight.9.1.0.pack.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/highlight.9.1.0.pack_extended.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/jsoneditor.min.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/marked.js" %}' type='text/javascript'></script>
  <script src='{% static "rest_framework_swagger/lib/swagger-oauth.js" %}' type='text/javascript'></script>

  <!-- Some basic translations -->
  <!-- <script src='lang/translator.js' type='text/javascript'></script> -->
  <!-- <script src='lang/ru.js' type='text/javascript'></script> -->
  <!-- <script src='lang/en.js' type='text/javascript'></script> -->

  <script src='{% static "rest_framework_swagger/init.js" %}' type='text/javascript'></script>
  <script id="drs-settings" type="application/json">
  {{ drs_settings | safe }}
  </script>
  {{ block.super }}
{% endblock %}
