html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0; background-color:#FFFFFF;
}

div.container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: "Source Sans Pro", sans-serif;
    overflow: hidden;
}

div.navigation {
    /* animation: slide 400ms reverse; */
    box-shadow: 2px 0 15px 0 rgba(0,0,0,0.09);
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    /* min-width: 430px; */
    padding: 40px 50px;
    position: absolute;
    width: 38.2%;
    z-index: 2;

    /* modifications */
    top: 0; bottom: 0;
    overflow: auto;
}

@keyframes slide {
    0% {
        width: 38.2%;
    }
    100% {
        width: 100%;
    }
}


div.button-group {
    align-self: center;
    /* min-width: 330px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

div.title {
    color: #16325C;
    font-family: "Source Sans Pro";
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;

    /* modifications */
    max-width: 600px;
}

span.docs-description {
    display: flex;
    flex-direction: column;
    
    opacity: 0.7;
    color: #16325C;
    font-family: "Source Sans Pro";
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 25px;
    /* width: 310px; */
    /* max-width: 310px; */

    /* modifications */
    max-width: 600px;
}

span.docs-description-line {
    display: inline-block;
}

div.button-block {
    display: flex;
    flex-direction: column;
    /* max-width: 310px; */

    /* modifications */
    max-width: 600px;
}

div.card {
    animation: cardslide 750ms;
    animation-fill-mode: both;

    background-color: #FFFFFF;
    border: 1px solid #D8DDE6;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);
    padding: 20px;
    color: #16325C;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 15px 0px;

    /* remove this or change to something like a slide-in */
    /* transition-duration: 0.4s;
    transition-timing-function: ease; */
}
div.card:nth-child(1) {
    animation-delay: 150ms;
}
div.card:nth-child(2) {
    animation-delay: 300ms;
}
div.card:nth-child(3) {
    animation-delay: 450ms;
}
div.card:nth-child(4) {
    animation-delay: 600ms;
}

@keyframes cardslide {
    0% {
        opacity: 0;
        left: -100;
    }
    100% {
        left: 0;
    }
}

div.card:hover {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
    cursor: pointer;
}

div.card:hover img.icon {
    /* consider doing something */
}

div.card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    font-weight: 400;
}

span.card-title {
    color: #16325C;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    /* border-bottom: 1px solid #D8DDE6; */
}

span.card-description {
    color: #334C70;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    line-height: 20px;
    display: inline-block;
    max-width: 400px;
}

img.icon {
    height: 80px;
}

div.help {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}

p.contact {
    margin-bottom: 15px;
    color: #3661EB;
    font-family: "Source Sans Pro";
    font-size: 16px;
    line-height: 24px;
    margin: 3px 0;
}

div.email {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

p.support-info {
    opacity: 0.6;
    color: #334C70;
    font-family: "Source Sans Pro";
    font-size: 14px;
    line-height: 18px;
    margin: 3px 0;
}

div.greeting {
    /* background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='1187px' height='1080px' viewBox='0 0 1187 1080' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EMask%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E %3CradialGradient cx='43.3704335%25' cy='18.3237305%25' fx='43.3704335%25' fy='18.3237305%25' r='150.786015%25' gradientTransform='translate(0.433704,0.183237),scale(0.909857,1.000000),rotate(55.973169),translate(-0.433704,-0.183237)' id='radialGradient-1'%3E %3Cstop stop-color='%233661EB' offset='0%25'%3E%3C/stop%3E %3Cstop stop-color='%234DD2FE' offset='100%25'%3E%3C/stop%3E %3C/radialGradient%3E %3C/defs%3E %3Cg id='Login' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Login-1920x1080' transform='translate(-732.000000, 0.000000)' fill='url(%23radialGradient-1)'%3E %3Cg id='Group-12' transform='translate(732.000000, 0.000000)'%3E %3Cg id='Rectangle-4'%3E %3Crect id='Mask' x='0' y='0' width='1187' height='1080'%3E%3C/rect%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E"); */

    background: rgb(54,111,226);
    background: linear-gradient(180deg, rgba(54,111,226,1) 0%, rgba(65,145,244,1) 100%);

    box-shadow: 2px 0 15px 0 rgba(0,0,0,0.09);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 500px;
    width: 61.8%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

div.intro {
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='786px' height='904px' viewBox='0 0 786 904' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EGroup 5%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E %3ClinearGradient x1='-13.7466755%25' y1='-8.74023438%25' x2='89.1165226%25' y2='71.9970703%25' id='linearGradient-1'%3E %3Cstop stop-color='%23FFFFFF' offset='0%25'%3E%3C/stop%3E %3Cstop stop-color='%239AB2FF' offset='100%25'%3E%3C/stop%3E %3C/linearGradient%3E %3ClinearGradient x1='0%25' y1='50%25' x2='100%25' y2='23.8769531%25' id='linearGradient-2'%3E %3Cstop stop-color='%23FFFFFF' offset='0%25'%3E%3C/stop%3E %3Cstop stop-color='%239AB2FF' offset='100%25'%3E%3C/stop%3E %3C/linearGradient%3E %3C/defs%3E %3Cg id='Login' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Login-1920x1080' transform='translate(-838.000000, -90.000000)'%3E %3Cg id='Group-12' transform='translate(732.000000, 0.000000)'%3E %3Cg id='Rectangle-4'%3E %3Cg id='Group-5' transform='translate(106.000000, 90.000000)'%3E %3Cg id='Group-9' opacity='0.100000001'%3E %3Cpolygon id='Rectangle-4' fill='url(%23linearGradient-1)' transform='translate(393.000000, 502.500000) scale(-1, 1) translate(-393.000000, -502.500000) ' points='0 101 333.290819 101 786 904 452.709181 904'%3E%3C/polygon%3E %3Cpolygon id='Rectangle-4' fill='url(%23linearGradient-2)' points='0 0 333.290819 0 786 803 452.709181 803'%3E%3C/polygon%3E %3C/g%3E %3Cg id='Group' transform='translate(338.000000, 361.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E %3Cg id='Group-10'%3E %3Cpath d='M202.581571,38.3737566 C198.201551,38.3737566 195.573538,36.6941799 193.438279,34.581164 L195.573538,32.6306878 C196.997045,34.2019048 199.351306,35.610582 202.581571,35.610582 C205.976087,35.610582 208.385098,34.1477249 208.385098,31.1136508 C208.385098,28.8380952 206.523589,27.5919577 204.059828,26.5625397 L200.774813,25.2080423 C197.654048,23.9077249 194.697534,22.282328 194.697534,18.706455 C194.697534,14.8596825 198.0373,12.2048677 202.800572,12.2048677 C206.523589,12.2048677 208.658849,13.4510053 210.027606,14.5346032 L208.330348,16.8101587 C207.125842,15.8891005 204.990582,14.9680423 202.855322,14.9680423 C200.17256,14.9680423 198.0373,16.2683598 198.0373,18.706455 C198.0373,20.4943915 199.898809,21.5238095 202.253069,22.4990476 L205.154833,23.6910053 C208.549349,25.0996825 211.724863,27.0501587 211.724863,31.1136508 C211.724863,35.7189418 207.618594,38.3737566 202.581571,38.3737566 Z M226.178931,38.3737566 C220.265903,38.3737566 216.652386,35.0146032 215.995383,30.1925926 C215.831132,28.8380952 215.831132,26.7792593 215.831132,25.2080423 L215.831132,12.7466667 L219.170898,12.7466667 L219.170898,25.2080423 C219.170898,26.6708995 219.170898,28.6213757 219.389899,29.8675132 C219.937402,33.2808466 221.963161,35.610582 226.178931,35.610582 C229.190195,35.610582 232.803711,33.9310053 234.71997,31.8179894 L234.71997,12.7466667 L238.059736,12.7466667 L238.059736,37.7777778 L235.212722,37.7777778 L234.77472,35.1771429 C232.47521,37.0192593 229.518696,38.3737566 226.178931,38.3737566 Z M244.848767,37.7777778 L244.848767,12.7466667 L248.188533,12.7466667 L248.188533,37.7777778 L244.848767,37.7777778 Z M246.491275,4.9989418 C245.286769,4.9989418 244.301265,4.0237037 244.301265,2.83174603 C244.301265,1.63978836 245.286769,0.664550265 246.491275,0.664550265 C247.69578,0.664550265 248.681285,1.63978836 248.681285,2.83174603 C248.681285,4.0237037 247.69578,4.9989418 246.491275,4.9989418 Z M263.231165,38.3737566 C259.179646,38.3737566 256.387383,36.4774603 255.456629,33.4975661 C254.963877,31.9805291 254.909126,30.0842328 254.909126,28.1337566 L254.909126,3.53608466 L258.248892,3.53608466 L258.248892,12.7466667 L267.501685,12.7466667 L267.501685,15.5098413 L258.248892,15.5098413 L258.248892,27.429418 C258.248892,29.2173545 258.248892,31.2761905 258.577393,32.4681481 C259.070146,34.2560847 260.548403,35.610582 263.285915,35.610582 C265.256924,35.610582 266.789932,35.122963 268.213438,34.4186243 L269.308443,36.8567196 C267.556435,37.8319577 265.585426,38.3737566 263.231165,38.3737566 Z M281.791501,38.3737566 C274.290716,38.3737566 268.760941,32.8474074 268.760941,25.3164021 C268.760941,18.0562963 274.071715,12.2048677 281.846251,12.2048677 C289.894539,12.2048677 293.781807,18.1646561 293.781807,24.2869841 L293.781807,25.5331217 L272.264957,25.5331217 C272.264957,31.6554497 276.425976,35.610582 281.791501,35.610582 C285.569269,35.610582 288.963784,33.8768254 290.715793,32.5765079 L292.194049,34.9604233 C289.511287,36.9108995 286.007271,38.3737566 281.791501,38.3737566 Z M272.429208,22.7699471 L290.442041,22.7699471 C290.551542,20.2234921 288.306781,14.9680423 281.791501,14.9680423 C275.878474,14.9680423 272.81246,19.4649735 272.429208,22.7699471 Z' id='suite'%3E%3C/path%3E %3Cpath d='M14.7197614,38.3195767 C7.21897662,38.3195767 0.64894612,32.8474074 0.64894612,25.2622222 C0.64894612,17.4061376 7.38322738,12.2048677 14.9387625,12.2048677 C20.2495371,12.2048677 23.9178041,13.8844444 26.9838184,17.189418 L22.165796,21.9572487 C20.3590376,19.8984127 18.71653,18.706455 14.9387625,18.706455 C10.2849909,18.706455 8.20448119,21.5238095 8.20448119,25.2622222 C8.20448119,29.0548148 10.3397411,31.7638095 14.8292619,31.7638095 C19.2640325,31.7638095 21.2350417,29.8675132 22.6585483,28.5130159 L27.0385686,33.3892063 C24.2463057,36.5316402 20.0852863,38.3195767 14.7197614,38.3195767 Z M43.6826459,38.3195767 C36.0176103,38.3195767 29.3380793,32.7932275 29.3380793,25.2622222 C29.3380793,17.7853968 35.96286,12.2048677 43.6826459,12.2048677 C52.0594348,12.2048677 58.136713,17.7853968 58.136713,25.2622222 C58.136713,32.9557672 51.6214327,38.3195767 43.6826459,38.3195767 Z M43.6826459,31.8179894 C48.5006682,31.8179894 50.6359282,29.0006349 50.6359282,25.2622222 C50.6359282,21.5238095 48.664919,18.706455 43.6826459,18.706455 C39.0288743,18.706455 36.8936144,21.5238095 36.8936144,25.2622222 C36.8936144,29.1089947 38.974124,31.8179894 43.6826459,31.8179894 Z M61.585979,37.7777778 L61.585979,12.7466667 L68.4297608,12.7466667 L68.703512,14.5346032 C70.0722684,13.5051852 72.4265293,12.2048677 75.8210451,12.2048677 C82.062574,12.2048677 85.6760908,15.9432804 86.0593426,21.3070899 C86.1140928,22.4990476 86.1688431,24.5037037 86.1688431,25.9665608 L86.1688431,37.7777778 L78.6680583,37.7777778 L78.6680583,25.5873016 C78.6680583,24.4495238 78.6680583,22.9866667 78.4490573,21.9030688 C78.1205557,20.0067725 76.7517994,18.706455 74.3975385,18.706455 C72.152778,18.706455 70.2912694,19.6816931 69.0867638,20.9820106 L69.0867638,37.7777778 L61.585979,37.7777778 Z M98.4192125,38.3195767 C93.7106906,38.3195767 90.7541769,35.9356614 89.9329231,32.6306878 C89.5496713,31.005291 89.5496713,29.1089947 89.5496713,27.1585185 L89.5496713,4.72804233 L97.0504561,4.72804233 L97.0504561,12.7466667 L106.4675,12.7466667 L106.4675,19.248254 L97.0504561,19.248254 L97.0504561,26.5625397 C97.0504561,28.0253968 97.1599566,29.6507937 97.2147069,30.3551323 C97.3242074,31.1136508 97.4884581,31.8179894 98.4739627,31.8179894 C99.7879688,31.8179894 101.430476,31.1678307 103.894238,29.7049735 L106.631751,35.8273016 C103.675237,37.5068783 100.937724,38.3195767 98.4192125,38.3195767 Z M111.477148,37.7777778 L111.477148,12.7466667 L118.32093,12.7466667 L118.649431,15.0764021 C119.689686,13.9928042 122.043947,12.2048677 125.164712,12.2048677 C128.285476,12.2048677 130.749238,13.1259259 132.665496,14.8596825 L128.997229,20.7111111 C127.737974,19.6275132 126.369217,18.706455 123.960206,18.706455 C121.551195,18.706455 119.908687,20.277672 118.977933,21.5238095 L118.977933,37.7777778 L111.477148,37.7777778 Z M142.014102,38.3195767 C136.210575,38.3195767 131.009301,35.8273016 131.009301,29.8133333 C131.009301,23.853545 135.991574,21.6863492 142.452104,21.6863492 C144.039862,21.6863492 146.339372,22.0114286 147.708129,22.4448677 C147.708129,21.9030688 147.708129,20.5485714 147.489128,20.0609524 C147.051126,19.1940741 145.463368,18.706455 143.985111,18.706455 C141.849852,18.706455 139.714592,18.9231746 136.758078,20.4402116 L133.746814,14.7513228 C137.25083,12.8550265 140.700096,12.2048677 144.313613,12.2048677 C150.11714,12.2048677 154.059158,15.4014815 154.825662,18.5439153 C155.263664,20.4402116 155.263664,22.1197884 155.263664,24.2869841 L155.263664,37.7777778 L148.803134,37.7777778 L148.474632,35.9898413 C147.379627,37.0192593 145.79187,38.3195767 142.014102,38.3195767 Z M142.342604,31.8179894 C143.985111,31.8179894 146.448873,30.9511111 147.708129,29.975873 L147.708129,28.2962963 C146.667874,27.917037 144.861116,27.3752381 142.452104,27.3752381 C140.097843,27.3752381 138.510086,27.9712169 138.510086,29.8133333 C138.510086,31.5470899 140.097843,31.8179894 142.342604,31.8179894 Z M157.836926,37.7777778 L168.622726,24.1244444 L159.643684,12.7466667 L169.060728,12.7466667 L173.659749,18.5980952 L178.258771,12.7466667 L187.675814,12.7466667 L178.368271,24.5578836 L188.82557,37.7777778 L179.353776,37.7777778 L173.331248,30.1384127 L167.30872,37.7777778 L157.836926,37.7777778 Z' id='contrax'%3E%3C/path%3E %3C/g%3E %3Cpath d='M2,68.1346154 L2,47 L5.0618316,47 L5.0618316,56.5846154 C6.10066732,55.8846154 7.3582053,55.4269231 8.75243219,55.4269231 C12.8530995,55.4269231 15.4775266,58.2538462 15.4775266,61.9153846 C15.4775266,65.7115385 12.6890728,68.4038462 8.75243219,68.4038462 C7.38554308,68.4038462 5.90930285,67.9461538 4.92514269,67.1653846 L4.761116,68.1346154 L2,68.1346154 Z M5.0618316,64.3384615 C5.63592503,65.2 6.78411188,65.7923077 8.47905437,65.7923077 C11.1034815,65.7923077 12.415695,64.15 12.415695,61.9153846 C12.415695,59.7615385 11.1854948,58.0384615 8.47905437,58.0384615 C6.78411188,58.0384615 5.63592503,58.6576923 5.0618316,59.5192308 L5.0618316,64.3384615 Z M18.505186,75 L22.141111,67.1923077 L16.8102435,55.6961538 L20.1181151,55.6961538 L23.7540401,63.7730769 L27.280614,55.6961538 L30.5611479,55.6961538 L21.8130576,75 L18.505186,75 Z M38.8923372,68.1346154 L38.8923372,48.4807692 L41.9541688,48.4807692 L41.9541688,65.5230769 L50.4015435,65.5230769 L50.4015435,68.1346154 L38.8923372,68.1346154 Z M58.9856072,68.4038462 C55.1036422,68.4038462 52.0418106,65.6038462 52.0418106,61.9153846 C52.0418106,58.3615385 54.9669533,55.4269231 58.9856072,55.4269231 C63.5783546,55.4269231 65.5740127,58.7923077 65.5740127,62.1846154 L65.5740127,62.8307692 L55.1856555,62.8307692 C55.4316956,64.7423077 57.1539758,65.7923077 59.012945,65.7923077 C60.8719142,65.7923077 62.2934789,64.9038462 63.2503012,64.0423077 L65.0272571,66.1423077 C63.5236791,67.4884615 61.3366565,68.4038462 58.9856072,68.4038462 Z M55.3496822,60.6769231 L62.3481544,60.6769231 C62.3481544,59.7076923 61.5826965,58.0384615 58.9856072,58.0384615 C56.1971535,58.0384615 55.3496822,59.9769231 55.3496822,60.6769231 Z M66.8042129,68.1346154 L72.1350804,61.4038462 L67.5970086,55.6961538 L71.4789737,55.6961538 L74.2400897,59.1153846 L76.9191923,55.6961538 L80.7738193,55.6961538 L76.0990589,61.5653846 L81.2932371,68.1346154 L77.465948,68.1346154 L74.0213874,63.8538462 L70.6315024,68.1346154 L66.8042129,68.1346154 Z M83.2068819,68.1346154 L83.2068819,48.4807692 L89.713274,48.4807692 C90.8614609,48.4807692 92.3103633,48.6961538 93.2398479,49.1807692 C95.0988171,50.1230769 96.5750573,52.0884615 96.5750573,54.7538462 C96.5750573,57.8230769 94.7981015,59.7615385 92.7751056,60.5692308 C91.9002966,60.8923077 90.6427586,60.9730769 89.6039229,60.9730769 L86.2687135,60.9730769 L86.2687135,68.1346154 L83.2068819,68.1346154 Z M86.2687135,58.3615385 L89.6312607,58.3615385 C90.342043,58.3615385 90.9434742,58.3615385 91.6815943,58.1461538 C92.7204301,57.85 93.5405635,56.4769231 93.5405635,54.8076923 C93.5405635,53.2461538 92.8024434,52.0076923 91.9276344,51.5230769 C91.4082165,51.2538462 90.5880831,51.0923077 89.713274,51.0923077 L86.2687135,51.0923077 L86.2687135,58.3615385 Z M99.3088356,68.1346154 L99.3088356,55.6961538 L102.124627,55.6961538 L102.261316,56.45 C103.026774,55.9384615 104.256974,55.4269231 105.54185,55.4269231 C106.580686,55.4269231 107.810886,55.6423077 108.822384,56.4230769 L107.537508,58.8461538 C106.826726,58.2 106.252632,58.0384615 105.268472,58.0384615 C104.010934,58.0384615 102.972098,58.6307692 102.370667,59.4384615 L102.370667,68.1346154 L99.3088356,68.1346154 Z M116.723003,68.4038462 C112.841038,68.4038462 109.779206,65.6038462 109.779206,61.9153846 C109.779206,58.3615385 112.704349,55.4269231 116.723003,55.4269231 C121.31575,55.4269231 123.311408,58.7923077 123.311408,62.1846154 L123.311408,62.8307692 L112.923051,62.8307692 C113.169091,64.7423077 114.891371,65.7923077 116.750341,65.7923077 C118.60931,65.7923077 120.030874,64.9038462 120.987697,64.0423077 L122.764653,66.1423077 C121.261075,67.4884615 119.074052,68.4038462 116.723003,68.4038462 Z M113.087078,60.6769231 L120.08555,60.6769231 C120.08555,59.7076923 119.320092,58.0384615 116.723003,58.0384615 C113.934549,58.0384615 113.087078,59.9769231 113.087078,60.6769231 Z M132.223525,68.4038462 C128.286885,68.4038462 125.498431,65.7115385 125.498431,61.9153846 C125.498431,58.2538462 128.122858,55.4269231 132.223525,55.4269231 C133.617752,55.4269231 134.87529,55.8846154 135.914126,56.5846154 L135.914126,47 L138.975957,47 L138.975957,68.1346154 L136.214841,68.1346154 L136.050815,67.1653846 C135.066655,67.9461538 133.590414,68.4038462 132.223525,68.4038462 Z M132.496903,65.7923077 C134.191846,65.7923077 135.340032,65.2 135.914126,64.3384615 L135.914126,59.5192308 C135.285357,58.6576923 134.191846,58.0384615 132.496903,58.0384615 C129.790463,58.0384615 128.560262,59.7615385 128.560262,61.9153846 C128.560262,64.15 129.872476,65.7923077 132.496903,65.7923077 Z M142.502533,68.1346154 L142.502533,55.6961538 L145.564365,55.6961538 L145.564365,68.1346154 L142.502533,68.1346154 Z M144.006111,52.8692308 C143.049289,52.8692308 142.256493,52.0884615 142.256493,51.1461538 C142.256493,50.2038462 143.049289,49.3961538 144.006111,49.3961538 C144.962933,49.3961538 145.783067,50.2038462 145.783067,51.1461538 C145.783067,52.0884615 144.962933,52.8692308 144.006111,52.8692308 Z M155.433304,68.4038462 C151.606015,68.4038462 148.516845,65.6307692 148.516845,61.9153846 C148.516845,58.2538462 151.633352,55.4269231 155.460642,55.4269231 C157.94838,55.4269231 159.67066,56.3692308 160.928198,57.7692308 L159.123905,59.6538462 C158.085069,58.6307692 157.264935,58.0384615 155.460642,58.0384615 C152.863552,58.0384615 151.578677,59.7884615 151.578677,61.9423077 C151.578677,64.1230769 152.89089,65.7923077 155.460642,65.7923077 C157.538313,65.7923077 158.522473,64.9038462 159.342607,64.0961538 L161.119563,66.0615385 C159.725336,67.5153846 157.811691,68.4038462 155.433304,68.4038462 Z M168.254724,68.4038462 C166.013026,68.4038462 164.591461,67.3 164.126719,65.7115385 C163.908016,64.9307692 163.908016,63.9884615 163.908016,63.0192308 L163.908016,58.3076923 L162.459114,58.3076923 L162.459114,55.6961538 L163.908016,55.6961538 L163.908016,51.4961538 L166.969848,51.4961538 L166.969848,55.6961538 L171.644609,55.6961538 L171.644609,58.3076923 L166.969848,58.3076923 L166.969848,62.6961538 C166.969848,63.4769231 166.997186,64.3653846 167.079199,64.7961538 C167.18855,65.3346154 167.489266,65.7923077 168.282062,65.7923077 C169.04752,65.7923077 169.840315,65.4961538 170.906489,64.9038462 L172,67.3269231 C170.715124,68.0538462 169.484924,68.4038462 168.254724,68.4038462 Z' id='by-LexPredict' fill-opacity='0.602326766'%3E%3C/path%3E %3C/g%3E %3Cpath d='M274.984,329 L270.784,310.548 L272.128,310.548 L274.452,321.412 C274.657334,322.420005 274.867332,323.423328 275.082,324.422 C275.296668,325.420672 275.506666,326.423995 275.712,327.432 L275.824,327.432 C276.048001,326.423995 276.276665,325.420672 276.51,324.422 C276.743335,323.423328 276.990665,322.420005 277.252,321.412 L280.136,310.548 L281.452,310.548 L284.336,321.412 C284.597335,322.420005 284.844666,323.423328 285.078,324.422 C285.311334,325.420672 285.558665,326.423995 285.82,327.432 L285.932,327.432 C286.137334,326.423995 286.337999,325.420672 286.534,324.422 C286.730001,323.423328 286.930666,322.420005 287.136,321.412 L289.46,310.548 L290.72,310.548 L286.604,329 L285.176,329 L281.816,316.344 C281.647999,315.615996 281.480001,314.92067 281.312,314.258 C281.143999,313.59533 280.985334,312.900004 280.836,312.172 L280.724,312.172 C280.574666,312.900004 280.406668,313.59533 280.22,314.258 C280.033332,314.92067 279.856001,315.615996 279.688,316.344 L276.384,329 L274.984,329 Z M299.232,329.336 C298.373329,329.336 297.566004,329.177335 296.81,328.86 C296.053996,328.542665 295.396003,328.08067 294.836,327.474 C294.275997,326.86733 293.832668,326.130004 293.506,325.262 C293.179332,324.393996 293.016,323.409339 293.016,322.308 C293.016,321.206661 293.179332,320.217338 293.506,319.34 C293.832668,318.462662 294.271331,317.72067 294.822,317.114 C295.372669,316.50733 295.997996,316.040668 296.698,315.714 C297.398004,315.387332 298.12133,315.224 298.868,315.224 C300.473341,315.224 301.733329,315.765328 302.648,316.848 C303.562671,317.930672 304.02,319.461323 304.02,321.44 L304.02,321.944 C304.02,322.112001 304.001334,322.279999 303.964,322.448 L294.276,322.448 C294.294667,323.288004 294.425332,324.06733 294.668,324.786 C294.910668,325.50467 295.251331,326.120664 295.69,326.634 C296.128669,327.147336 296.655997,327.548665 297.272,327.838 C297.888003,328.127335 298.578663,328.272 299.344,328.272 C300.072004,328.272 300.729997,328.164668 301.318,327.95 C301.906003,327.735332 302.451997,327.441335 302.956,327.068 L303.46,328.02 C302.918664,328.337335 302.326003,328.635999 301.682,328.916 C301.037997,329.196001 300.221338,329.336 299.232,329.336 Z M294.276,321.44 L302.844,321.44 C302.844,319.703991 302.489337,318.411338 301.78,317.562 C301.070663,316.712662 300.109339,316.288 298.896,316.288 C298.31733,316.288 297.766669,316.404665 297.244,316.638 C296.721331,316.871334 296.250002,317.211998 295.83,317.66 C295.409998,318.108002 295.064668,318.64933 294.794,319.284 C294.523332,319.91867 294.350667,320.637329 294.276,321.44 Z M309.312,329.336 C308.210661,329.336 307.66,328.626674 307.66,327.208 L307.66,308.868 L308.892,308.868 L308.892,327.376 C308.892,327.674668 308.947999,327.893999 309.06,328.034 C309.172001,328.174001 309.311999,328.244 309.48,328.244 L309.662,328.244 C309.727334,328.244 309.834666,328.225334 309.984,328.188 L310.208,329.196 C310.077333,329.233334 309.946667,329.266 309.816,329.294 C309.685333,329.322 309.517334,329.336 309.312,329.336 Z M319.28,329.336 C318.402662,329.336 317.595337,329.177335 316.858,328.86 C316.120663,328.542665 315.476669,328.085336 314.926,327.488 C314.375331,326.890664 313.946002,326.158004 313.638,325.29 C313.329998,324.421996 313.176,323.428006 313.176,322.308 C313.176,321.187994 313.343998,320.184671 313.68,319.298 C314.016002,318.411329 314.463997,317.669336 315.024,317.072 C315.584003,316.474664 316.232663,316.017335 316.97,315.7 C317.707337,315.382665 318.486663,315.224 319.308,315.224 C320.241338,315.224 321.015997,315.391998 321.632,315.728 C322.248003,316.064002 322.789331,316.446665 323.256,316.876 L322.528,317.744 C322.098665,317.333331 321.622669,316.992668 321.1,316.722 C320.577331,316.451332 319.989337,316.316 319.336,316.316 C318.64533,316.316 318.006003,316.460665 317.418,316.75 C316.829997,317.039335 316.316669,317.449997 315.878,317.982 C315.439331,318.514003 315.094001,319.143996 314.842,319.872 C314.589999,320.600004 314.464,321.411996 314.464,322.308 C314.464,323.185338 314.580666,323.987996 314.814,324.716 C315.047334,325.444004 315.373998,326.069331 315.794,326.592 C316.214002,327.114669 316.72733,327.520665 317.334,327.81 C317.94067,328.099335 318.607996,328.244 319.336,328.244 C320.045337,328.244 320.70333,328.094668 321.31,327.796 C321.91667,327.497332 322.453331,327.133335 322.92,326.704 L323.564,327.572 C322.98533,328.076003 322.341337,328.495998 321.632,328.832 C320.922663,329.168002 320.138671,329.336 319.28,329.336 Z M331.768,329.336 C330.965329,329.336 330.200004,329.177335 329.472,328.86 C328.743996,328.542665 328.104669,328.085336 327.554,327.488 C327.003331,326.890664 326.564668,326.158004 326.238,325.29 C325.911332,324.421996 325.748,323.428006 325.748,322.308 C325.748,321.187994 325.911332,320.184671 326.238,319.298 C326.564668,318.411329 327.003331,317.669336 327.554,317.072 C328.104669,316.474664 328.743996,316.017335 329.472,315.7 C330.200004,315.382665 330.965329,315.224 331.768,315.224 C332.570671,315.224 333.340663,315.382665 334.078,315.7 C334.815337,316.017335 335.459331,316.474664 336.01,317.072 C336.560669,317.669336 336.999332,318.411329 337.326,319.298 C337.652668,320.184671 337.816,321.187994 337.816,322.308 C337.816,323.428006 337.652668,324.421996 337.326,325.29 C336.999332,326.158004 336.560669,326.890664 336.01,327.488 C335.459331,328.085336 334.815337,328.542665 334.078,328.86 C333.340663,329.177335 332.570671,329.336 331.768,329.336 Z M331.768,328.244 C332.440003,328.244 333.069997,328.099335 333.658,327.81 C334.246003,327.520665 334.749998,327.114669 335.17,326.592 C335.590002,326.069331 335.921332,325.444004 336.164,324.716 C336.406668,323.987996 336.528,323.185338 336.528,322.308 C336.528,321.411996 336.406668,320.600004 336.164,319.872 C335.921332,319.143996 335.590002,318.514003 335.17,317.982 C334.749998,317.449997 334.246003,317.039335 333.658,316.75 C333.069997,316.460665 332.440003,316.316 331.768,316.316 C331.095997,316.316 330.47067,316.460665 329.892,316.75 C329.31333,317.039335 328.814002,317.449997 328.394,317.982 C327.973998,318.514003 327.642668,319.143996 327.4,319.872 C327.157332,320.600004 327.036,321.411996 327.036,322.308 C327.036,323.185338 327.157332,323.987996 327.4,324.716 C327.642668,325.444004 327.973998,326.069331 328.394,326.592 C328.814002,327.114669 329.31333,327.520665 329.892,327.81 C330.47067,328.099335 331.095997,328.244 331.768,328.244 Z M341.848,329 L341.848,315.56 L342.912,315.56 L343.024,317.632 L343.108,317.632 C343.705336,316.94133 344.372663,316.367336 345.11,315.91 C345.847337,315.452664 346.58933,315.224 347.336,315.224 C348.418672,315.224 349.24933,315.471331 349.828,315.966 C350.40667,316.460669 350.817332,317.127996 351.06,317.968 C351.844004,317.127996 352.604663,316.460669 353.342,315.966 C354.079337,315.471331 354.839996,315.224 355.624,315.224 C358.312013,315.224 359.656,316.941316 359.656,320.376 L359.656,329 L358.396,329 L358.396,320.544 C358.396,319.106659 358.153336,318.047337 357.668,317.366 C357.182664,316.684663 356.426672,316.344 355.4,316.344 C354.186661,316.344 352.842674,317.183992 351.368,318.864 L351.368,329 L350.136,329 L350.136,320.544 C350.136,319.106659 349.893336,318.047337 349.408,317.366 C348.922664,316.684663 348.157339,316.344 347.112,316.344 C345.898661,316.344 344.554674,317.183992 343.08,318.864 L343.08,329 L341.848,329 Z M369.68,329.336 C368.821329,329.336 368.014004,329.177335 367.258,328.86 C366.501996,328.542665 365.844003,328.08067 365.284,327.474 C364.723997,326.86733 364.280668,326.130004 363.954,325.262 C363.627332,324.393996 363.464,323.409339 363.464,322.308 C363.464,321.206661 363.627332,320.217338 363.954,319.34 C364.280668,318.462662 364.719331,317.72067 365.27,317.114 C365.820669,316.50733 366.445996,316.040668 367.146,315.714 C367.846003,315.387332 368.56933,315.224 369.316,315.224 C370.921341,315.224 372.181329,315.765328 373.096,316.848 C374.010671,317.930672 374.468,319.461323 374.468,321.44 L374.468,321.944 C374.468,322.112001 374.449334,322.279999 374.412,322.448 L364.724,322.448 C364.742667,323.288004 364.873332,324.06733 365.116,324.786 C365.358668,325.50467 365.699331,326.120664 366.138,326.634 C366.576669,327.147336 367.103997,327.548665 367.72,327.838 C368.336003,328.127335 369.026663,328.272 369.792,328.272 C370.520004,328.272 371.177997,328.164668 371.766,327.95 C372.354003,327.735332 372.899997,327.441335 373.404,327.068 L373.908,328.02 C373.366664,328.337335 372.774003,328.635999 372.13,328.916 C371.485997,329.196001 370.669338,329.336 369.68,329.336 Z M364.724,321.44 L373.292,321.44 C373.292,319.703991 372.937337,318.411338 372.228,317.562 C371.518663,316.712662 370.557339,316.288 369.344,316.288 C368.76533,316.288 368.214669,316.404665 367.692,316.638 C367.169331,316.871334 366.698002,317.211998 366.278,317.66 C365.857998,318.108002 365.512668,318.64933 365.242,319.284 C364.971332,319.91867 364.798667,320.637329 364.724,321.44 Z M387.376,329.336 C386.722663,329.336 386.181335,329.238001 385.752,329.042 C385.322665,328.845999 384.977335,328.570668 384.716,328.216 C384.454665,327.861332 384.272667,327.432003 384.17,326.928 C384.067333,326.423997 384.016,325.873336 384.016,325.276 L384.016,316.624 L381.916,316.624 L381.916,315.672 L384.044,315.56 L384.212,311.668 L385.276,311.668 L385.276,315.56 L389.168,315.56 L389.168,316.624 L385.276,316.624 L385.276,325.388 C385.276,325.817335 385.308666,326.204665 385.374,326.55 C385.439334,326.895335 385.555999,327.193999 385.724,327.446 C385.892001,327.698001 386.120665,327.893999 386.41,328.034 C386.699335,328.174001 387.077331,328.244 387.544,328.244 C387.805335,328.244 388.089998,328.202 388.398,328.118 C388.706002,328.034 388.981332,327.936001 389.224,327.824 L389.56,328.832 C389.167998,328.981334 388.776002,329.102666 388.384,329.196 C387.991998,329.289334 387.656001,329.336 387.376,329.336 Z M397.344,329.336 C396.541329,329.336 395.776004,329.177335 395.048,328.86 C394.319996,328.542665 393.680669,328.085336 393.13,327.488 C392.579331,326.890664 392.140668,326.158004 391.814,325.29 C391.487332,324.421996 391.324,323.428006 391.324,322.308 C391.324,321.187994 391.487332,320.184671 391.814,319.298 C392.140668,318.411329 392.579331,317.669336 393.13,317.072 C393.680669,316.474664 394.319996,316.017335 395.048,315.7 C395.776004,315.382665 396.541329,315.224 397.344,315.224 C398.146671,315.224 398.916663,315.382665 399.654,315.7 C400.391337,316.017335 401.035331,316.474664 401.586,317.072 C402.136669,317.669336 402.575332,318.411329 402.902,319.298 C403.228668,320.184671 403.392,321.187994 403.392,322.308 C403.392,323.428006 403.228668,324.421996 402.902,325.29 C402.575332,326.158004 402.136669,326.890664 401.586,327.488 C401.035331,328.085336 400.391337,328.542665 399.654,328.86 C398.916663,329.177335 398.146671,329.336 397.344,329.336 Z M397.344,328.244 C398.016003,328.244 398.645997,328.099335 399.234,327.81 C399.822003,327.520665 400.325998,327.114669 400.746,326.592 C401.166002,326.069331 401.497332,325.444004 401.74,324.716 C401.982668,323.987996 402.104,323.185338 402.104,322.308 C402.104,321.411996 401.982668,320.600004 401.74,319.872 C401.497332,319.143996 401.166002,318.514003 400.746,317.982 C400.325998,317.449997 399.822003,317.039335 399.234,316.75 C398.645997,316.460665 398.016003,316.316 397.344,316.316 C396.671997,316.316 396.04667,316.460665 395.468,316.75 C394.88933,317.039335 394.390002,317.449997 393.97,317.982 C393.549998,318.514003 393.218668,319.143996 392.976,319.872 C392.733332,320.600004 392.612,321.411996 392.612,322.308 C392.612,323.185338 392.733332,323.987996 392.976,324.716 C393.218668,325.444004 393.549998,326.069331 393.97,326.592 C394.390002,327.114669 394.88933,327.520665 395.468,327.81 C396.04667,328.099335 396.671997,328.244 397.344,328.244 Z' id='Welcome-to' fill='%23FFFFFF' opacity='0.6'%3E%3C/path%3E %3Cg id='Group-3' transform='translate(270.000000, 308.000000)'%3E%3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    height: 904px;
    width: 786px;
    /* margin-left: -15%; */
}

/* div.card:hover {
    background: rgb(244, 246, 249, 0.5);
} */

/* ========================================================================= */
/* RESPONSIVE */
/* ========================================================================= */

@media screen 
and (max-width: 768px) {
    div.greeting {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }

    div.navigation {
        align-self: center;
        height: 100vh;
        width: 100vw;
        position: relative;
        padding: 10px 10px 10px 10px;
        background: rgba(245, 245, 245, 0.1);
    }

    div.button-group {
        align-items: center;
    }

    span.docs-description {
        display: none;
    }

    div.title {
        text-align: center;
    }

    div.card {
        width: 85vw;
        padding: 10px;
    }

    img.icon {
        /* display: none; */
        width: 10vw;
    }

    svg.logo {
        position: absolute;
        top: -9999px;
    }

    /* div.help {
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        align-items: flex-end;
    } */

    p.contact {
        display: none;
    }

    div.email {
        justify-content: space-around;
    }

    body {
        margin: 0;
        padding: 0;
    }
}


/* ========================================================================= */
/* SCOLLBAR */
/* ========================================================================= */

.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
    /* animation: scrollhint 1000ms; */
}

#scrollbar-style {
    /* Firefox */ 
    scrollbar-color: #6DB5F4 #FFFFFF;
    scrollbar-width: thin;
    scrollbar-track-color: teal;
}

#scrollbar-style::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    margin: 50px;
}

#scrollbar-style::-webkit-scrollbar {
    width: 7px;
}

#scrollbar-style::-webkit-scrollbar-thumb {
    background-color: #6DB5F4;
    border-radius: 7px;
}

/* div.greeting:hover ~ #scrollbar-style::-webkit-scrollbar {
    width: 30px;
} */

/* @keyframes scrollhint {
    0% {
        width: 7px; 
    }
    50% {
        width: 20px;
    }
    100% {
        width: 7px;
    }

} */