{% extends "base_list_ajax.html" %}
{% load static %}

{% block project_selection %}{% endblock %}

{% block js_extra %}
  <script type="text/javascript">
    var skip_project_selection = true;   // hide "empty project selection"- see jqwidgets.js
  </script>
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function () {
      var datafields = [
        { name: 'pk', type: 'int' },
        { name: 'username', type: 'string' },
        { name: 'role__name', type: 'string' },
        { name: 'photo', type: 'string' },
        { name: 'first_name', type: 'string' },
        { name: 'last_name', type: 'string' },
        { name: 'name', type: 'string' },
        { name: 'organization', type: 'string' },
        { name: 'email', type: 'string' },
        { name: 'url', type: 'string' }
      ];
      var columns = [
        { text: 'ID', datafield: 'pk', width: 50,
          cellclassname: inactive_cellsclassrenderer,
          align: 'center', cellsalign: 'center' },
        { text: 'Username', datafield: 'username', width: 150,
          align: 'center', cellsalign: 'left',
          cellsrenderer: defaultLinkFormatter,
          cellclassname: inactive_cellsclassrenderer },
        { text: 'Role', datafield: 'role__name', width: 150,
          cellclassname: inactive_cellsclassrenderer,
          align: 'center', cellsalign: 'center' },
        { text: 'First Name', datafield: 'first_name', width: 100,
          cellclassname: inactive_cellsclassrenderer,
          align: 'center', cellsalign: 'center' },
        { text: 'Last Name', datafield: 'last_name', width: 100,
          cellclassname: inactive_cellsclassrenderer,
          align: 'center', cellsalign: 'center' },
        { text: 'Name', datafield: 'name', width: 'auto',
          cellclassname: inactive_cellsclassrenderer,
          align: 'center', cellsalign: 'center' },
        { text: 'Organization', datafield: 'organization', width: 'auto',
          cellclassname: inactive_cellsclassrenderer,
          align: 'center', cellsalign: 'center' },
        { text: 'Email', datafield: 'email', width: 'auto',
          cellclassname: inactive_cellsclassrenderer,
          align: 'center', cellsalign: 'center' },
        { text: 'Photo', datafield: 'photo', width: 'auto',
          cellclassname: inactive_cellsclassrenderer,
          align: 'center', cellsalign: 'center',
          cellsrenderer: function(row_num, row_type, value, defaulthtml, columnproperties, row) {
            var new_value = value ? '<img height="40" src="/media/' + value + '" />' : null;
            defaulthtml = $(defaulthtml);
            defaulthtml.css('margin', '1px');
            return renderCell(defaulthtml, new_value)
          }
        }
      ];
      draw_grid(".jqxgrid", datafields, columns, false);
    });
  </script>
{% endblock %}
