<li class="dropdown-item">
  <a class="task" href="#"
     data-href="{% url "analyze:train-document-doc2vec-model" %}"
     data-btn-text="Train">
    <i class="fa fa-object-group"></i>
    Analyze: Train doc2vec model from Document queryset
  </a>
</li>
<li class="dropdown-item">
  <a class="task" href="#"
     data-href="{% url "analyze:train-text-unit-doc2vec-model" %}"
     data-btn-text="Train">
    <i class="fa fa-object-group"></i>
    Analyze: Train doc2vec model from Text Unit queryset
  </a>
</li>
<li class="dropdown-item">
  <a class="task" href="#"
     data-href="{% url "analyze:build-doc2vec-vectors" %}"
     data-btn-text="Build">
    <i class="fa fa-object-group"></i>
    Analyze: Build feature vectors
  </a>
</li>
<li class="dropdown-item">
  <a class="task" href="#"
     data-href="{% url "task:build-ocr-model" %}"
     data-btn-text="Build">
    <i class="fa fa-object-group"></i>
    Analyze: Build OCR Rating Model
  </a>
</li>
