{% extends "base_list_ajax.html" %}
{% load static %}

{% block js_extra %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function () {
      var datafields = [
        { name: 'pk', type: 'int' },
        { name: 'name', type: 'string' },
        { name: 'count' , type: 'int' },
        { name: 'url', type: 'string'} 
      ];

      var menu_renderer = function(row, event) {
        var grid = $(event.currentTarget).parents('.jqxgrid');
        row = grid.jqxGrid('getrowdata', row);
        var menu_data = [
          {url: row.url,
            icon: 'fa fa-file-text-o',
            text: 'View Employer Summary'}
        ];
        show_menu(menu_data, grid, row.pk, 300);
      };

      var columns = [
        { text: 'Name', datafield: 'name', width: 'auto',
          align: 'center', cellsalign: 'center', cellsrenderer: defaultLinkFormatter },
        { text: 'Count', datafield: 'count', width: 150,
          align: 'center', cellsalign: 'center' },
        { text: 'Action', datafield: 'url', width: 60,
          align: 'center', exportable: false,
          columntype: 'button',
          sortable: false, filterable: false, menu: false,
          cellsrenderer: function(){return 'Menu'},
          buttonclick: menu_renderer }
      ];

      draw_grid(".jqxgrid", datafields, columns, false, null);

    });
  </script>
{% endblock %}
