{% extends "base.html" %}
{% load static pipeline %}

{% block css_extra %}
  {% stylesheet 'custom_jqwidgets_css' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.css">
  <style>
    .jqx-grid-cell .jqx-button {
      height: 96% !important;
    }
  </style>
  <style>
    .two-lines-col.jqx-grid-column-header > div:first-child > div:first-child {
      margin-top: 25px !important;
      margin-bottom: 4px !important;
    }
    .two-lines-col.jqx-grid-column-header > div:first-child > div:first-child > span {
      white-space: normal;
    }
  </style>
  {{ block.super }}
{% endblock %}

{% block Title %}Employer Summary View{% endblock %}

{% block page_header %}Employer Summary View{% endblock %}

{% block content %}
  <h3>{{ object.name }}</h3><hr />

  <table class="table table-bordered table-striped">
    <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Total Contracts</th>
      <th>Employees</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ object.name }}</td>
      <td>{{ total_contracts|default:"-" }}</td>
      <td>{{ total_employees|default:"-" }}</td>
    </tr>
    </tbody>
  </table>
    <div class="tabs tabs-bb clearfix page-tabs" id="tabs1" data-speed="700" data-active="1"
       style="margin-top: 50px;">

        <ul class="tab-nav clearfix mb-10">
          <li><a href="#tab-1">Employee Contracts<span class="badge badge-s pull-right employees-badge"></span></a></li>
          <li><a href="#tab-2">Chart 1<span class="badge badge-s pull-right chart1-badge"></span></a></li>
          <li><a href="#tab-3">Chart 2<span class="badge badge-s pull-right chart2-badge"></span></a></li>
        </ul>

        <div class="tab-content clearfix" id="tab-1">
          <div class="pull-right grid-controls">
            {% include '_base_grid_buttons_block.html' %}
          </div>
          <div class="jqxgrid-container">
            <div class="jqxgrid col-md-12 jqxgrid-employees"></div>
          </div>
        </div>

        <div class="tab-content clearfix" id="tab-2">
        </div>

        <div class="tab-content clearfix" id="tab-3">
        </div>

    </div>
{% endblock %}

{% block js_extra %}
  {% include "_base_jqxgrid_block.html" %}

<script type="text/javascript">
     $(document).ready(function () {

      var employee_datafields = [
        { name: 'pk', type: 'int' },
        { name: 'document__name', type: 'string' },
        { name: 'document__document_type', type: 'string' },
        { name: 'document__description', type: 'string' },
        { name: 'name', type: 'string' },
        { name: 'annual_salary', type: 'float' },
        { name: 'salary_currency', type: 'string'},
        { name: 'effective_date', type: 'date' },
        { name: 'has_noncompete', type:'bool' },
        { name: 'has_termination', type:'bool' },
        { name: 'url' , type: 'string' },
        { name: 'detail_url', type:'string' },
        { name: 'vacation_yearly', type:'string' },
        { name: 'governing_geo', type:'string' }
      ];
      var menu_renderer = function(row, event) {
        var grid = $(event.currentTarget).parents('.jqxgrid');
        row = grid.jqxGrid('getrowdata', row);
        var menu_data = [
          {url: row.url,
            icon: 'fa fa-file-text-o',
            text: 'View Document'},
          {url: row.detail_url,
            icon: 'fa fa-user',
            text: 'View Employee'},
        ];
        show_menu(menu_data, grid, row.pk);
      };
      var employee_columns = [
          { text: 'Name', datafield: 'document__name',
          align: 'center', cellsalign: 'left',
          cellsrenderer: defaultLinkFormatter, columngroup: 'Document' },
          { text: 'Type', datafield: 'document__document_type', width: 100,
          align: 'center', cellsalign: 'center', columngroup: 'Document' },
          { text: 'Employee', datafield: 'name', width: 150,
          align: 'center', cellsalign: 'left'},
          { text: 'Annual Salary', datafield: 'annual_salary', classname: 'two-lines-col',
          align: 'center', cellsalign: 'center', width: 60 },
          {text: 'Currency', datafield: 'salary_currency', width: 60,
          align: 'center', cellsalign: 'center' },
          { text: 'Annual vacation', datafield: 'vacation_yearly', classname: 'two-lines-col',
          align: 'center', cellsalign: 'center', width: 80 },
          { text: 'Governing Law', datafield: 'governing_geo', classname: 'two-lines-col',
          align: 'center', cellsalign: 'center', width: 80 },
          { text: 'Non- Compete', datafield: 'has_noncompete', classname: 'two-lines-col',
          width: 65,  columntype: 'checkbox', resizable: false, type: 'bool',
          align: 'center', cellsalign: 'center' },
          { text: 'Termi- nation', datafield: 'has_termination', classname: 'two-lines-col',
          width: 65,  columntype: 'checkbox', resizable: false, type: 'bool',
          align: 'center', cellsalign: 'center' },
          {text: 'Effective Date', datafield: 'effective_date', width: 80, classname: 'two-lines-col',
          enabletooltips:true, align: 'center', cellsalign: 'center',
              format: 'yyyy-MM-dd', cellsformat: 'yyyy-MM-dd'},
          { text: 'Action', datafield: 'url', width: 60,
          align: 'center', exportable: false,
          columntype: 'button',
          sortable: false, filterable: false, menu: false,
          cellsrenderer: function(){return 'Menu'},
          buttonclick: menu_renderer }
      ];

      var employee_custom_grid_options = {
        columngroups: [
          { text: 'Document', name: 'Document', align: 'center' }
        ]
      };

      var employee_custom_source_data = {
        url: '{% url "employee:employee-list" %}',
        data: { 'employer_pk': {{ object.pk }} },
        badgeClass: 'employees-badge'
      };

      draw_grid(".jqxgrid-employees", employee_datafields, employee_columns, false,
          employee_custom_source_data, employee_custom_grid_options);

     });
</script>

{% endblock %}
