@media (min-width: 768px) {
  .container {
    width: 100%;
    min-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
    min-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    min-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

#page-title {
  padding: 10px 0;
  padding-bottom: 10px;
}

#page-title h1 {
  float: left;
}

#page-title h1 .name {
  font-weight: normal;
  display: inline;
  font-size: inherit;
  font-family: inherit;
}

.content-wrap {
  padding: 10px 0;
}

#header:not(.sticky-header) #account_menu a {
  padding: 10px 10px 30px 10px;
}

ul.tab-nav:not(.tab-nav-lg) {
  margin: 0;
  border: none !important;
  border-bottom: 1px solid #DDD;
  list-style: none;
  background: none !important;
}

td > input {
  margin: 0;
  width:100%;
  height: 100%;
}

td > textarea {
  margin: 0;
  width:100%;
  height: 100%;
}

.tabs {
  margin: 0 0 10px 0;
}

label.left-side {
  margin-right: 10px;
}

.annotator-hl {
    background: rgb(135, 222, 205);
}

.annotator-hl-suggested-by-system {
    background: rgb(255, 255, 0)
}

.annotator-widget {
  min-width: 350px;
}

.annotator-viewer-description {
  color: #000;
  font-weight: bold;
}

