bs4==0.0.1
celery[redis]==4.1.0
https://github.com/LexPredict/datefinder/archive/master.zip
https://github.com/LexPredict/lexpredict-lexnlp/archive/master.zip
dateparser==0.6.0
django==1.11.3
django-allauth==0.31.0
django-allauth-2fa==0.4.4
django-autocomplete-light==3.2.10
django-celery-results==1.0.1
django-ckeditor==5.2.1
django-constance==2.0.0
django-cors-headers==2.1.0
django-crispy-forms==1.6.1
django-environ==0.4.1
django-excel==0.0.6
django-extensions==1.7.7
django-filebrowser-no-grappelli==3.7.0
django-filter==1.1.0
django-picklefield==1.0.0
django-pipeline==1.6.13
django-rest-auth==0.9.3
django-rest-swagger==2.1.2
django-simple-history==1.8.2
django-suit==0.2.24
djangorestframework==3.7.7
drf-nested-routers==0.90.0
elasticsearch==6.0.0
fuzzywuzzy==0.15.1
gensim==3.1.0
geocoder==1.23.1
icalendar==3.11.7
Jinja2==2.9.6
jsonfield==2.0.2
langid==1.1.6
markdown==2.6.11
psycopg2==2.7.3.2
pyap==0.1
pycountry==17.1.8
pyexcel-xlsx==0.3.0
python-logstash==0.4.6
python-Levenshtein==0.12.0
requests==2.18.4
textblob==0.12.0
textract==1.5.0
tika==1.15
us==1.0.0
uWSGI==2.0.15
Werkzeug==0.12.2