{% extends "base.html" %}
{% load static pipeline %}

{% block css_extra %}
  {% stylesheet 'custom_jqwidgets_css' %}
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.css">
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'lease/../../static/lease/lease.css' %}">
{% endblock %}

{% block title %}Lease Dashboard{% endblock %}

{% block page_header %}Lease Dashboard{% endblock %}

{% block content %}

  <div class="tabs tabs-bb clearfix page-tabs" id="tabs" data-speed="700" data-active="1">
    <ul class="tab-nav clearfix">
      <li><a href="#tab-1">Lease Documents<span
              class="badge badge-s pull-right lease-documents-badge"></span></a>
      </li>
      <li><a href="#tab-2">Lessor List<span
              class="badge badge-s pull-right lessor-list-badge"></span></a>
      </li>
    </ul>

    <div class="tab-container">

      <div class="tab-content clearfix" id="tab-1">
        <div class="pull-right grid-controls">
          {% include '_base_grid_buttons_block.html' %}
        </div>
        <div class="jqxgrid-container">
          <div class="jqxgrid col-md-12 jqxgrid-lease-documents"></div>
        </div>
      </div>

      <div class="tab-content clearfix" id="tab-2">
        <div class="pull-right grid-controls">
          {% include '_base_grid_buttons_block.html' %}
        </div>
        <div class="jqxgrid-container">
          <div class="jqxgrid col-md-12 jqxgrid-lessor-list"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block js %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>
  {% include "_base_jqxgrid_block.html" %}

  {% load static %}
  <script src="{% static 'lease/../../static/lease/lessor_list_table.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      drawLessorListGrid('{% url "lease:lessor-list" %}', '.jqxgrid-lessor-list',
        'lessor-list-badge');
    });
  </script>


  <script src="{% static 'lease/../../static/lease/lease_documents_table.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      drawLeaseDocumentsGrid(
        '{% url "lease:lease-document-list" %}',
        '.jqxgrid-lease-documents',
        'lease-documents-badge',
        true);
    });
  </script>

{% endblock %}
