{% extends "base.html" %}
{% load static pipeline %}

{% block css_extra %}
  {% stylesheet 'custom_jqwidgets_css' %}
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'lease/../../static/lease/lease.css' %}">
{% endblock %}

{% block Title %}Lessor: {{ lessor.name }}{% endblock %}

{% block page_header %}Lessor:
  <span class="name">{{ lessor.name|truncatechars:64 }}</span>{% endblock %}

{% block content %}
  <table class="table table-bordered table-striped" style="margin-bottom:0px">
    <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ lessor.name }}</td>
      <td>{{ lessor.leases_number }}</td>
    </tr>
    </tbody>
  </table>

  <div class="tabs tabs-bb clearfix page-tabs" id="tabs" data-speed="700" data-active="1">

    <ul class="tab-nav clearfix">
      <li><a href="#tab-1">Lease Documents<span
              class="badge badge-s pull-right lease-documents-badge"></span></a>
      </li>
      <li><a href="#tab-2">Premises Usage Over Time</a></li>
    </ul>

    <div class="tab-container" style="padding-top: 5px">
      <div class="tab-content clearfix" id="tab-1">
        <div class="pull-right grid-controls">
          {% include '_base_grid_buttons_block.html' %}
        </div>
        <div class="jqxgrid-container">
          <div class="jqxgrid col-md-12 jqxgrid-lease-documents"></div>
        </div>
      </div>

      <div class="tab-content clearfix" id="tab-2">
        <div id="lease-timeline" style="min-height: 100px">
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js_extra %}
  {% include "_base_jqxgrid_block.html" %}

  {% load static %}

  <script src="{% static 'lease/../../static/lease/lease_documents_table.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      drawLeaseDocumentsGrid(
        '{% url "lease:lessor-lease-documents" lessor.name %}',
        '.jqxgrid-lease-documents',
        'lease-documents-badge',
        true);
    });
  </script>

  <script type="text/javascript">

    var tabActivateListeners = [];

    function leaseDocumentDetailUrlProvider(pk) {
      return '{% url "lease:lease-document-detail" "99999999" %}'
        .replace("99999999", pk);
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <script src="{% static 'lease/../../static/lease/lease_timeline.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function () {

      function dataUrlProvider() {
        return '{% url "lease:lessor-lease-documents" lessor.name %}';
      }

      var container = document.getElementById('lease-timeline');

      buildLeaseTimeLineByLessor(container, dataUrlProvider, leaseDocumentDetailUrlProvider);

    });

  </script>


  <script type="text/javascript">
    $(document).ready(function () {
      var tabs = $("#tabs");
      tabs.tabs("option", "active", (window.localStorage['lease_dashboard_active_tab'] || 0));
      tabs.tabs({
        activate: function (event, ui) {
          window.localStorage['lease_dashboard_active_tab'] = tabs.tabs("option", "active");
          for (var i in tabActivateListeners) {
            tabActivateListeners[i]();
          }
        }
      });
    });
  </script>

{% endblock %}
