{% extends "admin/change_form.html" %}
{% load static project_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.0.3/jquery-confirm.min.css" type="text/css" />
  <style>
    .check-formula {
      display: block;
    }
  .width-50 {
    width: 50%;
    margin: auto;
  }
  </style>
{% endblock %}

{% block submit_buttons_bottom %}
  {% if clone %}
    <div class="submit-row clearfix">
      <button type="submit" class="btn btn-high btn-info" name="_save">Clone</button>
      <a href="{% url "admin:document_documentfield_change" object_id %}"><button class="btn btn-high" type="button">Cancel</button></a>
    </div>
  {% else %}
    {{ block.super }}
    <div class="submit-row" style="margin-top: 10px;">
      <a href="{% url "admin:clone_document_field" object_id %}"><button class="btn btn-high btn-warning" type="button">Clone</button></a>
    </div>
  {% endif %}
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" style="text/javascrypt"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.js" style="text/javascrypt"></script>



  <script type="text/javascript">
    var docFieldSets = {
      fieldCodeFormula: 'formula',
      fieldCodeHidePython: 'hide_until_python',
      fieldCodeType: 'type',
      fieldCodeDocumentType: 'document_type',
      fieldCodeDepOnFields: 'depends_on_fields',
      fieldCodeChoices: 'choices',
      fieldCodeAllowNonChoices: 'allow_values_not_specified_in_choices'
    };

    function FieldFilter() {
      this.listItemsCount = 0;
      this.fieldsByDoctype = {{ fields_by_doctype | js }};
      this.itemsUpdated = false;
      $('select#id_document_type').on('change', function () {
        window.classFilter.onDocTypeChange();
      });
      this.filterOnLoad();
    }

    FieldFilter.prototype.filterOnLoad = function () {
      var that = this;
      if (that.itemsUpdated) return;
      that.onDocTypeChange();
      if (that.itemsUpdated) {
        that.monitorItemsChanges();
        return;
      }
      window.setTimeout(function() {
        that.filterOnLoad();
      }, 500);
    }

    FieldFilter.prototype.monitorItemsChanges = function () {
      this.listItemsCount = $("select#id_depends_on_fields_from > option").length;
      jQuery('#id_depends_on_fields_from').on("DOMSubtreeModified", function(e) {
            var eventAttr = (e.originalEvent.attribute || "");
            if (eventAttr.indexOf(";on updated();"))
              return;  // already processed
            e.originalEvent.attribute = eventAttr + ";on updated();";
            var newItemsCount = $("select#id_depends_on_fields_from > option").length;
            if (listItemsCount == newItemsCount) return;
            that.onDocTypeChange();
          });
    }

    FieldFilter.prototype.onDocTypeChange = function() {
      var selectedDocType = $('select#id_document_type').val();
      var enabledOptions = selectedDocType ? this.fieldsByDoctype[selectedDocType] : null;
      enabledOptions = typeof(enabledOptions) === 'undefined' ? [] : enabledOptions;
      var enabledFields = null;
      if (enabledOptions) {
        enabledFields = {};
        for (var i = 0; i < enabledOptions.length; i++)
          enabledFields[enabledOptions[i]] = 1;
      }

      // filter dep field selectors
      this.adjustListItems('id_depends_on_fields_from', enabledFields,
        function (itm) { itm.show(); },
        function (itm) { itm.hide(); });
      this.adjustListItems('id_depends_on_fields_to', enabledFields,
        function (itm) { itm.css('color', 'black'); },
        function (itm) { itm.css('color', 'red'); });
    }

    FieldFilter.prototype.adjustListItems = function (
      listId, enabledFields, actionOk, actionProhibited) {
      var that = this;
      $("select#" + listId + " > option").each(function() {
          var isEnabled = 1;
          if (enabledFields) isEnabled = enabledFields[this.value];
          if (isEnabled)

            actionOk($(this));
          else
            actionProhibited($(this));
      });
    }

    $(document).ready(function () {
      window.classFilter = new FieldFilter();

      var formula_input = $('[name="' + docFieldSets.fieldCodeFormula + '"]');
      var hide_until_python_input = $('[name="' + docFieldSets.fieldCodeHidePython + '"]');
      var markup = '<a class="check-formula" href="#">Check formula</a>';
      $(markup).attr('data-field', docFieldSets.fieldCodeFormula).insertAfter(formula_input);
      $(markup).attr('data-field', docFieldSets.fieldCodeHidePython).insertAfter(hide_until_python_input);
      $('.check-formula').on('click', function(ev){
        var formula_field_name = $(this).data('field');
        var formula = $('[name="' + formula_field_name + '"]').val();
        var document_type_id = $('[name="' + docFieldSets.fieldCodeDocumentType + '"]').val();
        if (!formula){
          $.alert({
            icon: 'fa fa-warning text-danger',
            title: 'Formula calculation error',
            type: 'red',
            content: 'Empty formula field.',
            columnClass: 'width-50'
          });
          return;
        }
        if (!document_type_id){
          $.alert({
            icon: 'fa fa-warning text-danger',
            title: 'Formula calculation error',
            type: 'red',
            content: 'Empty Document Type.',
            columnClass: 'width-50'
          });
          return;
        }
        var depends = [];
        $('[name="' + docFieldSets.fieldCodeDepOnFields + '"] option').each(function() {
          depends.push($(this).val())
        });
        var data = {
          document_type: document_type_id,
          field_type: $('[name="' + docFieldSets.fieldCodeType + '"]').val(),
          depends_on_fields: depends,
          choices: $('[name="' + docFieldSets.fieldCodeChoices + '"]').val(),
          allow_values_not_specified_in_choices:
            $('[name="' + docFieldSets.fieldCodeAllowNonChoices + '"]').is(':checked')
        };
        data[formula_field_name] = formula;

        var object_id = '{{ object_id }}';
        if (object_id!='None'){
          var url = '{% url "v1:document-field-check-formula" object_id %}';
        }
        else {
          url = '{% url "v1:document-field-check-field-formula" %}';
        }

        $.post(url, data).done(function(data){
          var calculated = data.calculated;
          {#var rst = data.value;#}
          {#if (rst === undefined || rst == null)#}
          {#  rst = 'None';#}
          var errors = data.errors;
          var warnings = data.warnings;

          if (errors && errors.length > 0) {
            var text = errors.join('<br/>');
            if (warnings && warnings.length) {
              text += '<br/>';
              text += warnings.join('<br/>')
            }
            $.alert({
              icon: 'fa fa-warning text-danger',
              title: 'Formula calculation error',
              type: 'red',
              content: text,
              columnClass: 'width-50'
            });
            return;
          }
          if (!calculated)
            return;
          {#text = 'Result is: ' + rst;#}
          text = '';
          if (warnings.length) {
            text += '<br/>';
            text += warnings.join('<br/>')
          }
          $.alert({
            icon: 'fa fa-check',
            title: 'Formula has calculated successfully',
            type: 'blue',
            content: text,
            columnClass: 'width-50'
          });
        })
      });
    });

  </script>
{% endblock %}
